.editor-toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 5px;

  .inline, .block {
    color: var(--grey-dark);
    margin-right: 2px;
    margin-left: 2px;

    &.active {
      color: var(--black);
      background: var(--grey-background);
    }
  }

  .button-group {
    border-left: 1px solid var(--grey-light);
    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    align-items: center;

    .anticon-strikethrough {
      padding-bottom: 2px;
    }
  }
}