.editor-toolbar {
  .inline {
    color: var(--grey-dark);

    &.active {
      color: var(--black);
    }
  }

  .button-group {
    display: flex;
    align-items: center;

    .anticon-strikethrough {
      padding-bottom: 2px;
    }
  }
}