.editor-toolbar {
  .inline {
    color: var(--grey-dark);
    margin-right: 2px;
    margin-left: 2px;

    &.active {
      color: var(--black);
      background: var(--grey-background);
    }
  }

  .button-group {
    display: flex;
    align-items: center;

    .anticon-strikethrough {
      padding-bottom: 2px;
    }
  }
}