.public-DraftEditorPlaceholder-inner {
  color: var(--grey-dark);
  position: absolute;
  pointer-events: none;
}

.public-DraftStyleDefault-pre {
  margin-bottom: 0;
}

.editor-hide-placeholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.editor-blockquote {
  background-color: var(--grey-background);
  border-left: 3px solid var(--grey-dark);
  padding-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.editor-code-block {
  border-radius: 3px;
  vertical-align: middle;
  margin-bottom: 0;
  color: #e6e1dc;
  background: #232323;
  font-family: monospace;
  padding: 0 5px;
  white-space: pre-wrap;
  max-height: 400px;
  overflow: auto;
  box-sizing: border-box;
  line-break: anywhere;
}
