<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<div ng-controller="Workspace_sheetCtrl as workspace">

    <button class="btn btn-primary" type="button" ng-click="workspace.goBack()" style="margin-top: 1%;margin-left:1%;height:auto;width:auto">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>

    <h1 style="text-align: center;padding-top: 10px">{{workspace.workspaceInfo.name}} Workspace</h1>

    <div class="row" style="padding-top:1%;padding-left: 10%;padding-right: 10%;text-align: center">
        <div class="col-md-6">
            <div class="row">
                <div class="box box-solid box-default">
                    <div class="box-header">
                        <h3 class="box-title">Name</h3>
                    </div>
                    <div class="box-body">
                        {{workspace.workspaceInfo.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box box-solid box-danger">
                    <div class="box-header">
                        <h3 class="box-title">Privacy</h3>
                    </div>
                    <div class="box-body">
                        {{workspace.private ? 'Public Workspace' : 'Private Workspace'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box box-solid box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Member count</h3>
                    </div>
                    <div class="box-body">
                        {{workspace.users.length}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid box-success" style="">
                <div class="box-header">
                    <h3 class="box-title">Logo</h3>
                </div>
                <div class="box-body">
                    <div style="background-position: center; background-size: contain; width:50px; height:50px;"  {{workspace.workspaceInfo.logo}}></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="info-box bg-blue" align="center">
                <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Storage</span>
                    <span class="info-box-number">{{workspace.total}} {{workspace.unit}}</span>
                    <span class="progress-description">
                        The workspace {{workspace.workspaceInfo.name}} use a total of {{workspace.total}} {{workspace.unit}}
                      </span>
                </div>
            </div>
        </div>
    </div>
            <h1 style="text-align:center">Message Activity</h1>
    <div class="row" style="margin: 5px;text-align: center">
        <div class="col-md-3 col-md-offset-2">
            <label>Start Date :</label>
            <input class="form-control" id="startdate" name="startdate" style="text-align: center" type="text" ng-change="workspace.drawChart()" ng-model="workspace.startdate"/>
            <!-- <input id="date1" type="date" ng-change="workspace.drawChart()" ng-model="workspace.startdate">ng-value="workspace.startdate" ng-change="workspace.makeChart()">-->
        </div>
        <div class="col-md-3 col-md-offset-2">
            <label>End Date :</label>
            <input class="form-control" id="enddate" name="enddate" style="text-align: center" type="text" ng-change="workspace.drawChart()" ng-model="workspace.enddate"/>
            <!-- <input id="date2" type="date" ng-change="workspace.drawChart()" ng-model="workspace.enddate">-->
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var date_input=$('input[name="startdate"]'); //our date input has the name "date"
            var date_input2=$('input[name="enddate"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'yyyy-mm-dd',
                container: container,
                todayHighlight: false,
                autoclose: true,
            };
            date_input.datepicker(options);
            date_input2.datepicker(options);
        })
    </script>
    <canvas id="myChart" width="400" height="100"></canvas>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <h1 style="text-align:center">Files size by extension</h1>
        <canvas id="myDonut2" width="400" height="200"></canvas>
    </div>

    <div class="col-md-6 col-sm-6">
        <h1 style="text-align:center">Files count by extension</h1>
        <canvas id="myDonut" width="400" height="200"></canvas>
    </div>

</div>
    <h1 style="text-align: center;padding-top: 20px">Users in {{workspace.workspaceInfo.name}}</h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="user in workspace.users">
            <td>{{user.id}}</td>
            <td>
                <div style="background-position: center; background-size: contain; width:50px; height:50px; {{user.cssuserimage}}"></div>
            </td>
            <td>{{user.username}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td><button class="btn btn-primary" ng-click="workspace.getProfileView(user.id)">See profile</button></td>
        </tr>

        </tbody>
    </table>
</div>

</div>