<div ng-show="cuser.data.uid==status.ownerId || status.ownerId==0 || (status.isGroup && status.hasRightToEddit(status.ownerId))"
     style="border-radius:0;padding:0;">
	<div class="status input_status" style="display:flex;">
		<div ng-show="status.isGroup==false;" class="default_user_image status_image_owner"
		     style='border-radius: 50%; background-color: #EEE;{{ cuser.data.cssuserimage }}'></div>
		<div ng-show="status.isGroup==true;" class="default_group_image status_image_owner"
		     style="border-radius:20%; {{cgroup.data.csslogo}}"></div>

		<div style="flex:1;">
			<textarea style="width:100%" msd-elastic pseudo-autocomplete emoji-autocomplete
			          class="textarea_input form-control"
			          ng-model="status.newStat" placeholder="Comment allez-vous aujourd'hui ?"></textarea>
			<br>
			<button class="btn btn-primary" style="float:right" ng-disabled="status.newStat==''"
			        ng-click="status.create()">Publier
			</button>
		</div>
	</div>
		<!--<div style="margin-left:65px;">
			<button class="button_privacy" ng-class="{'active':status.newPrivacy=='P'}" ng-click="status.changePrivacy('P');">Public</button>
			<button class="button_privacy" ng-class="{'active':status.newPrivacy=='I'}" ng-click="status.changePrivacy('I');">Contact</button>
		</div>-->

</div>