<div class="container" ng-controller="LoginCtrl as login">
	<div class="card card-container">

		<center><span style="font-size: 30px;margin-bottom: 10px;" class="logo-lg"><b>Admin</b>Twake</span></center>

		<form class="form-signin">
			<span id="reauth-email" class="reauth-email"></span>
			<input ng-model="login.email" id="inputEmail" class="form-control" placeholder="Username"
			       required autofocus>
			<input ng-model="login.password" type="password" id="inputPassword" class="form-control"
			       placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login.login()">Sign in</button>
		</form>
	</div>
</div>