{
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "rules": {
      "semi": ["off"],
      "@typescript-eslint/semi": ["error"],
      "quotes": ["error", "double"],
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-explicit-any": 1,
      "@typescript-eslint/no-inferrable-types": [
        "warn", {
          "ignoreParameters": true
        }
      ],
      "@typescript-eslint/no-unused-vars": "warn",
      "@typescript-eslint/no-extra-semi": ["error"],
      "prettier/prettier": 2
    }
  }