.dot-typing {
  position: relative;
  left: -9999px;
  margin-left: 15px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--black-alpha-70);
  color: var(--black-alpha-70);
  box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
    9996px 0 0 0 var(--black-alpha-70);
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
  16.667% {
    box-shadow: 9988px -5px 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
  33.333% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
  50% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px -5px 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
  66.667% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
  83.333% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px -5px 0 0 var(--black-alpha-70);
  }
  100% {
    box-shadow: 9988px 0 0 0 var(--black-alpha-70), 9992px 0 0 0 var(--black-alpha-70),
      9996px 0 0 0 var(--black-alpha-70);
  }
}
