#HW_frame_cont {
  left: 70px !important;
}

.channel_footer {
  border-top: 1px solid var(--grey-background);
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  & > div {
    display: flex;
    flex-direction: row;
    padding: 11px 14px;
    box-sizing: border-box;
  }

  .line_1 {
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--grey-dark);
    font-size: 14px;

    .group_switch {
      margin-right: 8px;
      height: 24px;
      .current_company_logo {
        width: 24px;
        height: 24px;
        border-radius: var(--border-radius-base);
      }
    }
  }

  .line_2 {
    height: 46px;
  }

  #HW_badge_cont {
    position: absolute;
    top: -6px;
    right: 0;
    width: 90px;

    span.HW_visible {
      background: #827dff;
    }
  }

  .help {
    font-size: 12px;
    color: var(--grey-dark);
    line-height: 22px;
    width: auto;
    float: left;
    cursor: pointer;

    &:hover {
      color: var(--black);
    }
  }

  .plan {
    border-radius: var(--border-radius-base);
    font-size: 12px;
    height: 22px;
    float: right;
    line-height: 22px;
    vertical-align: middle;
    background: #e2f4e8;
    color: var(--green);
    padding: 0px 4px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    cursor: pointer;
    display: inline;

    &.free {
      background: #fff3cd;
      color: #ff9d00;
    }
  }
}

.loading_render {
  .channel_footer {
    display: none !important;
  }
}
