.inline-tag {
  cursor: pointer;
  background: var(--grey-light);
  border-radius: var(--border-radius-base);
  height: 20px;
  color: var(--grey-dark);
  font-size: 12px;
  padding: 0 5px;
  line-height: 18px;
  box-sizing: border-box;
  width: auto;
  display: inline-block;
  margin-right: 6px;
  font-weight: normal;
  &.selected {
    background: var(--green);
    color: var(--white);
  }
  &:hover {
    transition: 0.3s;
    opacity: 0.9;
  }
}
