<div class="title">
  Mes paramètres pour ce groupe
</div>
<div style="display:flex;height: 100%;">
  <div class="left-pane" ng-include="'@gviews/my-parameters/left-menu.html'">
  </div>
  <div style="flex:1" >
    <div scrollbar style="height: 100%;position:absolute;width:100%;overflow-x:hidde;" class="scroller">

      <div class="main-app">
        <div class="page-title">
          Mon profil sur ce groupe
        </div>

        Cette page est en cours de développement

      </div>

    </div>
  </div>
</div>
