@import '~constants/constants.scss';

.component_tabs {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    right: 0px;
    left: auto;
    top: 0px;
    height: 100%;
    width: 50px;
    z-index: 1;
    background: linear-gradient(to right, #ffffff00 0%, #ffffffff 100%);
  }

  & > .component_tabs_tabs {
    border-bottom: 1px solid $grey_light;
    padding: 0 16px;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;

    .component_tabs_tab {
      height: 40px;
      box-sizing: border-box;
      border-radius: 0;
      display: inline-block;
      padding: 8px 16px;
      font-weight: 500;
      color: $grey_dark;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: $black;
      }

      &.selected {
        background: transparent;
        border-bottom: 4px solid $primary;
        color: $black;
      }
    }
  }
  & > .body {
    padding: 16px;
  }
}
