<div style="padding:10px;text-align: center;" ng-controller="joinChannelCtrl as joinCtrl" ng-init="joinCtrl.init();">
  <h3 style="margin-top: 0px;">Bouh !</h3>
  <span ng-show="!joinCtrl.empty">Rejoindre une chaine de discussion</span>

  <div ng-show="joinCtrl.empty">Vous avez déjà rejoins tous les channels !</div>

  <div style="text-align: left;padding-left: 20px;margin-top: 15px;">

    <div ng-show="!joinCtrl.empty" ng-repeat="ch in joinCtrl.channels">
      <input class="checkbox" ng-checked="" type="checkbox" ng-model="joinCtrl.selected[ch.id]">
      <span style="font-size: 20px;margin-left: 10px;vertical-align: text-bottom;">{{ch.name}}</span>
    </div>

    <div class="modal-footer" ng-show="!joinCtrl.empty">
        <button class="btn btn-primary" type="button" ng-click="joinCtrl.join()">Rejoindre les chaines sélectionnées</button>
    </div>

  </div>

</div>
