<div style="padding:10px;text-align: center;" id="modalCreation" ng-controller="creationChannelCtrl as creationCtrl">
	<h3 style="margin-top: 10px;">Nouvelle chaine de discussion</h3>

  <div style="text-align: left;padding-left: 20px;margin-top: 15px;">

	  <center>
		  <input style="max-width: 400px;width:100%;" class="text_input form-control bordered" type="text"
		         placeholder='Nom de la nouvelle chaine' ng-model="creationCtrl.name"/>

		  <br><br>

		  <div class="btn btn-classic" ng-class="{'btn-primary':creationCtrl.privacy}" ng-model="creationCtrl.privacy"
		       uib-btn-radio="true">Chaine privée
		  </div>
		  <div class="btn btn-classic" ng-class="{'btn-primary':!creationCtrl.privacy}" ng-model="creationCtrl.privacy"
		       uib-btn-radio="false">Chaine publique
		  </div>

		  <br><br>
	  </center>

	  <div class="modal-footer">

		  <button class="btn btn-danger" type="button" ng-click="creationCtrl.cancel()">Annuler</button>

		  <button class="btn btn-primary" ng-show="creationCtrl.name.length>0" type="button"
		          ng-click="creationCtrl.create()">Créer
		  </button>
    </div>

  </div>

</div>
