<div id="modalCreation" ng-controller="addMembersCtrl as addCtrl" ng-show="cmsg.channels[addCtrl.channelId].privacy">
    <div class="modal-header">
        <h3>Inviter des membres</h3>
    </div>
	<div class="modal-body">
        <form>
            <table style="margin-top: 15px;">
              <thead>
                <td style="text-align:left;">
                  Participant
                </td>
                <td>
                </td>
              </thead>
              <tr ng-repeat="user in addCtrl.members" ng-class="{'selected': addCtrl.selectedMembers[user.id]}">
                <td>
                  <div style="display:flex">
                    <div class="groupCircleProfile" style="margin:0; {{user.cssuserimage}}"></div>
                    <div style="text-align:left; flex:1;display: flex;flex-direction: column;justify-content: center;padding-left: 10px;">
                      {{user.username}}
                    </div>
                  </div>
                </td>
                <td style="text-align: center;">
                  <input style="margin-top:5px !important;" type="checkbox" class="checkbox" ng-model="addCtrl.selectedMembers[user.id]">
                </td>
              </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addCtrl.invite()">Inviter les membres sélectionnés</button>
    </div>
</div>
<div ng-show="cgroup.data.right.Messages.general.create" ng-show="" ng-controller="setChannelCtrl as setCtrl" >
    <div class="modal-header">
        <h3>Paramètres</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form>
            <input type="text" class="form-control bordered" style="max-width:60%;display:inline-block;" ng-model="setCtrl.channel.name" >
            <div class="btn-group" style="display:inline-block;">
                 <label class="btn btn-primary"  ng-model="setCtrl.channel.privacy" uib-btn-radio="true">Private</label>
                 <label class="btn btn-primary"  ng-model="setCtrl.channel.privacy" uib-btn-radio="false">Public</label>
             </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="setCtrl.save();">Sauvegarder</button>
    </div>
</div>
