{% extends "Mail/fr/all.html.twig" %}

{% block title %} Votre demande de nouveau mot de passe {% endblock %}

{% block secondtitle %} Votre demande de nouveau mot de passe  {% endblock %}

{% block body %}

    <b> Bonjour {{ username|capitalize }},</b>
    <br>
    Vous avez demandé un nouveau mot de passe, voici le code d'activation dont vous avez besoin :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #837dff;">
            {{ code }}
        </div>
    </center>

{% endblock %}