{% extends "Mail/fr/all.html.twig" %}

{% block title %}E-mail confirmation{% endblock %}

{% block secondtitle %}E-mail confirmation{% endblock %}

{% block body %}

    <b>Bienvenue sur Twake !</b>
    <br>
    Pour terminer votre inscription, cliquez sur ce lien :
    <br>
    <a style="color: #837dff;"
       href="{{ twakeappurl|trim('/') }}{{ magic_link }}">{{ twakeappurl|trim('/') }}{{ magic_link }}</a>
    <br><br>
    En cliquant sur ce lien, vous acceptez <a style="color: #837dff;" href="https://twakeapp.com/files/TOS.pdf">les
    condition d'utilisation de Twake</a>.
    <br><br>

{% endblock %}