.group_switch {
  height: 74px;
  padding-top: 10px;

  &.image_only {
    padding-top: 0px;
    height: 32px;
    .current_company_logo {
      margin: 0px !important;
    }
    .company_name {
      display: none;
    }
  }

  .current_company_logo {
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    color: var(--secondary);
    font-size: 20px;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: var(--border-radius-base);
    margin: auto;
    margin-bottom: 8px;
    background-size: cover;
    background-position: center;
    font-weight: 500;
    position: relative;
    cursor: pointer;

    &.has_image {
      font-size: 0px;
    }
  }

  .company_name {
    color: var(--white);
    opacity: 1;
    text-align: center;
    font-size: 12px;
    height: 16px;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
  }

  .notification_dot {
    position: absolute;
    top: -8px;
    left: calc(50% + 8px);
    background: var(--red);
    width: 16px;
    height: 16px;
    border: 2px solid var(--secondary);
    box-sizing: border-box;
    border-radius: 50%;
  }
}

.loading_render {
  .group_switch {
    pointer-events: none;
    &::after,
    .notification_dot {
      opacity: 0 !important;
    }
    .current_company_logo {
      font-size: 0px;
      background: var(--grey-dark) !important;
    }
    .company_name {
      background: var(--grey-dark);
      border-radius: var(--border-radius-large);
      width: 32px;
      margin: auto;
      height: 12px;
      font-size: 0px;
    }
  }
}
