.link-preview {
  border-radius: 0px !important;
  border: 4px solid #dddddd !important;
  border-width: 0 0 0 4px !important;
  width: 450px;
  margin-top: 15px !important;
  padding-left: 15px !important;

  .delete-link-preview {
    display: none;
    position: absolute;
    left: -24px;
    top: 0;
    color: grey !important;
  }  
  &:hover .delete-link-preview {
    display: block;
  }

  .ant-card-body {
    padding: 0;
  }

  .ant-card-meta-avatar {
    padding-right: 0px;
    width: 100%;

    span > img {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: text-top;
    }

    .ant-avatar {
      text-align: start;
    }
  }

  .link-preview-domain {
    font-weight: bold;
  }

  .preview-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

    a {
      font-size: 14px;
      font-weight: bold;
      color: #000000;
      float: left;
    }
  }

  .ant-card-meta-description {
    margin-bottom: 10px;
  }

  .ant-card-cover {
    cursor: pointer;

    img {
      border-radius: 8px 8px 8px 8px;
    }
  }
}