.current-company-header {
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
  width: auto;
  box-sizing: border-box;

  .notifications {
    cursor: pointer;
    color: var(--black-alpha-50);
    font-size: 16px;

    .bell {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 24px;

      &:hover {
        background: var(--primary-background);
        border-radius: var(--border-radius-base);
      }

      &.disabled {
        color: var(--red);
      }
      &.sleep {
        color: var(--warning);
      }
    }

    .remaning-time {
      color: grey;
      font-style: italic;
    }
  }

  .current-company {
    flex: 1;
    overflow: hidden;
    height: 48px;
    cursor: pointer;

    .name {
      display: flex;
      cursor: pointer;

      .text {
        height: 22px;
        font-size: 16px;
        color: var(--secondary);
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 700;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .icon {
        height: 22px;
        line-height: 22px;
        font-size: 20px;
        min-width: 24px;
        margin-left: -4px;
        color: var(--secondary);
      }
    }

    .user-info {
      display: flex;
      color: var(--black-alpha-70);
      align-items: center;

      .ant-badge-status {
        align-items: center;
        margin-right: 5px;

        .ant-badge-status-text {
          display: none;
        }
      }
      .ant-avatar-image {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 18px;
        overflow: clip;
        border-radius: 50%;
        margin-right: 3px;
        vertical-align: top;
      }

      .status {
        position: relative;
        display: inline-block;
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 6px;
        background: var(--green);
        border: 1px solid var(--grey-background);

        &.grey {
          background: var(--grey-dark);
        }
        &.red {
          background: var(--red);
        }
      }

      .icon {
        display: flex;
        align-items: center;
        padding-right: 2px;
        margin-right: 4px;
        cursor: pointer;
      }

      .text {
        font-size: 14px;
        line-height: 20px;
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .emoji-container {
        margin-right: 3px;
        display: inline-block;
        height: 16px;
      }
    }
  }
}

.loading_render {
  .current_user {
    pointer-events: none;
    .user_head {
      background: #dfdfdf !important;
    }
    .user_head,
    .name,
    .subname {
      background: var(--primary-background);
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: var(--primary-background);
      background: linear-gradient(
        to right,
        var(--primary-background) 8%,
        #f2f2f2 18%,
        var(--primary-background) 33%
      );
      background-size: 800px 104px;
      & > * {
        display: none !important;
      }
    }
    .name {
      background: #dfdfdf !important;
      height: 16px;
      border-radius: var(--border-radius-large);
      width: 70%;
      margin-top: 2px;
    }
    .subname {
      margin-top: 6px;
      height: 16px;
      border-radius: var(--border-radius-large);
      width: 90%;
    }
  }
}

.current_company_header_loader {
  display: flex;
  width: auto;
  box-sizing: border-box;

  .current_company_loader {
    flex: 1;
    overflow: hidden;
    height: 48px;
    .ant-skeleton > .ant-skeleton-content {
      height: 48px;
    }
  }
}
