{% extends 'EasyAdminBundle:default:layout.html.twig' %}

{% block body_id 'easyadmin-dashboard' %}
{% block body_class 'list dashboard' %}

{% block content_title %}
    Workspace
{% endblock %}

{% block content_header %}
    <h1>Workspace</h1>
{% endblock content_header %}

{% block main %}
    <div class="row">


    </div>
{% endblock main %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}
