<div class="page_block title">
    Modification du profil public
</div>

<div ng-controller="accountProfileCtrl as accountProfile">
    <div class="page_block">
        <form class="form_block">
            Enregistrer le profil public
            <div type="button" class="save_button" ng-class="{'saved': accountProfile.saveButtonIsBlocked, 'unsaved': !accountProfile.saveButtonIsBlocked}" ng-click="accountProfile.saveIdentity()"></div>
        </form>
    </div>

    <div class="page_block">
      <div class="title">Identité</div>
        <form class="form_block identity">

                    <div class="input_contener">

                        <input style="max-width: 200px;" class="text_input form-control" type="text" disabled value="" ng-model="cuser.data.username" />

                        <div class="right_label">
                            <div class="input_privacy" data-value="public" data-disabled="1"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">

                        <input placeholder="Prénom" style="max-width: 200px;" class="text_input form-control" type="text" value="" name="firstname" ng-model="accountProfile.data.firstname" ng-change="accountProfile.unblockSaveButton()" />

                        <div class="right_label">
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' ng-class="accountProfile.privacy.firstname" ng-model="accountProfile.privacy.firstname" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>

                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">

                        <input placeholder="Nom" style="max-width: 200px;" class="text_input form-control" type="text" value="" name="lastname" ng-model="accountProfile.data.lastname" ng-change="accountProfile.unblockSaveButton()" />

                        <div class="right_label">
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' ng-class="accountProfile.privacy.lastname" ng-model="accountProfile.privacy.lastname" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">

                        <select name="gender" class="select_input" style="margin-left: 10px;margin-right: 10px;max-width: 160px;" ng-model="accountProfile.data.gender" ng-change="accountProfile.unblockSaveButton()">
                            <option value="">Ne pas renseigner</option>
                            <option value="M">Homme</option>
                            <option value="F">Femme</option>
                            <option value="A">Autre</option>
                        </select>

                        <div class="right_label">
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' ng-class="accountProfile.privacy.gender" ng-model="accountProfile.privacy.gender" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">

	                    <div class="date" data-date-max-view-mode='2' data-date-assume-nearby-year='1'
	                         data-date-clear-btn="true" data-date-format='yyyy-mm-dd' data-date-start-date="-130y"
	                         data-date-end-date="0d" data-provide="datepicker">
                          <input ng-change="accountProfile.unblockSaveButton()" placeholder="yyyy-mm-dd" type="text"  ng-model="accountProfile.data.birthday" class="form-control">
                          <div class="input-group-addon" style="display:none">

                          </div>
                        </div>

                        <div class="right_label">
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' ng-class="accountProfile.privacy.birthday" ng-model="accountProfile.privacy.birthday" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>
                    <div style="color: red;" ng-show="accountProfile.birthdayError">Mauvais format de date de naissance</div>

                    <div class="clearfix"></div>

                    <div class="form_title">À propos de vous
                    </div>
                    <div class="input_privacy" data-value="public" data-disabled="1"></div>


                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;width: 100%; padding-bottom: 10px;">

                        <textarea placeholder="Dites au monde à quel point vous êtes génial !" class="text_input form-control" style="resize: vertical;" rows="4" name="description" ng-model="accountProfile.data.description" ng-change="accountProfile.unblockSaveButton()"></textarea>

                        <div class="right_label" style="margin-right: 8px;margin-top: 5px;" >
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' disabled ng-class="accountProfile.privacy.description" ng-model="accountProfile.privacy.description" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix"></div>



                    <div class="input_contener contain_all" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;width: 100%; padding-bottom: 10px;">

                        <tags-input class="tag-input" style="width: 100%;" ng-model="accountProfile.data.tags" on-tag-added="accountProfile.unblockSaveButton()" on-tag-removed="accountProfile.unblockSaveButton()">
                            <auto-complete source="autoCompleteTags($query,'A')"></auto-complete>
                        </tags-input>

                        <div class="right_label" style="margin-right: 10px;margin-top: 5px;" >
                            <div class="input_privacy" data-name="privacy_firstname" data-value="">
                                <select class='privacy_select' disabled ng-class="accountProfile.privacy.hobbies" ng-model="accountProfile.privacy.hobbies" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                            </div>
                        </div>
                    </div>



                    <div class="input_privacy" style="display:none;" data-name="privacy_hobbies" data-value=""></div>
                    <div class="nfo">Séparés par des virgules</div>

                    <div class="input_tags" data-input="real_input_for_tags" data-disabled="0" data-can-create="1" data-object="prfl" data-id="12" data-tag-type="A"></div>
                    <input type="hidden" id="real_input_for_tags" name="hobbies" value="">



        </form>
    </div>

    <div class="page_block ">
      <div class="title">Apparence</div>

          <div class="form_title" style="margin-bottom: 5px;margin-top: 0px">Image de profil</div>

          <div class="nfo">
            Votre image de profil doit être de format gif, png ou jpg. Elle ne doit pas excéder 1mo.
            <br>
            <a class="red_link" ng-click="accountProfile.userimage=undefined;accountProfile.upload(null, 'profile')">Supprimer l'image de profil</a>
          </div>

          <div style="width:100%; background: #EEE;height: 70px;margin-top: 5px;display:flex;">
            <div style="text-align: center;flex:1;">
              <div style="display:inline-block;" ngf-thumbnail="accountProfile.userimage || cuser.data.userimage  || '/public/img/user_noimg.svg'" ngf-as-background="true" ng-model="accountProfile.userimage" ngf-select ngf-drop ngf-accept="'image/*'" ngf-pattern="'image/*'" class="default_user_image modify" >
                <div class="text">
                  Modifier
                </div>
              </div>
            </div>
            <div style="width:{{(accountProfile.userimage_errors.error)?100:0}}%;overflow:hidden;text-align: center;transition: all 0.2s;">
              <div style="color: red;padding: 18px;justify-content: center;display: flex;flex-direction: column;" class="nfo" ng-show="accountProfile.userimage_errors.error" >Une erreur est survenue, votre image n'a pas été modifiée.</div>
            </div>
          </div>

          <div class="form_title" style="margin-bottom: 5px;">Image de couverture</div>


          <div class="input_upload mycover" data-script="covr" data-remove-btn="remove_cover_image" data-class="img_cover" data-input="#input_cover" data-text="Modifier l'image de couverture"></div>
          <input type="hidden" id="input_cover" name="cover_image">

          <div class="nfo" style="margin-top: 10px;">
              Votre image de couverture doit être de format gif, png ou jpg. Elle ne doit pas excéder 2mo. Sa taille doit être au minimum de 900x230 px.
              <br>
              <a class="red_link" ng-click="accountProfile.coverimage=undefined;accountProfile.upload(null,'cover')">Supprimer l'image de couverture</a>

          </div>

          <div style="width:100%; background: #EEE;height: 120px;margin-top: 5px;display:flex;">
            <div style="text-align: center;flex:1;">
	            <div style="width:350px; height:120px; display:inline-block;"
	                 ngf-thumbnail="accountProfile.coverimage || cuser.data.usercover  || ''" ngf-as-background="true"
	                 ng-model="accountProfile.coverimage" ngf-select ngf-drop ngf-accept="'image/*'"
	                 ngf-pattern="'image/*'" class="default_user_cover modify">
                <div class="text">
                  Modifier
                </div>
              </div>
            </div>
            <div style="width:{{(accountProfile.coverimage_errors.error)?100:0}}%;overflow:hidden;text-align: center;transition: all 0.2s;">
              <div style="color: red;padding: 18px;justify-content: center;display: flex;flex-direction: column;" class="nfo" ng-show="accountProfile.coverimage_errors.error" >Une erreur est survenue, votre image n'a pas été modifiée.</div>
            </div>
          </div>

      </div>

<!--
      <div class="page_block ">
        <div class="title">Personnalisation</div>
          <form class="form_block perso">


            <div class="form_title">Informations visibles sur mon profil public</div>
            <!-- TODO --
            <br><br>

            Personnes pouvant voir mes amis : <div class="input_privacy"  data-name="privacy_friends" data-value=""></div>

            <br><br>

            Personnes pouvant voir mes groupes : <div class="input_privacy"  data-name="privacy_groups" data-value=""></div>

            <br><br>


        </form>
    </div>-->

    <div class="page_block">
      <div class="title">Contact</div>

        <form class="form_block contact">

            <div class="form_title">Vos adresses mail</div> <div class="nfo">Vous pouvez éditer vos addresses dans les paramètres de compte.</div>
            <div style="margin-top: 15px;">Adresse principale :</div>

            <div class="input_contener" style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;">

                <input style="max-width: 400px;" class="text_input form-control" type="text" disabled value="" email="" ng-model="accountProfile.data.email" ng-change="accountProfile.unblockSaveButton()" />

                <div class="right_label">
                    <div class="input_privacy" data-name="privacy_firstname" data-value="">
                        <select class='privacy_select' ng-class="accountProfile.privacy.email" ng-model="accountProfile.privacy.email" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                    </div>
                </div>
            </div>

            <div class="" ng-show="accountProfile.data.secondaryEmails.length>0">Adresses secondaires :</div>

            <div class="input_contener" style="margin-top: 5px;"ng-repeat="email in accountProfile.data.secondaryEmails">

                <div class="input_contener" style="margin-top: 10px;">

                    <input style="max-width: 400px;" class="text_input form-control" type="text" disabled value="" ng-model="email.email" ng-change="accountProfile.unblockSaveButton()">

                    <div class="right_label">
                        <div class="input_privacy" data-name="privacy_firstname" data-value="">
                            <select class='privacy_select' ng-class="accountProfile.privacy.emails[email.id]" ng-model="accountProfile.privacy.emails[email.id]" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <div class="page_block">
        <div class="title">Vos abonnements</div>

        <div class="form_title">Visibilité</div>
        <form class="form_block">
            <div class="right_label">
                <div class="input_privacy" data-name="privacy_firstname" data-value="">
                    <select class='privacy_select' ng-class="accountProfile.privacy.subscriptions" ng-model="accountProfile.privacy.subscriptions" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                </div>
            </div>
        </form>
    </div>
    <div class="page_block">
      <div class="title">Vos Groupes</div>

        <form class="form_block contact">

            <div class="input_contener" style="margin-top: 5px;"ng-repeat="workspace in accountProfile.data.workspaces">

                <div class="input_contener" style="margin-top: 10px;">

                    <input style="max-width: 400px;" class="text_input form-control" type="text" disabled value="" ng-model="workspace.name" ng-change="accountProfile.unblockSaveButton()">

                    <div class="right_label">
                        <div class="input_privacy" data-name="privacy_firstname" data-value="">
                            <select class='privacy_select' ng-class="accountProfile.privacy.workspaces[workspace.id]" ng-model="accountProfile.privacy.workspaces[workspace.id]" ng-change="accountProfile.unblockSaveButton()"><option selected value='public'>Public</option><option value='contacts'>Contacts</option><option value='private'>Privé</option></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
