<div class="page_block title">
    Vos contacts
</div>

<div ng-controller="contactsCtrl as contacts">
  <div class="page_block">

      <div class="title">
          Rechercher des contacts
      </div>

      <input type="text" ng-model="contacts.contactTyped" style="width:50%;display:inline-block;" class="form-control bordered"/>
      <button class="btn btn-info" ng-click="contacts.updateContactSearched()">Chercher</button>
      <div id="friends">
	      <a target="_blank" ui-sref="user({username:contact.username})" class="no-animate user_line profil_relation"
	         ng-repeat="contact in contacts.contactSearched" ng-include="'@pviews/templates/contact_line.html'"></a>
      </div>
  </div>

  <div class="page_block">

      <div class="title">
          Tous vos contacts
         <!-- <input id="contact_search" style="height:22px;width: 130px;padding-left:5px;float:right;" class="form-control text-input" type="text" placeholder="Chercher" onkeyup="searchContacts(this.value);">-->

      </div>
      <!--<div class="nfo">
          Vous pouvez ne pas afficher vos contacts sur votre profil, rendez-vous dans vos paramètres de compte.
      </div>-->


      <div id="demandes_mask" ng-show="contacts.contactsListAsked.length>0">

          Vous avez des demandes en attente<br>

          <div id="demandes">
            <span class="" ng-repeat="contact in contacts.contactsListAsked" ng-controller="btnContactCtrl as btn" ng-init="btn.init(contact.id)" ng-include="'@pviews/templates/contact_line_ask.html'"></span>
          </div>

          <hr>
      </div>

      <div id="friends">
        <a  ui-sref="user({username:contact.username})" class="user_line profil_relation" ng-repeat="contact in contacts.contactsList" ng-include="'@pviews/templates/contact_line.html'"></a>
      </div>

	  <div style="font-size: 12px;text-align: center;width: 100%;display: block;line-height: 30px;"
	       ng-show="!contacts.contactsListLoading && contacts.contactsList.length==0">
          Vous n'avez aucun contact.
      </div>

      <div style="margin: 10px" ng-show="contacts.contactsListLoading">
          <div class="icon_loading"></div>
      </div>

  </div>
</div>
