{% extends "TwakeUsersBundle:Mail:all.html.twig" %}

{% block body %}
Bonjour {{ pseudo }} !
<br><br>
Pour terminer l'activation de votre compte sur Twake, cliquez ici :<br>
<a href="https://twakeapp.com/register/confirm/{{ token }}">https://twakeapp.com/register/confirm/{{ token }}</a>
{% endblock %}