{% extends "TwakeUsersBundle:Mail:all.html.twig" %}

{% block body %}
Le groupe {{ group.name }} vous a invité à devenir membre.<br>
Créez un compte avec votre adresse {{ mail }} pour l'ajouter sur Twake.
<br><br>
Si vous avez déjà un compte avec une autre adresse mail, cliquez ici pour ajouter cette adresse en tant que seconde adresse mail :<br>
<a href="https://twakeapp.com/account/verifymail/{{ token }}">https://twakeapp.com/account/verifymail/{{ token }}
</a>
{% endblock %}