[submodule "frontend/desktop"]
	path = frontend/desktop
	url = https://gitlab.com/Twake/Twake-react.git
[submodule "frontend/electron"]
	path = frontend/electron
	url = https://gitlab.com/Twake/Twake-Electron.git
[submodule "frontend/mobile"]
	path = frontend/mobile
	url = https://gitlab.com/Twake/Twake-React-Native.git
[submodule "gatling"]
	path = gatling
	url = https://gitlab.com/Twake/gatling
