<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="app/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
        <server name="KERNEL_DIR" value="app/" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/WebsiteApi</directory>
            <exclude>
                <directory>src/WebsiteApi/*Bundle/Resources</directory>
                <directory>src/WebsiteApi/*/*Bundle/Resources</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/Resources</directory>
                <directory>src/WebsiteApi/*Bundle/DependencyInjection</directory>
                <directory>src/WebsiteApi/*/*Bundle/DependencyInjection</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/DependencyInjection</directory>

                <file>src/WebsiteApi/*Bundle/*Bundle.php</file>
                <file>src/WebsiteApi/*/Bundle/*Bundle.php</file>
                <file>src/WebsiteApi/*/Bundle/*Bundle/*Bundle.php</file>

                <directory>src/WebsiteApi/*Bundle/Command</directory>
                <directory>src/WebsiteApi/*/*Bundle/Command</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/Command</directory>

                <directory>src/WebsiteApi/*Bundle/Controller</directory>
                <directory>src/WebsiteApi/*/*Bundle/Controller</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/Controller</directory>

                <directory>src/WebsiteApi/*Bundle/Topic</directory>
                <directory>src/WebsiteApi/*/*Bundle/Topic</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/Topic</directory>

                <directory>src/WebsiteApi/*Bundle/Tests</directory>
                <directory>src/WebsiteApi/*/*Bundle/Tests</directory>
                <directory>src/WebsiteApi/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
