.editor-toolbar {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  margin-right: -4px;

  .button-group:first-child {
    padding-left: 0;
    border-left: none;
  }

  .inline,
  .block {
    color: var(--grey-dark);

    &.active {
      color: var(--black);
      background: var(--primary-background);
    }
  }

  .button-group {
    border-left: 1px solid var(--grey-light);
    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    align-items: center;
  }
}
