.draggable {
  .js-drag-handler {
    cursor: grab;
    width: 100%;
    min-height: 16px;
  }
}

.dragging {
  cursor: grabbing !important;
}

.draggable_clone {
  position: absolute;
  z-index: 1000;
  left: 0px;
  top: 0px;
  pointer-events: none;

  & > * {
    opacity: 0.5;
  }

  .draggable_number {
    opacity: 1;
    position: absolute;
    right: -10px;
    bottom: -10px;
    background: #fff;
    color: var(--primary);
    font-size: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-base);
  }
}

.dragging_opacity {
  //opacity: 0.5;
}

.droppable_zone {
  background: #f2f2f200;
  margin: 0px;
  border-radius: var(--border-radius-base);
  transition: margin 0.2s, border 0.2s;
  border: 0px dashed #ffffff00;

  .empty {
    border-radius: var(--border-radius-base);
    background: #ffffff;
    padding: 0px;
    text-align: center;
    color: #00000088;
    margin: 0px;
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
    transition: margin 0.2s, opacity 0.2s, height 0.2s, padding 0.2s, max-height 0.2s;
  }
}

.dragging.drag_channel .droppable_zone.for_channel,
.dragging.drag_message .droppable_zone.for_message {
  border: 2px dashed #f2f2f2;
  margin: 10px 0px;

  .empty {
    padding: 10px;
    opacity: 1;
    max-height: 40px;
    .m-icon-small {
      vertical-align: bottom;
    }
  }

  &:hover {
    border: 2px dashed #eaeaea;
    background: #f2f2f2;
    .empty {
      background: #f2f2f2;
    }
  }
}
