@import '~constants/constants.scss';

.repetition_popup {
  font-weight: 500;

  .title {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .week_day {
    height: 40px;
    padding-top: 6px;
    box-sizing: border-box;

    div {
      width: 25px;
      line-height: 25px;
      text-align: center;
      border-radius: 25px;
      display: inline-block;
      vertical-align: middle;
      padding-top: 1px;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
    }
  }

  .selectedColor {
    background-color: $primary;
    color: $grey_background;
  }

  .unselectedColor {
    background-color: $grey_background;
    color: $primary;

    &:hover {
      background: $primary_background;
    }
  }

  .popup_line {
    input {
      width: 100px;
    }

    .onDate,
    .after {
      .radio_with_label {
        width: 100px;
      }
    }

    .onDate {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .datePicker {
      display: inline-block;
    }

    .after {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}
