.emoji-mart {
  border: none;
  color: var(--grey-dark);
  font-size: 14px;
  width: unset !important;
  left: 0px;
  .emoji-mart-emoji {
    padding: 7px;
  }
}

.emoji-mart-search > input {
  padding-top: 6px;
  font-size: 14px;
}
.emoji-mart-emoji {
  display: inline-flex;
  align-items: center;
}
