rm .table {
  overflow: hidden;
  border-radius: var(--border-radius-base);
  margin-bottom: 16px;
  border: 1px solid var(--grey-background);
  font-weight: 500;

  &.unfocused {
    box-shadow: none;
  }

  &.loading {
    opacity: 0.5;

    .tr .item .line {
      pointer-events: none;
      border-radius: var(--border-radius-large);
      height: 16px;
      margin-top: 8px;
      width: 200px;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background-repeat: repeat !important;
      background-image: linear-gradient(
        to right,
        var(--grey-light) 0px,
        #f2f2f2 120px,
        var(--grey-light) 234px
      ) !important;

      & > * {
        opacity: 0 !important;
      }
    }
  }

  .headerTable {
    background: var(--grey-background);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid var(--grey-background);
  }

  .footerTable {
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    padding: 5px 10px;
    border-top: 1px solid var(--grey-background);
    border-bottom: 1px solid var(--grey-background);
  }
  .contentTable {
    .tr {
      display: flex;
      border-bottom: 1px solid var(--grey-background);
      padding: 8px;
      font-size: 12px;

      &:hover {
        background: var(--grey-background);
      }

      &:last-child {
        border-bottom: none;
      }

      & > div {
        position: relative;
        min-height: 32px;

        & > .absolute_position {
          width: 100%;
          position: absolute;
          height: 100%;
          display: flex;
        }
      }
    }

    .fix_text_padding_medium {
      padding: 8px 0;
      display: inline-block;
      line-height: 18px;
    }

    .text-complete-width {
      overflow: hidden;
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
