.component_doc {
  background: var(--grey-background);
  padding: 25px;
  max-height: 100vh;
  overflow: scroll;
  box-sizing: border-box;

  .section {
    background: var(--white);
    max-width: 900px;
    margin: auto;
    left: 0;
    right: 0;
    padding: 25px;
    box-sizing: border-box;
    border-radius: var(--border-radius-base);
    margin-top: 25px;
  }

  .header {
    input {
      background: var(--black);
      color: #fff;
      font-family: monospace;
    }
  }

  .subtitle {
    font-weight: 700;
  }

  .properties {
    border-collapse: collapse;
    width: 100%;

    thead {
      font-weight: 700;
    }

    td {
      border: 1px solid var(--grey-background);
      padding: 8px;
    }
    .type {
      background: var(--grey-background);
      padding: 2px 4px;
      border-radius: var(--border-radius-base);
    }
  }
}
