@import '~components/constants.scss';

.ant-layout .main-view-layout {
  .main-view-header {
    padding: 0;
    height: 47px;

    .ant-divider {
      margin: 0;
      height: 2px;
    }
    .ant-row {
      padding: 0 16px;
      line-height: 47px;
    }
  }

  .main-view-content {
    padding: 0px;

    .main-view-tabs {
      .ant-tabs-nav {
        padding: 0 8px;
      }
    }
  }
}
