<div class="menu_user" style="margin: 10px 0px;">
	<div class="menu_item" ng-class="{'menu_item_active':chat.searchData.pinned}"
	     ng-click="chat.searchData.pinned = true; chat.searchData.files = false; chat.searchDelayed();">Messages
		épinglés
	</div>
	<div class="menu_item" ng-class="{'menu_item_active':!chat.searchData.pinned && !chat.searchData.files}"
	     ng-click="chat.searchData.pinned = false; chat.searchData.files = false; chat.searchDelayed();">Messages non
		épinglés
	</div>
	<div class="menu_item" ng-class="{'menu_item_active':chat.searchData.files}"
	     ng-click="chat.searchData.pinned = false; chat.searchData.files = true; chat.searchDelayed();">Messages
		contenant des fichiers
	</div>
</div>

<div scrollbar class="message-list-container" message-list-container>

    <div ng-class="{'loading':chat.searchLoading}">
      <span style="text-align: center;display: block;height:40px;line-height:40px;min-height:0px;" class="nfo" ng-show="chat.searchNoResult">Aucun résultat</span>

	    <div class="message" ng-include="'@views/message_search.html'" ng-repeat="message in chat.searchMessages"
	         ng-class="{'message_pinned':message.pinned}"></div>
    </div>

</div>

<div class="message-input">

  <div class="more-option-button" style="font-size: 15px;line-height: 42px;" ng-click="chat.search = false">
	  <i class="fa fa-chevron-left" uib-tooltip="Revenir aux messages" tooltip-placement="top"></i>
  </div>

  <div class="input-container" style="position: relative;">

    <textarea ng-change="chat.searchDelayed()" style="width:100%;" ng-click="chat.edit=0" rows="1" ng-model="chat.searchData.content" placeholder="Contient" class="form-control">
    </textarea>

  </div>

  <div class="chatSearchOptions">

    <div class="input-group search" style="width: 100px">
      <input ng-change="chat.searchDelayed()" placeholder="User" pseudo-autocomplete user-only="true" type="text" ng-model="chat.searchData.user" class="form-control">
    </div>

    <div date-clear-fix class="input-group search date" data-date-autoclose="true" data-date-title="After" data-date-max-view-mode='2' data-date-assume-nearby-year='1' data-date-clear-btn="true" data-date-format='After:yyyy-mm-dd' data-date-start-date="01/01/2017" data-date-end-date="0d" data-provide="datepicker">
      <input ng-change="chat.searchDelayed()" placeholder="After" type="text" ng-model="chat.searchData.after" class="form-control">
      <div class="input-group-addon" style="display:none"></div>
    </div>

    <div date-clear-fix data-date-autoclose="true" class="input-group search date" data-date-title="Before" data-date-max-view-mode='2' data-date-assume-nearby-year='1' data-date-clear-btn="true" data-date-format='Before:yyyy-mm-dd' data-date-start-date="01/01/2017" data-date-end-date="0d" data-provide="datepicker">
      <input ng-change="chat.searchDelayed()" placeholder="Before" type="text" ng-model="chat.searchData.before" class="form-control">
      <div class="input-group-addon" style="display:none"></div>
    </div>
  </div>

</div>
