<div class="dragTopBar"></div>

<div class="electron-buttons" ng-show="window.macos">
  <a id="electron-close-btn" class="close" onclick="window.getFocused().close()"></a>
  <a id="electron-min-btn" class="reduce" onclick="window.getFocused().minimize()"></a>
  <a id="electron-max-btn" class="extend" onclick="window.getFocused().maximize()"></a>
</div>

<div class="electron-wbuttons" ng-show="window.windows">
  <a id="electron-min-btn" class="icon-minimize" onclick="window.getFocused().minimize()"></a>
  <a id="electron-max-btn" class="icon-maximize" onclick="window.getFocused().maximize()"></a>
  <a id="electron-close-btn" class="icon-close" onclick="window.getFocused().close()"></a>
</div>
