<div style="padding:10px;text-align: center;" id="share" ng-controller="shareCtrl as shareCtrl">
  <h3 style="margin-top: 0px;">Partage</h3>
  <div style="text-align: left;padding-left:0px;margin-top: 15px;">
    <textarea style="width:90%;border:solid;border-width:0px;resize: none;padding:10px;display:block;margin:auto;" class="text_input form-control bordered" type="text" placeholder='Ajouter un commentaire' ng-model="shareCtrl.name" /></textarea>

    <div class="status" style="border:solid;border-width:1px;border-color:rgba(0,0,255,0.2);">
        <div ng-show="status.isGroup==false;" class="default_user_image status_image_owner" style='{{ userCtrl.user.profil }}'></div>
        <div ng-show="status.isGroup==true;" class="default_group_image status_image_owner" style="border-radius:20%; {{cgroup.data.csslogo}}"></div>
        <div style="display:inline-block;" >
            <div class="status_owner">
                {{shareCtrl.status.owner.username}}
            </div>
            <div class="publish">
                a publié :
            </div>
            <div class="when">
                {{shareCtrl.status.shareStatus.date}}
            </div>
        </div>
        <div class="status_content">
            {{shareCtrl.status.shareStatus.content}}
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="shareCtrl.share()">Partager</button>
    </div>
</div>
</div>
