<div style="padding:10px;text-align: center;">
  <h3 style="margin-top: 0px;">Upload</h3>
  Où voulez-vous mettre ce fichier ?

  <div style="width: 100%;display: flex;margin-bottom: 10px;margin-top: 15px;">
    <div style="width:50%" ng-click="upload.choose('drive');">
      <div class="pane-select">
        <div class="logo">
          <i class="fa fa-hdd-o"></i>
        </div>
        <div class="name">
          Drive
        </div>
        <div class="text">
	        Les images sont enregistrées dans le drive dans un dossier Messages, les fichiers uploadés doivent faire
	        moins de 50mo.
        </div>
      </div>
    </div>
    <div style="width:50%">
      <div class="pane-select" ng-click="upload.choose('temp');">
        <div class="logo">
          <i class="fa fa-clock-o"></i>
        </div>
        <div class="name">
          Temporaire
        </div>
        <div class="text">
	        Les plus anciennes images seront supprimées. Vous ne pouvez pas uploader un fichier de plus de 10 mo.
        </div>
      </div>
    </div>
  </div>
</div>
