<div class="title">Importation de documents</div>
<div ng-repeat="(name,obj) in upload.nameUpload" style="padding:10px;display:flex;">
	<div style="display:inline-block;vertical-align:middle;max-width:120px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;line-height: 20px;text-align: center;width:100px">
		{{name | miniName: 50}}
	</div>
	<div style="padding-left:10px;flex:1;height:20px;">
		<uib-progressbar value="obj.value">{{obj.value}}% ({{obj.size | filesize}})</uib-progressbar>
	</div>
	<div style="width:30px;color: #F00;line-height: 20px;text-align:center;">
		<i style="cursor:pointer" ng-click="obj.uploader.abort()" class="fa fa-ban" aria-hidden="true"></i>
	</div>
</div>