<div style="margin-top: 5px">
  <div style="width: 100%; display: inline-block;" class="default-text">
    <div style="display: flex">
      <div class="default_group_image groupSquareModule" style="margin:0; margin-left:10px; display: inline-block;{{link.csslogo}}"></div>
      <div style="margin-left: 10px; flex:1">{{link.name}}<br/><span class="nfo">{{link.key}}</span></div>
      <div ng-show="link.status == 'P' && !link.asked" style="margin-right: 50px;line-height:50px;font-weight: bold"> En attente d'acceptation</div>
      <div style="margin-right: 5%">
        <div ng-show="link.status == 'P' && link.asked" ng-click="plc.accept(link)" class="btn btn-success" style="margin-right: 50px; height: 46px; line-height: 32px"> Accepter la demande </div>
        <div ng-show="link.status == 'P' && link.asked" ng-click="plc.remove(link)" class="btn btn-danger" style="height: 46px; line-height: 32px"> Refuser la demande </div>
        <div ng-show="link.status == 'P' && !link.asked" ng-click="plc.remove(link)" class="btn btn-danger" style="height: 46px; line-height: 32px"> Annuler la demande </div>
      </div>
    </div>
  </div>
</div>