<div ng-controller="marketplaceGeneralCtrl as mpCtrl" style="position:relative;height:100%;">
    <div class="title" >
      Marketplace
    </div>
    <div class="page" style="height:100%;">
        <div scrollbar style="height: 100%;position:absolute;width:100%;overflow-x:hidden;" class="scroller">
	        <!--<div style="height: 40vh;min-height: 300px;background: #111;" uib-carousel active="mpCtrl.active" interval="5000" no-wrap="noWrapSlides">
		<div uib-slide="" style="height:100%;" ng-repeat="slide in mpCtrl.slides" index="slide.id" class="ng-scope ng-isolate-scope item">
				<div class="app_promoted" style="{{slide.app.csscover}};width:100%;height:100%;" >
					<div class="degrade">
						<div style="position:relative;height:100%;width:100%;">
						  <a class="default-text" ui-sref="applicationProfil({aid:slide.app.id})">
							<div class="app_promoted_hover" style="position:absolute;height:130px;width:100%;top:0;bottom:0;margin:auto;">
								<div class="logo_app img_profil_app_promoted" style="{{slide.app.cssthumbnail}}">
								</div>
								<div class="text_profil_app_promoted">
									<div class="title_profil_app_promoted" >{{slide.app.name}}</div>
									<div class="description_profil_app_promoted">{{slide.app.shortDescription}}</div>
								</div>
							</div>
						  </a>
						</div>
					</div>
				</div>
		</div>
	</div>-->
            <div class="pageMarketPlace">
                <!--<div class="page-title">Recommandation</div>
                <div class="default-text">
                    <slick style="width:calc(100% - 80px);margin-left:40px;" variableWidth="true" mobileFirst="true"  responsive="[{breakpoint: 3000,settings: {slidesToShow: 7}},{breakpoint: 1580,settings: {slidesToShow: 6}},{breakpoint: 1330,settings: {slidesToShow: 5}},{breakpoint: 1140,settings: {slidesToShow: 3}}]" slides-to-scroll="3" >

                        <div class="app_container" >
                            <div class="logo_app default_user_image application_img" style="background-image: url('/upload/prfl/2/4838bfc081bcaca5142393862bed85f2.png');"></div>
                            <div class="name_app">Calculatrice</div>
                            <div class="author_app">
                                <div class="image_author_app" style="border:none;background-image:url('/upload/prfl/1/twake.png');"></div>Twake
                                <div class="price_app">2€</div>
                            </div>
                        </div>

                        <a ng-repeat="app in mpCtrl.searchedApps" ui-sref="applicationProfil({id:app.id})">
                            <div  class="app_container default-text">
                                <div class="logo_app default_user_image application_img" style="{{app.cssthumbnail}}"></div>
                                <div class="name_app">{{app.name}}</div>
                                <div class="author_app">
                                    <div class="image_author_app" style="border:none;{{app.group.csslogo}};"></div>{{app.group.name}}
                                    <div class="price_app" ng-show="app.price>0">{{app.price}}€</div>
                                    <div class="price_app" ng-show="!app.price>0">free</div>
                                </div>
                            </div>
                        </a>
                </slick>
              </div>
            -->

	            <!--               <div class="page-title" style="margin-top: 0px;margin-bottom: 20px;">Catégories</div>
					<div ng-click="mpCtrl.searchByCategory(-1)" class="btn btn_categorie_app" style="background-color:#25ACFF;">Tout</div>
					<div ng-repeat="cat in mpCtrl.categorys" ng-click="mpCtrl.searchByCategory(cat)" class="btn btn_categorie_app" style="background-color:{{cat.color}};">{{cat.name}}</div>-->


                <div class="page-title" style="margin-top: 20px;margin-bottom: 20px;" ng-show="!mpCtrl.inCategory">Toutes les applications</div>
                <div class="page-title" style="margin-top: 20px;margin-bottom: 20px;" ng-show="mpCtrl.inCategory">Applications de la catégorie {{mpCtrl.currentcategory}}</div>

                <form style="margin-bottom:20px;" ng-show="!mpCtrl.inCategory">
                        <input type="text" class="form-control bordered input_name_app" ng-model="mpCtrl.searchInput" placeholder="Rechercher parmis toutes les applications">
                        <input type="submit" class="btn btn-default form-control submit_search_app" ng-click="mpCtrl.search();" value="Rechercher">
	                <select class=" form-control text_input" ng-model="mpCtrl.searchOption" ng-change="mpCtrl.search();"
	                        style="float: right;margin-top: 0px;">
                          <option value="score"> Tri : Note </option>
                          <option value="userCount"> Tri : Popularité</option>
                          <option value="new"> Tri : Nouveau</option>
                        </select>
                </form>

                <div style="margin-bottom:100px;" ng-class="{'loading':mpCtrl.loading}">
                    <a ng-repeat="app in mpCtrl.searchedApps" ui-sref="applicationProfil({aid:app.id})">
                        <div  class="app_container default-text">
                            <div class="logo_app default_user_image application_img" style="{{app.cssthumbnail}}"></div>
                            <div class="name_app">{{app.name}}</div>
                            <div class="author_app">
                                <div class="image_author_app" style="border:none;{{app.group.csslogo}};"></div>{{app.group.name}}
                                <div class="price_app" ng-show="app.price>0">{{app.price}}€</div>
                                <div class="price_app" ng-show="!app.price>0">free</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
