@import '~components/constants.scss';

.inputWithButton {
  display: flex;
  position: relative;
  input.input {
    padding-right: 50px;
  }
  .button-icon {
    position: absolute;
    height: 40px;
    right: 0px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
    border-left: solid 1px var(--grey-light);
    font-size: 16px;
    cursor: pointer;
  }

  .danger {
    background-color: var(--grey-background);
    color: var(--grey-dark);
  }

  .danger:hover {
    transition: 0.5s;
    background-color: var(--grey-light);
    color: var(--red);
  }
}
