.group-container {
  .ant-btn-icon-only {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--grey-background);
    border-radius: var(--border-radius-base) 0px 0px var(--border-radius-base);
    padding: 0;

    &:hover {
      background-color: var(--grey-background);
    }
  }

  .ant-select {
    max-width: 120px;

    .ant-select-selector {
      border-radius: 0 !important;
    }

    .ant-select-selector,
    .border-radius-left {
      border-radius: var(--border-radius-base) 0 0 var(--border-radius-base) !important;
    }
  }

  .group-divider {
    height: 100%;
    margin: 0;
    top: 0;
    background-color: var(--black-alpha-70);
    opacity: 0.28;
  }

  .ant-btn .small-margin-left {
    color: var(--grey-dark);
    &:hover {
      color: var(--primary);
    }
  }

  .ant-input {
    border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
  }
}
