<div ng-controller="UsersCtrl as users">

		<div class="row	">

			<div class="col-md-9">
				</h1><span class="glyphicon glyphicon-user"></span>User Management</h1>
			</div>

			<div class="col-md-3">
				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Members online</span>
						<span class="info-box-number">{{users.connectedUser }}</span>
					</div>
					<!-- /.info-box-content -->
				</div>

				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Members count</span>
						<span class="info-box-number">{{users.total}}</span>
					</div>
					<!-- /.info-box-content -->
				</div>

			</div>
		</div>

	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Users</h3>
		</div>
		<div class="box-body" id="center">

			<ul class="pagination">
				<li ng-repeat="page in users.pages" ng-class="{'active': users.page == page}"><a ng-click="users.setPage(page)">{{page}}</a></li>
			</ul>

			<select ng-model="perpage" ng-change="users.setNbPerPage(perpage)" class="form-control" style="width:50px;float:right;">
				<option value="{{users.perpage}}" disabled selected>{{users.perpage}}</option>
				<option disabled></option>
				<option value="25">25</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="250">250</option>
				<option value="500">500</option>
			</select>

			<input type="text" id="search" ng-keyup="users.search()" placeholder="Filter ...">
			<table id= "users_table" class="table table-striped">
				<thead>
				<tr>
					<th>ID</th>
					<th>Image</th>
					<th>Username</th>
					<th>Mail</th>
					<th>Operations</th>
				</tr>
				</thead>
				<tbody>

				<tr ng-repeat="user in users.list">
					<td>{{user.id}}</td>
					<td>
						<div style="background-position: center; background-size: contain; width:50px; height:50px; {{user.cssuserimage}}"></div>
					</td>
					<td>{{user.username}}{{user.connected?' (online)':''}}</td>
					<td></td>
					<td><button class="btn btn-primary" ng-click="users.getProfileView(user.id)">See profile</button></td>
				</tr>

				</tbody>

			</table>


		</div>
	</div>
</div>