<div ng-controller="CpuCtrl as cpu">
    <div class="row">
        <h1 style="text-align: center">Storage Statistics</h1>
        <div class="col-md-6">
            <canvas id="StorageDonut" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center">CPU Statistics</h1>
        <div class="col-md-6">
            <canvas id="CPUDonut" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <h1 style="text-align: center">Ram Statistics</h1>
        <div class="col-md-6">
            <canvas id="RamDonut" width="400" height="200"></canvas>
        </div>
        <div class="col-md-6">
        </div>
    </div>

</div>
