.object_modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  & > .title {
    padding-right: 56px;
    margin: 16px 0 11px 16px;
  }

  & > .top_right_buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 16px;
    text-align: right;

    .square_button {
      vertical-align: top;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: var(--border-radius-base);
      margin-left: 8px;
      background: var(--grey-background);
      cursor: pointer;

      &:hover {
        background: var(--primary-background);
      }
    }
  }

  & > .body {
    margin: 0 0;
    .scrollbar-container,
    .child-with-margin {
      padding: 16px;
      max-height: calc(80vh - 200px);
    }
  }

  .modal_title {
    font-size: 24px;
    color: var(--black);
  }
}

.section_title {
  color: var(--grey-dark);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 24px;

  i {
    margin-right: 4px;
    &:before {
      margin-left: 0px;
    }
  }
}
