.modal-layout {
  padding: 0px;
  border-radius: 3px;

  .modal-layout-row {
    line-height: 24px;
  }

  .modal-layout-header {
    height: 24px;
    padding: 0;
    margin: 16px 16px 20px 16px;
    background: var(--white);

    .square-button {
      vertical-align: top;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: var(--border-radius-base);
      margin-left: 8px;
      background: var(--grey-background);
      cursor: pointer;

      &:hover {
        background: var(--primary-background);
      }
    }
  }

  .modal-layout-footer {
    padding: 0;
  }
}
