.modal-layout {
  padding: 0px;

  h2.ant-typography img.emojione {
    width: 40px !important;
    height: 40px !important;
    margin-left: 8px;
  }

  &,
  .modal-layout-footer {
    background: transparent !important;
    height: auto;
    min-height: 64px;
  }

  .modal-layout-header {
    border-top-left-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-large);
    padding: 0;
    background: var(--white);
    height: auto;

    & .modal-layout-row,
    & {
      min-height: 64px;
    }

    .square-button {
      vertical-align: top;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: var(--border-radius-large);
      cursor: pointer;
      background: var(--grey-background);

      &.red {
        color: var(--red);
        background: var(--white);
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }

  .modal-layout-row {
    height: 100%;
    padding: 0 22px;
  }

  .modal-layout-footer {
    padding: 0;
  }
}
