.modal-layout {
  padding: 0px;

  &,
  .modal-layout-footer {
    background: transparent !important;
  }

  .modal-layout-header {
    height: 24px;
    line-height: 24px;
    padding: 0;
    margin: 16px 16px 20px 16px;
    background: var(--white);

    .square-button {
      vertical-align: top;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: var(--border-radius-large);
      margin-left: 8px;
      background: var(--grey-background);
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .modal-layout-footer {
    padding: 0;
  }
}
