@import '~components/constants.scss';

.object_modal {
  position: relative;
  display: flex;
  flex-direction: column;

  & > .title {
    min-height: 24px;
    padding-right: 56px;
  }

  & > .top_right_buttons {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;

    .square_button {
      vertical-align: top;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: var(--default-border-radius);
      margin-left: 8px;
      background: $grey_background;
      cursor: pointer;

      &:hover {
        background: $grey_light;
      }
    }
  }

  & > .body {
    margin: 0 -16px;
    .scrollbar-container,
    .child-with-margin {
      padding: 0 16px;
      max-height: calc(80vh - 200px);
    }
  }

  .modal_title {
    font-size: 24px;
    color: $black;
  }
}

.section_title {
  color: $grey_dark;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 24px;

  i {
    margin-right: 4px;
    &:before {
      margin-left: 0px;
    }
  }
}
