.addUserView {
  background: white;
  position: relative;

  .center_box {
    width: 360px;
  }

  .close {
    background: #f2f2f2;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 13px;
    color: #666;
    box-sizing: border-box;
    position: absolute;
    right: 10vh;
    top: 10vh;
    cursor: pointer;
    &:hover {
      background: #eee;
      color: #333;
    }
  }

  .new_member {
    width: 100%;
    display: flex;

    input {
      flex: 1;
      margin-right: 8px;
    }
  }

  .center_box_container {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .center_box {
      transform: translateX(-50%) translateY(-50%);
      max-height: 80vh;
      height: auto;
      width: 310px;
      padding: 40px;
      .title {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .subtitle {
        text-align: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
      .bottom {
        margin-top: 20px;
        line-height: 54px;
        display: flex;
        .returnBtn {
          flex: 1;
        }
        .nextBtn {
          width: unset;
        }
      }
      .select {
        width: 100%;
        border: solid 1px rgba(0, 0, 0, 0.3);
        height: 38px;
        border-radius: 2px;
        background: white;
        font-size: 14px;
        opacity: 0.8;
        margin: 10px 0px;
      }
      .importTools {
        width: 650px;
        transform: translateX(-25%);
        .integrations {
          .integration {
            width: 200px;
            display: inline-flex;
            margin: 5px;
            .logo {
              opacity: 0.8;
              width: 60px;
              height: 60px;
              border: solid 1px #979797;
              border-radius: 6px;
              background: #ededed;
              img {
                width: 53px;
                margin: auto;
                display: block;
                padding: 4px;
                filter: grayscale(1);
              }
            }
            .text {
              margin-left: 10px;
              flex: 1;
              .name {
                font-size: 15px;
              }
              .description {
                opacity: 0.6;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

.adduser-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
