<div class="title">
	Paramètres du groupe
</div>
<div style="display:flex;height: 100%;" ng-controller="applicationManagerController as ctrl">
	<div class="left-pane" ng-include="'@gviews/parameters/left-menu.html'">
	</div>
	<div style="flex:1;">

		<div scrollbar style="height: 100%;width:100%;overflow-x:hidden;" class="scroller">

			<div class="main-app">
				<div class="page-title">
					Gestion des applications
				</div>

				<table style="margin-top: 15px;">
					<thead>
					<td style="text-align:left;">
						Application
					</td>
					<td>
					</td>
					</thead>

					<tr ng-repeat="appli in cgroup.data.apps">
						<td>
							<div style="display:flex">
								<div class="groupSquareModule"
								     style="margin-top:0px;display:inline-block;{{appli.cssthumbnail}}"></div>
								<div style="text-align:left; flex:1;display: flex;flex-direction: column;justify-content: center;padding-left: 10px;">
									{{appli.name}}
								</div>
							</div>
						</td>
						<td style="text-align: right;">
							<input ng-show="!appli.internal" type="button" class="btn btn-block btn-danger"
							       ng-click="ctrl.deleteApplication(appli)"
							       style="display: inline-block;max-width: 150px;"
							       value="Supprimer"/>
						</td>
					</tr>

				</table>

			</div>
		</div>
	</div>
</div>