<div class="title">
  Paramètres du groupe
</div>
<div style="flex: 1;display:flex;height: 100%;">
    <div class="left-pane" ng-include="'@gviews/parameters/left-menu.html'">
    </div>
    <div style="flex:1; position:relative;width: 100%;" ng-controller="parametersGeneralCtrl as pgc" >
    <div scrollbar style="height: 100%;position:absolute;width:100%;overflow-x:hidden;" class="scroller">

        <div class="main-app" ng-show="groupGeneral.hasRightGroupView" style="max-width: 800px; margin-left: auto; margin-right: auto;">

            <input type="button" ng-disabled="pgc.saving" class="btn btn-block btn-success" style="float: right; display: inline-block;max-width: 150px;" ng-click="pgc.saveChanges();" value="Enregistrer"  ng-disabled="!groupGeneral.hasRightGroupEdit" />
            <p class="page-title">
                Paramètres généraux
            </p>

            <div style="display: flex;">

                <div style="max-width: 140px;margin-right: 30px;">
                    <div style="display:inline-block; width: 140px; height: 140px; cursor: pointer; overflow: hidden;" ngf-thumbnail="pgc.data.logo || cgroup.data.logo  || '/public/img/group_noimg.svg'" ngf-as-background="true" ng-model="pgc.data.logo" ngf-select ngf-drop ngf-accept="'image/*'" ngf-pattern="'image/*'" class="default_group_image modify groupSquareModule" >
                        <div class="text" style="line-height: 140px">
                            Modifier
                        </div>
                    </div>
                    <div class="nfo">
                        Votre logo doit être de format gif, png ou jpg. Il ne doit pas excéder 1Mo et doit faire une taille d'au moins 256px*256px.
                    </div>
                    <a style="color: #FF1212;" ng-click="pgc.data.logo=undefined;pgc.uploadlogo()"  ng-disabled="!groupGeneral.hasRightGroupEdit">Supprimer le logo</a>
                </div>
                <div style="margin-left:5px;width: 100%;">
                    <div>
	                    <input placeholder="Nom du groupe" name="name" class="form-control text_input "
	                           style="width:auto;" ng-model="pgc.data.name"
	                           ng-disabled="!groupGeneral.hasRightGroupEdit"/>
	                    <select style="display: none;" class=" form-control text_input"
	                            style="width:auto; margin-left:5px;"
	                            ng-model="pgc.data.type" ng-disabled="!groupGeneral.hasRightGroupEdit">
                            <option value="P"> Projet </option>
                            <option value="C"> Club </option>
                            <option value="A"> Association </option>
                            <option value="E"> Entreprise </option>
                            <option value="I"> Institution </option>
                            <option value="O"> Autre </option>
                      </select>
                    </div>
	                <div style="display:none;margin-top: 10px;margin-bottom: 15px;">
                        <span class="page-subsubtitle">Identifiant Twake : </span><span class="nfo">{{pgc.data.key}}</span>
                    </div>
	                <textarea placeholder="Description" class=" form-control text_input"
	                          style="margin-top: 10px;width: 100%;max-width:550px; height:100px; resize:none;"
	                          ng-model="pgc.data.description" ng-disabled="!groupGeneral.hasRightGroupEdit"></textarea>

	                <div style="display:none;" class="generalGroupOption">
                        <div class="page-subsubtitle" style="margin-bottom: 5px;"> Visibilité du groupe : </div>
	                    <select class=" form-control text_input" style="width:auto;display: block"
	                            ng-model="pgc.data.privacy" ng-disabled="!groupGeneral.hasRightGroupEdit">
                            <option value="P"> Public </option>
                            <option value="M"> Protected </option>
                            <option value="Q"> Private </option>
                        </select>
                    </div>
	                <!--
                    <div>
                         <div class="page-subsubtitle" style="margin-bottom: 5px;margin-top: 15px"> Accessibilité du groupe (#TODO) : </div>
                    <select class=" form-control text_input" style="width:auto;display: block" ng-model="pgc.data.privacy"  ng-disabled="!groupGeneral.hasRightGroupEdit">
                        <option value="T"> Tous les membres peuvent demander à s'inscrire </option>
                    </select>
                  </div>-->
                </div>
            </div>
            <div style="margin-top:50px;padding:20px;border:2px solid #FA6047;">
                <p class="page-title">
                    Supprimer le groupe
                </p>
                <div >
                    Entrer le nom du groupe pour supprimer ({{pgc.data.name}})
                    <div >
                        <input placeholder="Nom du groupe" name="name" class="form-control text_input " style="width:auto;" ng-model="pgc.deleteName">
	                    <input type="button" class="btn btn-block btn-danger"
	                           style="float:right;display: inline-block;max-width: 150px;"
	                           ng-really-click="pgc.deleteGroup();"
	                           ng-really-message="Supprimer définitivement ce groupe ?" value="Supprimer"
	                           ng-disabled="pgc.deleteName!= pgc.data.name"/>
                    </div>
                </div>
            </div>
	        <!--
				Type de groupe : {{pgc.data.levelId.name}}
				<div ng-show="pgc.data.levelId!=0 && pgc.data.levelId.price>0">
					jusqu'à {{pgc.data.abonnement}}
				</div>

				<p class="page-title" style="margin-top: 30px">
					Contact
				</p>

				<div class="page-subsubtitle" style="margin-bottom: 5px;"> Adresse : </div>
				<input placeholder="Adresse" class=" form-control text_input" style="width: 100%;max-width:450px;margin-left:5px;"ng-model="pgc.data.street" ng-disabled="!groupGeneral.hasRightGroupEdit">

				<div style="display: flex; margin-top: 15px">
					<div>
						<div class="page-subsubtitle" style="margin-bottom: 5px;"> Code postal : </div>
						<input placeholder="Code postal" class=" form-control text_input" style="width:auto;margin-left:5px;"ng-model="pgc.data.zip" ng-disabled="!groupGeneral.hasRightGroupEdit">
					</div>
					<div style="margin-left: 20px">
						<div class="page-subsubtitle" style="margin-bottom: 5px;"> Ville : </div>
						<input placeholder="Ville" class=" form-control text_input" style="width:250px;margin-left:5px;"ng-model="pgc.data.city" ng-disabled="!groupGeneral.hasRightGroupEdit">
					</div>
				</div>

				<div class="page-subsubtitle" style="margin-bottom: 5px;margin-top: 15px"> Pays : </div>
				<select-country placeholder="Pays" class=" form-control text_input" style="width:auto;margin-left:5px;"ng-model="pgc.data.country"  ng-disabled="!groupGeneral.hasRightGroupEdit"></select-country>

				<div style="display: flex; margin-top: 15px">
					<div>
						<div class="page-subsubtitle" style="margin-bottom: 5px;"> Adresse e-mail de contact : </div>
						<input placeholder="E-mail" class=" form-control text_input" style="width: 250px;margin-left:5px;"ng-model="pgc.data.mail" ng-disabled="!groupGeneral.hasRightGroupEdit">
					</div>

					<div style="margin-left: 20px">
						<div class="page-subsubtitle" style="margin-bottom: 5px;"> Téléphone : </div>
						<input placeholder="Téléphone" class=" form-control text_input" style="width:auto;margin-left:5px;"ng-model="pgc.data.phone" ng-disabled="!groupGeneral.hasRightGroupEdit">
					</div>
				</div>
				<!--
				<p class="page-title" style="margin-top: 30px">
					Devenir un groupe officiel (#TODO)
				</p>

				<div class="nfo">
					L'identité du groupe ne pourra plus être modifiée. Pour devenir un groupe officiel, vous devez renseigner des informations de contacts valides. Un modérateur Twake validera votre demande en effectuant les vérifications nécessaires.
				</div>
				<input type="button" ng-disabled="pgc.saving" class="btn btn-block btn-success" style="display: inline-block;max-width: 250px; margin-top: 15px" ng-click="pgc.saveChanges();" value="Devenir un groupe officiel"  ng-disabled="!groupGeneral.hasRightGroupEdit" />-->
        <!--<span ng-show="pgc.changesOK" style="color: #0B0;">Les modifications ont été enregistrées avec succès !</span>
        <span ng-show="pgc.changeError" class = "form_error">There was an issue while saving your changes, try again later.</span>
        TODO : mettre message en plein ecran--
      </div>
-->
      <div name="wasting place for scrollbar" style="height:75px"></div>
    </div>
  </div>
</div>
