<a ui-sref-active="active" ui-sref="parameters-general" class="left-pane-item" ng-show="groupGeneral.hasRightGroupView">Général</a>
<!--<a ui-sref-active="active" ui-sref="parameters-apps" class="left-pane-item">Applications</a>-->
<a ui-sref-active="active" ui-sref="parameters-members" class="left-pane-item" ng-show="groupGeneral.hasRightMembersView">Membres</a>
<a ui-sref-active="active" ui-sref="parameters-rights" class="left-pane-item" ng-show="groupGeneral.hasRightRightView">Droits</a>
<a ui-sref-active="active" ui-sref="parameters-application" class="left-pane-item" ng-show="groupGeneral.hasRightRightView">Applications</a>
<!--<a ui-sref-active="active" ui-sref="parameters-linked" class="left-pane-item" ng-show="groupGeneral.hasRightLinksView">Groupes liés</a>
<a ui-sref-active="active" ui-sref="parameters-finances" class="left-pane-item">Informations bancaires</a>
<a ui-sref-active="active" ui-sref="parameters-premium" class="left-pane-item premium-link">Repartition des ressources</a>
<a ui-sref-active="active" ui-sref="parameters-payment" class="left-pane-item premium-link">Paiement</a>-->
