<div class="title">
    Paiement
</div>
<div class="default-text confirmationPaiement" >
    <div style="display:flex;">
        <div style="flex:1">
            <div class="boiteDetail" >
                <div class="titlePayment">Achat d'application</div>
                <div style="margin-left:30px">
                    <div style="margin:10px;"><i class="fa fa-check" style="color:#28A745;margin-right:5px;" aria-hidden="true"></i>Drive</div>
                    <div style="margin:10px;"><i class="fa fa-check" style="color:#28A745;margin-right:5px;" aria-hidden="true"></i>Messagerie</div>
                    <div style="margin:10px;"><i class="fa fa-check" style="color:#28A745;margin-right:5px;" aria-hidden="true"></i>Client Editor</div>
                    <div style="margin:10px;"><i class="fa fa-check" style="color:#28A745;margin-right:5px;" aria-hidden="true"></i>GTA 5</div>
                </div>
                <div style="margin:10px;padding:10px;border-top: solid 1px rgba(127,127,127,0.5);opacity: 0.8;">
                    <span style="">jusqu'au 11/07/2017</span>
                    <span style="float:right;font-size: 17px;">55€</span>
                </div>
            </div>
        </div>
        <div style="flex:1">
            <div style="margin:auto;margin-top:50px;max-width:400px;">
                <div style="font-size:20px;" >Information de paiement</div>
                <div class="default_group_image" style="width:50px;height:50px;display:inline-block;vertical-align:middle"></div>
                <div style="display:inline-block;font-size:17px;vertical-align:middle" >Twake Inc</div>
                <div style="margin-left:50px">
                    <div >75 rue des sapins </div>
                    <div > 67460 Souffelweyersheim </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="background-image:url('/public/img/payment/payment.png');width:700px;height:300px;margin:auto;background-size:100% 100%;margin-top:50px;"></div>
    </div>
</div>
