<div class="title">
    Paramètres du groupe
</div>
<div style="display:flex;height: 100%;" ng-controller="parametersRightsCtrl as parametersRights">
    <div class="left-pane" ng-include="'@gviews/parameters/left-menu.html'">
    </div>
    <div style="flex:1; position: relative;" >
        <div scrollbar style="height: 100%;position:absolute;width:100%;overflow-x:hidden;" class="scroller">

            <div class="main-app">

                <div ng-show="parametersRights.currentFormLocalLevelId === ''">

                    <div class="page-title">
                        Gestion des droits
                    </div>

                    <table style="margin-top: 15px;">
                        <thead>
                            <td style="width: 110px;">
                                Type
                            </td>
                            <td>
                                Nom du niveau
                            </td>
                            <td class="td-right">
                                Edition
                            </td>
                            <td style="width: 60px;">
                            </td>
                        </thead>

                        <tr ng-repeat="level in parametersRights.levels" ng-class="{'selected':parametersRights.selectedLevels[level.idLevel]}">
                            <td style="padding-left: 15px">
                                <div ng-show="level.owner">
                                    <div class="badge rights-owner">
                                        Propriétaire
                                    </div>
                                </div>

                                <div ng-show="level.isDefault">
                                    <div class="badge rights-default">
                                        Par défaut
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{level.nameLevel}} ({{level.memberCount}})
                            </td>
                            <td class="td-right">
                                <a ng-click="parametersRights.showLevelForm(level.idLevel)">Modifier</a><br/>
                                <a ng-click="parametersRights.setAsDefault(level.idLevel)" ng-show="groupGeneral.hasRightRightEdit">Définir comme par défaut</a>
                            </td>
                            <td style="text-align: center;">
                                <input style="margin-top:5px !important;" type="checkbox" class="checkbox" ng-model="parametersRights.selectedLevels[level.idLevel]" ng-show="groupGeneral.hasRightRightEdit">
                            </td>
                        </tr>
                    </table>

                    <div style="display: flex;" ng-show="groupGeneral.hasRightRightEdit">
                        <div style="flex:1; padding-top: 20px;">
                            <form>
	                            <input type="text" placeholder="Nom du rôle" style="width:150px;"
	                                   class="form-control bordered" ng-model="parametersRights.newLevelName">
	                            <button class="btn btn-success" ng-click="parametersRights.createLevel()">Nouveau rôle
	                            </button>
                            </form>
                        </div>
                        <div style="padding-top: 20px;">
                            <select class="form-control" ng-model="parametersRights.selectedAction" ng-change="parametersRights.selectedNewLocationLevelId='';parametersRights.deplaceMembersSelected=false;parametersRights.doGroupedAction();">
                                <option value="">Pour la sélection</option>
                                <option value="delete">Supprimer</option>
                                <option value="deplace">Deplacer les membres associés...</option>
                            </select>
                            <select class="form-control" ng-model="parametersRights.selectedNewLocationLevelId" ng-change="parametersRights.deplaceMembers()" ng-show="parametersRights.deplaceMembersSelected">
                                <option value="">Niveau</option>
                                <option ng-repeat="level in parametersRights.levels" value="{{level.idLevel}}">{{level.nameLevel}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div ng-show="parametersRights.currentFormLocalLevelId !== ''" style="padding-left: 50px; position:relative;padding-top:10px;">

                    <button style="float:right;" class="btn btn-success" ng-click="parametersRights.updateLevel()">Tout enregistrer</button>

                    <a ng-click="parametersRights.showMainPage()" style="left: -5px;position: absolute;top: 15px;">
                      <i class="clickable_icon fa fa-chevron-left" aria-hidden="true" style="margin-left: 15px; margin-right: 10px; font-size: 16px;"></i>
                    </a>

                    <div class="page-title" >
                        Edition du niveau {{parametersRights.levels[parametersRights.currentFormLocalLevelId].nameLevel}}
                    </div>

                    <div class="page-subtitle" style="margin-top: 10px;">
                      Modification du nom du niveau
                    </div>
                    <input ng-disabled="!parametersRights.editable" class="form-control bordered" type="text" ng-model="parametersRights.levels[parametersRights.currentFormLocalLevelId].nameLevel">

                    <div class="page-subtitle" style="margin-top: 10px;">
                      Modification des droits
                    </div>

                    <div class="pane" ng-show="parametersRights.levels[parametersRights.currentFormLocalLevelId].owner">
                      Ce niveau possède tous les droits et ne peut être modifié.
                    </div>

                    <div ng-show="!parametersRights.levels[parametersRights.currentFormLocalLevelId].owner" class="pane" style="margin-bottom: 10px" ng-repeat="(title1,lvl1) in parametersRights.rightsPossible">

                        <div class="pane-title" style="text-transform: capitalize;">{{title1}}</div>

                        <div ng-repeat="(title2,lvl2) in lvl1">
                            <div class="pane-subtitle" style="text-transform: capitalize;" >{{title2}}</div>
                            <div ng-repeat="(right,value) in lvl2" class="line" ng-class="{'active':parametersRights.levels[parametersRights.currentFormLocalLevelId].right[title1][title2][right]}">
                                <div class="default-text" style="text-transform: capitalize;" >
                                    {{right}} : <input style="float:right" ng-model="parametersRights.levels[parametersRights.currentFormLocalLevelId].right[title1][title2][right]" ng-disabled="parametersRights.levels[parametersRights.currentFormLocalLevelId].owner || !parametersRights.editable" class="checkbox" type="checkbox">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
