.messages-view {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .ephemerals {
    text-align: center;
    border-top: 1px solid var(--grey-background);

    .ephemerals_text {
      font-size: 12px;
      color: var(--grey-dark);
      padding: 8px;
      padding-bottom: 0;
      margin-left: 24px;
      margin-right: 24px;
      max-width: 1362px;
      width: calc(100% - 48px);
      display: inline-flex;
      text-align: left;
    }
  }

  .messages-scroller-parent {
    flex: 1;
    min-height: 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      border-top: 1px solid var(--grey-background);
      background: var(--white);
      z-index: 10;
      bottom: 0;
      opacity: 0;
      pointer-events: none;
    }
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-top: 1px solid var(--grey-background);
      box-shadow: 0 -32px 32px -32px rgba(0, 0, 0, 0.1) inset;
      z-index: 10;
      bottom: 16px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0s;
    }
    &.scrolled-up {
      &:after,
      &:before {
        opacity: 1;
      }
      &:after {
        transition: opacity 0.2s;
      }
    }

    .message_header {
      margin-top: 16px;
    }

    .go-to-now {
      position: absolute;
      padding: 0 8px;
      bottom: 32px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      font-size: 14px;
      color: var(--white);
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      background-color: var(--primary);
      height: 28px;
      width: auto;
      border-radius: 14px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: opacity 0.2s;
      transition-delay: 1s;
      opacity: 1;
    }

    &:not(.scrolled-up) {
      .go-to-now {
        transition-delay: 0s;
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  .message_timeline {
    text-align: center;
    color: var(--grey-dark);
    font-size: 12px;
    position: relative;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 12px;
    margin-top: 20px;
    z-index: 2;
    min-width: 0;
    max-width: 1000px;
    width: calc(100% - 32px);

    &.new_messages {
      &::before {
        border-color: var(--primary);
      }
      .time_container {
        .time {
          font-weight: 700;
          background: var(--white);
          color: var(--primary);
        }
      }
    }

    .time_container {
      display: inline-block;
      padding: 0px 11px;
      background: var(--white);

      .time {
        color: var(--grey-dark);
        width: auto;
        z-index: 1;
        height: 22px;
        line-height: 22px;
        margin: auto;
        font-size: 12px;
        border-radius: 12px;
        padding: 0 4px;
      }
    }

    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      width: 100%;
      border-bottom: 1px solid var(--grey-background);
      position: absolute;
      left: 0;
      top: 11px;
      z-index: -1;
    }
  }

  .writing_message {
    font-size: 12px;
    color: var(--grey-dark);
    font-size: 12px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    width: calc(100% - 48px);
    background: #fff;
    transition: opacity 0.2s;
    min-width: 0;
    max-width: 1000px;
    width: calc(100% - 32px);

    &:hover {
      opacity: 0.2;
    }
  }
}
