@import '~components/constants.scss';

.messages_app {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 0px;
  box-sizing: border-box;

  .message_header {
    border-bottom: 1px solid $grey_background;
    padding-bottom: 8px;
    max-height: 40%;
    overflow: scroll;
    .message_bloc > .container {
      max-height: 30vh;
    }
  }

  &.in_modal {
    height: 80vh;
    margin: -16px;
    width: calc(100% + 32px);
    position: relative;
  }

  .messages_main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;

    .message_timeline {
      text-align: center;
      color: #666;
      font-size: 12px;
      position: relative;
      height: 22px;
      margin-bottom: 0px;
      z-index: 2;

      .time_container {
        display: inline-block;
        padding: 0px 11px;
        background: #fff;

        .time {
          background: $grey_dark;
          color: $white;
          width: auto;
          z-index: 1;
          height: 22px;
          line-height: 22px;
          margin: auto;
          font-weight: 700;
          font-size: 12px;
          border-radius: 12px;
          padding: 0 10px;
        }
      }

      &::before {
        content: '';
        z-index: 1;
        position: absolute;
        width: 100%;
        border-bottom: 1px solid $grey_background;
        position: absolute;
        left: 0;
        top: 11px;
        z-index: -1;
      }
    }

    .messages_list {
      flex: 1;
      display: flex;
      overflow: hidden;
      position: relative;
      flex-direction: column;

      .ephemerals {
        text-align: center;
        border-top: 1px solid $grey_background;

        .ephemerals_text {
          font-size: 12px;
          color: $grey_dark;
          padding: 8px;
          padding-bottom: 0;
          margin-left: 24px;
          margin-right: 24px;
          max-width: 1362px;
          width: calc(100% - 48px);
          display: inline-flex;
          text-align: left;
        }
      }

      .writing_message {
        font-size: 12px;
        color: $grey_dark;
        font-size: 12px;
        padding-left: 16px;
        padding-bottom: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: auto;
        right: 0;
        max-width: 1362px;
        width: calc(100% - 48px);
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 1);
        background: #fff;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.2;
        }
      }

      .messages_scroller {
        overflow: auto;
        flex: 1;
        position: relative;
        z-index: 0;
        text-align: center;
        transition: opacity 0.2s;

        &.loading {
          opacity: 0.1;
        }

        .load_before,
        .load_after,
        .load_end {
          display: inline-block;
          background: $primary;
          border-radius: 0 0 4px 4px;
          font-size: 12px;
          color: #fff;
          font-weight: 500;
          padding: 8px 16px;
          cursor: pointer;
          &:hover {
            background: $primary_hover;
          }
        }
        .load_after,
        .load_end {
          border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
        }
        .load_end {
          position: absolute;
          left: 24px;
          background: $grey_background;
          color: $grey_dark;
          &:hover {
            background: $grey_light;
            color: $black;
          }
        }

        .messages_flex {
          min-height: calc(100% - 40px);
          padding-bottom: 20px;
        }
      }

      .message_timeline {
        margin-top: 10px;
        pointer-events: none;
        width: 100%;
      }

      .infinite_messages {
        padding-bottom: 10px;
      }

      .infinite_messages > div {
        width: calc(100% - 30px);
        max-width: 1400px;
        margin: auto;
      }
    }

    .new_messages_bottom_container {
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      box-sizing: border-box;
      max-width: 100%;
      text-align: center;
      z-index: 1;
      transition: bottom 1s;
      cursor: pointer;

      &.visible {
        bottom: 10px;
      }

      .new_messages_bottom {
        display: inline-block;
        box-sizing: border-box;
        color: $white;
        text-align: center;
        border-radius: $base_border_radius;
        font-size: 13px;
        padding: 8px;
        padding-right: 12px;
        cursor: pointer;
        background: $primary;
        box-shadow: 0 1px 0 0 #0000000c, 0 0 20px 0 #00000026;
        font-weight: 500;
        max-width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .left_icon {
          font-size: 15px;
          margin-right: 2px;
          margin-left: -2px;
          bottom: -1px;
          position: relative;
        }

        &:hover {
          background: $primary_hover;
        }

        .user-image {
          background-color: $secondary;
          width: 16px;
          height: 16px;
          display: inline-block;
          border-radius: var(--default-border-radius);
          margin-right: 5px;
          vertical-align: bottom;
          margin-left: 0px;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .bottom_input {
      min-height: 80px;
      width: 100%;
      box-shadow: 0 -4px 24px 0 rgba(227, 227, 227, 0.4);
      padding: 8px;
      box-sizing: border-box;
      z-index: 1;
    }
  }

  .messages_bar {
    min-width: 240px;
    width: 20%;
    margin-right: 15px;
    border-radius: var(--default-border-radius-large);
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 15px;
  }
}

.app_side .messages_app .messages_main .bottom_input {
  box-shadow: none;
}
