.stepCounter {
  display: flex;
  width: 100%;
  display: flex;
  margin: auto;
  margin-bottom: 24px;
  .step {
    height: 8px;
    background: black;
    border-radius: var(--default-border-radius);
    margin: 0px 5px;
    background: var(--primary-background);
    transition: background 0.2s;
  }
  .setSelected {
    background: var(--primary);
  }
}
