@import '~constants/constants.scss';

.pushed_notification {
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  border-radius: $base_border_radius;
  box-shadow: $base_box_shadow;
  padding: 10px;
  width: 240px;
  overflow: hidden;
  animation: pushed_notification_animation 7s;
  z-index: 1000;

  .title,
  .text {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
  }

  .title {
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 5px;

    img.emojione {
      width: 18px;
      margin-top: 3px;
    }
  }
}

@keyframes pushed_notification_animation {
  0% {
    transform: translateX(150%);
    background: #fff3aa;
  }
  10% {
    transform: translateX(0%);
  }
  14% {
    background: #ffffff;
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(150%);
  }
}
