.add {
  line-height: 30px;
  cursor: pointer;
  float: right;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-top: -2px;

  &:hover {
    color: var(--black);
  }
}

.pending-email {
  border-radius: var(--border-radius-base);
  line-height: 44px;

  &.add-pending-email {
    cursor: pointer;
  }

  &:hover {
    background: rgba(56, 64, 247, 0.2);
  }

  &.selected {
    background-color: var(--primary);

    &,
    .pending-email-text {
      color: var(--white) !important;
    }
  }
}
