<?php

namespace Configuration;

class Parameters extends \Common\Configuration
{

    public $configuration = [];

    public function __construct()
    {
        $this->configuration = [
            "env" => "dev",
            "admin_api_token" => "",
            "MAIL_FROM" => "",
            "LICENCE_KEY" => "",
            "STANDALONE" => true,
            "ELASTIC_SERVER" => "elasticsearch_twake:9200",
            "DRIVE_SALT" => "SecretPassword",
            "SERVER_NAME" => "http://localhost:8080/",
            "drive_previews_tmp_folder" => "/tmp/",
            "drive_tmp_folder" => "/tmp/",
            "secret" => "",
            "mail" => [
                "sender" => [
                    "host" => "",
                    "port" => "",
                    "username" => "",
                    "password" => "",
                    "auth_mode" => "plain"
                ],
                "template_dir" => "/src/Twake/Core/Resources/views/",
                "twake_domain_url" => "https://twakeapp.com/",
                "from" => "noreply@twakeapp.com",
                "from_name" => "Twake",
                "twake_address" => "Twake, 54000 Nancy, France",
                "dkim" => [
                    "private_key" => "",
                    "domain_name" => '',
                    "selector" => ''
                ]
            ],
            "websocket" => [
                "host" => "websockets",
                "port" => "8080",
                "pusher_public" => "-----BEGIN PUBLIC KEY-----",
                "pusher_private" => "-----BEGIN RSA PRIVATE KEY-----",
            ],
            "db" => [
                "driver" => "pdo_cassandra",
                "host" => "scylladb",
                "port" => 9160,
                "dbname" => "Twake",
                "user" => "root",
                "password" => "root",
                "encryption_key" => "c9a17eab88ab63bb3e90c027196a89776651a7c06651a7c0",
                "ssl" => [
                    "node_certificate" => "path"
                ],
                "dev" => false
            ],
            "queues" => [
                "sqs" => [
                    "use" => false,
                    "profile" => "default",
                    "version" => "2012-11-05",
                    'region' => 'us-west-2',
                    "credentials" => [
                        "key" => "",
                        "secret" => ""
                    ]

                ],
                "rabbitmq" => [
                    "use" => false,
                    "host" => "",
                    "port" => false,
                    "username" => "",
                    "password" => ""
                ]
            ],
            "openstack" => [
                "use" => false,
                "project_id" => "",
                "auth_url" => "https//auth.cloud.ovh.net/v2.0",
                "buckets_prefix" => "",
                "buckets" => [
                    "fr" => [
                        "public" => "",
                        "private" => "",
                        "region" => "SBG5"
                    ],
                    "user" => [
                        "id" => "",
                        "password" => ""
                    ]
                ],
            ],
            "aws" => [
                "S3" => [
                    "base_url" => "http//127.0.0.1:9000",
                    "use" => false,
                    "version" => "latest",
                    "buckets_prefix" => "dev.",
                    "buckets" => [
                        "fr" => "eu-west-3"
                    ],
                    "credentials" => [
                        "key" => "",
                        "secret" => ""
                    ]
                ],
            ],
            "local" => [
                "storage" => [
                    "use" => true,
                    "location" => "../drive/",
                    "preview_location" => "../web/medias/",
                    "preview_public_path" => "/medias/"
                ]
            ],
            "auth" => [
                "internal" => [
                    "use" => true,
                ],
                "openid" => [
                    "use" => false,
                    "provider_uri" => 'https://auth0.com',
                    "client_id" => '',
                    "client_secret" => '',
                    "logout_query_parameter_key" => "returnTo"
                ],
                "cas" => [
                    "use" => false,
                    "base_url" => '',
                    "email_key" => '',
                    "lastname_key" => '',
                    "firstname_key" => ''
                ]
            ]
        ];
    }

}