.component_tabs {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: relative;
    right: 0px;
    left: auto;
    top: 0px;
    height: 100%;
    width: 50px;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to right, #ffffff00 0%, #ffffffff 100%);
  }

  & > .component_tabs_tabs {
    border-bottom: 1px solid var(--grey-background);
    padding: 0 16px;
    white-space: nowrap;
    max-width: 100%;
    box-sizing: border-box;

    .component_tabs_tab {
      height: 40px;
      box-sizing: border-box;
      border-radius: 0;
      display: inline-block;
      padding: 8px 16px;
      font-weight: 500;
      color: var(--grey-dark);
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: var(--black);
      }

      &.selected {
        background: transparent;
        border-bottom: 4px solid var(--primary);
        color: var(--black);
      }
    }
  }
  & > .body {
    padding: 16px;
  }

  &.full-body {
    & > .body,
    & > .component_tabs_tabs {
      padding: 0px;
    }
  }
}
