.input.autoheight_container {
  textarea {
    padding: 16px;
    resize: none;
    font-size: 14px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      white-space: nowrap;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      white-space: nowrap;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      white-space: nowrap;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      white-space: nowrap;
    }
  }

  &.small,
  &.medium,
  &.big {
    padding: 0px;
  }

  &.small {
    textarea {
      padding: 4px 8px;
      resize: none;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &.medium {
    textarea {
      padding: 13px 16px;
      resize: none;
      font-size: 14px;
      line-height: 16px;
    }
  }
  &.big {
    textarea {
      padding: 16px;
      resize: none;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
