@import '~components/constants.scss';

.electron {
  .channels_view {
    padding-top: 24px;
  }
}

.channels_view {
  background: $grey_background;
  width: 220px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;

  .channel_small_text {
    font-size: 12px;
    margin: 0 16px;
    color: $grey_dark;
    font-weight: 500;
  }

  .current_group {
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $grey_dark;
    font-size: 14px;
    background: $grey_light;
    border-radius: var(--default-border-radius-large);
    display: flex;
    padding: 8px;
    margin: 0px 14px;
    box-sizing: border-box;
    height: 40px;

    span {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .group_image.invite {
      margin-right: 4px;
      width: auto;
      background: $green;
      border-radius: var(--default-border-radius);
      color: $white;
      padding-right: 4px;
      white-space: nowrap;
      display: flex;
      font-weight: 600;
      .group_switch {
        margin-right: 4px;
      }
    }

    .group_switch {
      margin-right: 8px;
      height: 24px;
      .current_company_logo.has_image {
        font-size: 0px !important;
      }
      .current_company_logo {
        font-size: 16px;
        line-height: 24px;
        color: $secondary;
        width: 24px;
        height: 24px;
        border-radius: var(--default-border-radius);
      }
    }
  }

  .scrollbar-container {
    flex: 1;
  }
}
.loading_render {
  .channel_small_text {
    display: none;
  }
  .current_group {
    display: none;
  }
}

/* channel add */
.channelUserAdd .flexDiv {
  display: flex;
  .flex1 {
    flex: 1;
    margin-left: 8px;
  }
}

/*
  background: #FFF;
  border-radius: 0;
  border-right: 1px solid #DDDDDD;
  box-sizing: border-box;
  padding-top: 0px;
  transition: box-shadow 0.5s, padding-top 0.5s;
  font-size: 13px;
  box-sizing: border-box;

  background: #ffffff;
  margin-right: -8px;
  padding-right: 12px;
  box-sizing: border-box;
  width: 250px;

  .flex_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .list {
      padding: 0 9px;
      padding-bottom: 15px;
      box-sizing: border-box;
      flex: 1;

      .search {
        margin-bottom: 0px;
      }

    }

    .group_no_left_bar {
      font-weight: bold;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 20px;
      text-transform: capitalize;
      margin-top: 10px;
      color: #000000AA;

      &.invite {
        position: relative;
        .image {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 2;
        }
        .invite_next_logo {
          background: #00a50e;
          display: inline-block;
          color: #FFF;
          padding: 0 7px;
          border-radius: 0 8px 8px 0;
          margin-right: 5px;
          font-weight: normal;
          padding-left: 10px;
          margin-left: 14px;
        }
      }

      .invite_next_logo {
        display: none;
      }

      .image {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        background: #00000022;
        border-radius: $larger_border_radius;
        margin-right: 5px;
        text-align: center;
        line-height: 20px;
        font-size: 10px;
        background-position: center;
        background-size: cover;
        text-transform: capitalize;

        &.has_image {
          font-size: 0px;
        }
      }
    }

    .channels_top {
      padding: 0 9px;
      padding-top: 12px;
      position: relative;
      box-shadow: 0 15px 10px -5px #FFFFFF;
      z-index: 1;
    }

    .channels_footer {
      padding-top: 5px;
      padding: 0px 12px;
      padding-bottom: 12px;
      position: relative;
      box-shadow: 0 -15px 10px -5px #FFFFFF;

      .plan {
        float: right;
        color: $primary;
        border: 1px solid $primary;
        border-radius: $base_border_radius;
        padding: 2px 5px;
        vertical-align: middle;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        margin-top: -3px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          border: 1px solid #007ED9;
          color: #007ED9;
        }
      }
    }
  }

  .loading_channel {
    width: 70%;
    margin: 9px 0;
    margin-left: 4px;
    height: 12px;
    border-radius: $base_border_radius;
    transition: width 0.2s;
  }

  .channel_section_title {
    padding-left: 0 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    opacity: 0.35;
    color: #000;
    margin-top: 12px;
    margin-bottom: 5px;

    .right_btn {
      float: right;
      opacity: 0.5;
      transition: opacity 0.2s;
      cursor: pointer;
      font-size: 14px;
      margin-top: -2px;

      & > i {
        width: 24px;
        height: 24px;
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
        margin-top: -5px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .channel_sub_section_title {
    padding-left: 0 3px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    opacity: 0.35;
    color: #000;
    margin-bottom: 5px;
    cursor: pointer;
    height: 18px;

    &:hover {
      opacity: 0.5;
    }

    .edit_button {
      cursor: pointer;
      opacity: 0.5;
      margin-left: 5px;
      vertical-align: middle;
      margin-top: -2px;
      font-size: 15px !important;
      display: none;
    }

    &:hover {
      .edit_button {
        display: inline-block;
      }
    }

  }

  .smalltext {
    opacity: 0.8;
    padding: 5px;
  }

  .channel {
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    height: 25px;
    position: relative;
    width: 100%;
    height: 25px;
    padding: 2px 5px;
    box-sizing: border-box;
    line-height: 21px;
    border-radius: $base_border_radius;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    &.is_selected {
      background: #EAEAEA;


      &:hover {
        background: #EAEAEA;
      }
    }

    &.ext_workspace {
      opacity: 0.8;
      &.is_selected {
        opacity: 1;
      }
    }

    &.is_muted {
      opacity: 0.5;
    }

    &.has_notifications {
      font-weight: bold;
    }

    &:hover {
      background: #F2F2F2;
    }

    i.icon-fontastic {
      text-align: center;
      margin-top: 3px;
      margin-left: 3px;
      font-size: 13px;

      &.out_of_workspace {
        width: 15px;
        text-align: left;
        opacity: 0.5;

        &.app {
          width: 15px;
        }
      }
    }

    .app_icon {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-top: -2px;
      margin-right: 3px;
      border-radius: 2px;
      background-size: cover;
      background-position: center;
    }

    .app-plug-icon {
      vertical-align: middle;
      position: relative;
      margin-top: -2px;
      margin-left: -4px;
      margin-right: 13px;
      opacity: 0.5;
    }

    .user-image {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      margin-top: -2px;
      margin-right: 3px;
      border-radius: 50%;
      background-color: #DDDDDD;
      background-size: cover;
      background-position: center;

      &:not(:first-child){
        margin-left: -15px;
        border: 1px solid #FFF;
      }
    }

    .text {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      .icon-fontastic {
        display: inline-block;
        width: 30px;
        font-size: 10px;
        margin-top: 7px;
        vertical-align: top;
        position: relative;
      }

      .lock_icon {
        font-size: 15px !important;
        margin-bottom: -2px;
        margin-left: 2px;
        opacity: 0.5;
      }

      .pin_icon {
        font-size: 15px !important;
        text-align: left;
        margin-bottom: -2px;
        margin-right: 2px;
        opacity: 0.5;
      }

    }

    .right_btns {
      & > .button {
        cursor: pointer;
        padding: 2px 1px;
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }
      }

      & > .muted {
        padding: 2px 1px;
        opacity: 0.3;
        width: 18px;
        vertical-align: top;
      }
    }

    .notification, .badge {
      margin-top: 2px;
      margin-left: 5px;
      vertical-align: top;

      &.circle {
        margin-top: 5px;
        margin-right: 2px;
      }
    }

    .hidden_no_hover {
      display: none;
    }
    &:hover {
      .hidden_no_hover {
        display: inline-block;
      }
    }

  }

  .invite_tuto, .new_user_tuto {
    background: #00a50e;
    padding: 8px;
    font-size: 12px;
    color: #FFF;
    border-radius: var(--default-border-radius-large);
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    a {
      color: #FFF;
      text-decoration: underline;
    }
    .next {
      position: absolute;
      right: 5px;
      bottom: 5px;
      font-size: 24px !important;
    }
    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
      &:hover {
        opacity: 1 !important;
      }
    }
    &:hover {
      .close {
        opacity: 0.5;
      }
    }
  }
  .new_user_tuto {
    background: #0387e7;
    .todo {
      margin-bottom: 5px;
      .state {
        width: 25px;
        display: inline-block;
        font-size: 10px;
        b {
          font-size: 12px;
        }
        vertical-align: top;
      }
      .text {
        width: calc( 100% - 25px );
        display: inline-block;
        vertical-align: top;
      }

      &.done {
        opacity: 0.5;
        .text {
          text-decoration: line-through;
        }
      }
    }
    .bar {
      width: 100%;
      height: 8px;
      border-radius: var(--default-border-radius);
      background: #FFFFFF44;
      margin-top: 10px;
      overflow: hidden;
      .status {
        background: #FFF;
        height: 100%;
        transition: width 1s;
      }
    }
  }

}

.dragging.drag_channel {
  .channel_sub_section_title {
    margin-top: 3px;
    margin-left: 3px;
  }
}

.has_workspaces {
  .channels_view {
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  }

  .group_no_left_bar {
    display: none;
  }
}

.electron {
  .no_workspaces {
    .channels_view {
      .channels_top {
        padding-top: 27px;
      }
    }
  }
}

*/
