.drive_viewer {
  width: 100vw;
  height: 100vh;
  margin: -16px;
  display: flex;
  flex-direction: column;

  &.inline {
    flex: 1;
    position: absolute;
  }

  .open-with {
    width: auto;
    margin: 0px;
    margin-left: 15px;
    position: relative;
    margin-top: -5px;
    vertical-align: top;
  }

  .no_preview_text,
  .loading_preview_text {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 16px;
  }

  .view_header {
    display: flex;
    height: 70px;
    border-bottom: 1px solid var(--grey-background);
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    line-height: 22px;

    .title {
      flex: 1;
      font-size: 16px;
      display: inline-block;
      padding: 8px;
    }

    .close,
    .download {
      padding: 8px;
      height: 24px;
      width: 24px;
      display: inline-block;
      float: right;
      position: relative;
      margin-left: 8px;
      margin-right: 8px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }

    .download {
      opacity: 0.8;
    }
  }

  .view_body {
    flex: 1;
    width: 100%;
    background: var(--grey-background);
    position: relative;

    iframe,
    webview {
      width: 100%;
      height: 100%;
      border: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
