version: "2"

services:
  scylladb:
    image: scylladb/scylla:4.1.0
    command: --seeds=scylladb --smp 1 --memory 400M --overprovisioned 1 --api-address 0.0.0.0
    volumes:
      - ./docker-data/scylladb:/var/lib/scylla
  scylladb2:
    image: scylladb/scylla:4.1.0
    command: --seeds=scylladb --smp 1 --memory 400M --overprovisioned 1 --api-address 0.0.0.0
    volumes:
      - ./docker-data/scylladb2:/var/lib/scylla
  rabbitmq:
    image: rabbitmq:3
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - 5672:5672
      - 15672:15672
  redis:
    image: "redis:alpine"
    command: redis-server --requirepass some_password
    ports:
      - "6379:6379"
    environment:
      - REDIS_REPLICATION_MODE=master
  node:
    image: twaketech/twake-node
    environment:
      - DEV=dev
      - DB_DRIVER=cassandra
      - DB_CASSANDRA_URI=scylladb:9042
      - DB_CASSANDRA_KEYSPACE=twake
    volumes:
      - ./configuration/backend-node/:/configuration/
      - ./docker-data/drive/:/twake-core/drive/
      - ./docker-data/drive-preview/:/twake-core/web/medias/
      - ./docker-data/uploads/:/twake-core/web/upload/
    depends_on:
      - scylladb
      - rabbitmq
      - elasticsearch
      - redis
    links:
      - scylladb
  php:
    image: twaketech/twake-php
    volumes:
      - ./configuration/backend/:/configuration/
      - ./docker-data/drive/:/twake-core/drive/
      - ./docker-data/drive-preview/:/twake-core/web/medias/
      - ./docker-data/uploads/:/twake-core/web/upload/
    depends_on:
      - rabbitmq
      - scylladb
      - elasticsearch
    links:
      - scylladb
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.4.3
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./docker-data/es_twake:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
  nginx:
    image: twaketech/twake-nginx
    ports:
      - 8000:80
    links:
      - php
    volumes_from:
      - php
    volumes:
      - ./configuration/frontend/:/configuration
      - ./docker-data/logs/nginx/:/var/log/nginx
      - ./docker-data/drive-preview/:/twake-core/web/medias/
      - ./docker-data/uploads/:/twake-core/web/upload/