version: "3.4"

services:
  scylladb:
    image: scylladb/scylla:4.1.0
    command: --smp 1 --memory 400M
    ports:
      - 9042:9042
    volumes:
      - ./docker-data/scylladb:/var/lib/scylla

  rabbitmq:
    image: library/rabbitmq:3.8.9-management-alpine
    mem_limit: 300m
    ports:
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  node:
    image: twaketech/twake-node
    build:
      context: ./backend/node
      dockerfile: ../../docker/twake-node/Dockerfile.dev
    volumes:
      - ./backend/node:/usr/src/app
      - ./configuration/backend-node/:/usr/src/app/config/
    depends_on:
      - scylladb
      - rabbitmq
      - elasticsearch
    links:
      - scylladb

  php:
    image: twaketech/twake-php
    environment:
      - DEV=dev
    build:
      context: .
      dockerfile: docker/twake-php/Dockerfile
    volumes:
      - ./backend/core/:/twake-core:cached
      - ./docker-data/drive/:/twake-core/drive/
      - ./docker-data/fpm/:/etc/docker-data/fpm/
      - ./docker-data/drive-preview/:/twake-core/web/medias/
      - ./docker-data/uploads/:/twake-core/web/upload/
    depends_on:
      - scylladb
      - rabbitmq
      - elasticsearch
    links:
      - scylladb

  nginx:
    image: twaketech/twake-nginx
    environment:
      - DEV=dev
    build:
      context: .
      dockerfile: docker/twake-nginx/Dockerfile
    ports:
      - 8000:80
    depends_on:
      - php
      - node
    volumes_from:
      - php
      - node
    volumes:
      - ./frontend/:/twake-react/
      - ./docker-data/logs/nginx/:/var/log/nginx
      - ./docker-data/letsencrypt/:/etc/letsencrypt/
      - ./docker-data/drive-preview/:/twake-core/web/medias/
      - ./docker-data/uploads/:/twake-core/web/upload/
