version: "3.4"

# docker-compose -f docker-compose.dev.tests.mongo.yml stop mongo; rm -R docker-data/mongo/; docker-compose -f docker-compose.dev.tests.mongo.yml run -e SEARCH_DRIVER=mongodb -e DB_DRIVER=mongodb node npm run test:e2e

services:
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./docker-data/mongo:/data/db
    ports:
      - 27017:27017
  node:
    image: twaketech/twake-node:test
    container_name: node-test
    build:
      context: .
      dockerfile: ./docker/twake-node/Dockerfile
      target: test
    environment:
      - NODE_ENV=test
      - DB_DRIVER
      - PUBSUB_URLS=amqp://guest:guest@rabbitmq:5672
    volumes:
      - ./backend/node:/usr/src/app
      - ./docker-data/documents/:/storage/
    depends_on:
      - mongo
    links:
      - mongo
