version: "3.4"

services:
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./docker-data/mongo:/data/db
    ports:
      - 27017:27017
  node:
    image: twaketech/twake-node
    ports:
      - 4000:3000
      - 8000:3000
      - 9229:9229
    environment:
      - DEV=dev
      - SEARCH_DRIVER=mongodb
      - DB_DRIVER=mongodb
      - PUBSUB_TYPE=local
    build:
      context: .
      dockerfile: ./docker/twake-node/Dockerfile
      target: development
    volumes:
      - ./backend/node:/usr/src/app
      - ./docker-data/documents/:/storage/
    depends_on:
      - mongo
    links:
      - mongo
