.align-items-center {
  display: flex;
  align-items: center;
}

.main-view-tabs {
  height: 47px;
  margin-inline: 8px;

  .tab-component {
    cursor: pointer;
    line-height: 31px;
    margin-right: 8px;
    padding-inline: 8px;
    &:hover {
      opacity: 0.8;
      color: var(--primary);
    }
  }
  .tab-component-selected {
    cursor: pointer;
    line-height: 31px;
    margin-right: 8px;
    padding-inline: 8px;
    border-radius: 8px;
    color: var(--primary);
    background-color: var(--primary-background);
  }

  .ant-tabs-tab {
    margin-right: 8px !important;
  }

  .tab-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 108px;
  }

  .add-tab-button {
    vertical-align: top;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: var(--border-radius-large);
    background: var(--grey-background);
    margin-left: -8px;

    &:hover {
      background-color: var(--grey-light);
      color: var(--grey-dark);
    }
  }
}
