@import '~components/constants.scss';

.electron #app {
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    height: 16px;
    -webkit-app-region: drag;
    width: 100%;
    left: 0;
    z-index: 1;
  }
}

.white_box_with_shadow {
  box-sizing: border-box;
  border-radius: $base_border_radius;
  background: #fff;
  box-shadow: $larger_box_shadow;
}

.white_full_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

/* Texts */

.text {
  font-size: 13px;

  &.error {
    color: #e91010;
  }
}

.smalltext {
  font-size: 12px;

  &.error {
    color: #e91010;
  }
}

.blocError {
  background: #e91010;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

a {
  text-decoration: none;
  color: $primary;
  cursor: pointer;
}

a:hover {
  color: $secondary;
}

a.red,
a.error {
  color: $red;

  &:hover {
    color: #dd0000;
  }
}

/* Text inputs */

/*
select, .select {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  height: 38px;
  border-radius: $base_border_radius;
  background: white;
  font-size: 14px;
  opacity: 0.8;
  margin: 10px 0px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTkuNzEsMTAuMjEsMTIsNy45MWwyLjI5LDIuM2ExLDEsMCwwLDAsMS40MiwwLDEsMSwwLDAsMCwwLTEuNDJsLTMtM2ExLDEsMCwwLDAtMS40MiwwbC0zLDNhMSwxLDAsMCwwLDEuNDIsMS40MlptNC41OCw0LjU4TDEyLDE3LjA5bC0yLjI5LTIuM2ExLDEsMCwwLDAtMS40MiwxLjQybDMsM2ExLDEsMCwwLDAsMS40MiwwbDMtM2ExLDEsMCwwLDAtMS40Mi0xLjQyWiIvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 10px center;
}
.select {
  line-height: 38px;
  padding: 0 10px;
  display: inline-block;
  padding-right: 40px;
}

input, textarea {
  background: #F2F2F2;
  border: 0;
  border-radius: $base_border_radius;
  height: 34px;
  font-size: 15px;
  padding: 8px 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  transition: border 0.5s, background 0.5s;
  resize: none;
  overflow: hidden;
  font-family: inherit;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px #F2F2F2 inset !important;
  }

  &.medium {
    min-height: 0px;
    height: 28px;
    font-size: 13px;
    min-height: 28px;
    padding: 5px 10px;
  }

  &.error {
    background: #FFF2F2;
  }

  &.error:hover, &.error:focus {
    background: #FFEAEA;
  }

  &:disabled{
    opacity: 0.5;
    background: #F2F2F2 !important;
  }

  &:hover, &:focus {
    background: #EAEAEA;
    outline: none;
  }

  &::placeholder {
    color: #000;
    opacity: 0.5;
  }

}
*/

/* Buttons */
/*
input[type=submit], button {
  border: 0;
  border-radius: $base_border_radius;
  height: 34px;
  min-height: 34px;
  font-size: 15px;
  padding: 8px 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  background: $primary;
  color: #FFF;
  cursor: pointer;
  transition: border 0.2s, background 0.2s;

  &.medium {
    height: 28px;
    line-height: 0px;
    font-size: 13px;
    width: auto;
    min-height: 28px;
    padding: 5px 10px;
  }
}
input[type=submit]:hover, button:hover {
  background: #007ED9;
}
input[type=submit]:disabled, button:disabled {
  background: $primary !important;
  cursor: auto !important;
  opacity: 0.5;
}

input[type=submit].btn-danger, button.btn-danger {
  background: #E91010;
}
input[type=submit].btn-danger:hover, button.btn-danger:hover {
  background: #D90000;
}
input[type=submit].btn-danger:disabled, button.btn-danger:disabled {
  background: #E91010 !important;
  cursor: auto !important;
}

input[type=submit].secondary, button.secondary {
  background: #EEEEEE;
  color: #000;
}
input[type=submit].secondary:hover, button.secondary:hover {
  background: #DEDEDE;
}
input[type=submit].secondary:disabled, button.secondary:disabled {
  background: #EEEEEE !important;
  cursor: auto !important;
}

input[type=submit].secondary, button.secondary {
  background: #AAA;
}
input[type=submit].secondary:hover, button.secondary:hover {
  background: #999;
}
input[type=submit].secondary:disabled, button.secondary:disabled {
  background: #AAA !important;
  cursor: auto !important;
}*/

.rounded-btn {
  width: 32px;
  height: 32px;
  background: $grey_background;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  color: $grey_dark;
  padding-top: 4px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;

  .m-icon-small {
    font-size: 24px !important;
  }

  &:hover {
    background: $grey_light;
    color: $grey_dark;
  }
}

/* General */

.tag {
  background: $grey_dark;
  border-radius: 4px;
  height: 18px;
  color: $white;
  font-size: 12px;
  padding: 0 5px;
  line-height: 18px;
  box-sizing: border-box;
  width: auto;
  display: inline-block;
  margin-right: 6px;

  &.orange {
    background-color: $yellow;
  }

  &.blue {
    background-color: $primary;
  }

  &.green {
    background-color: $green;
  }
}

.m-icon-small {
  font-size: 18px !important;
}

/* Error fireworks */
.full_page_error {
  background: $primary;
  width: 100%;
  height: 100%;

  .error_message {
    position: absolute;
    margin: auto;
    z-index: 1;
    width: 380px;
    height: 400px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $white;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 30px;
  }
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  //background: #FFF;
}
