@import '~components/constants.scss';

.inputWithClipBoard {
  display: flex;
  position: relative;
  input.input {
    padding-right: 50px;
  }
  .copy {
    position: absolute;
    right: 0px;
    height: 40px;
    box-sizing: border-box;
    padding: 11px;
    border-radius: 0px 4px 4px 0px;
    border-left: solid 1px $grey_dark;
    font-size: 16px;
    cursor: pointer;
  }
}
