<span class="mobileRightMenuTouch" ng-init="mobile.reset()"></span>
<div style="height: 100%" ng-controller="contactsSearchCtrl as contactsSearch"><div ng-controller="menuRightCtrl as mrc" style="display:flex; flex-direction: column;height: 100%">


	<div ng-include="'@views/member_search.html'"></div>
        <div style="margin-top: 10px;text-align: center;" ng-show="contactsSearch.searchValue == ''">
            <div uib-tooltip="Vos contacts" tooltip-placement="bottom" style="margin: 6px;margin-bottom: 12px;width:20px;font-size: 18px;" ng-class="{'active':mrc.mode == 'contacts'}" class="clickable_icon icon-contacts" ng-click="mrc.mode = 'contacts'"></div>
            <div uib-tooltip="Membres du groupe" tooltip-placement="bottom" style="margin: 6px;margin-bottom: 12px;width:20px;font-size: 18px;" ng-class="{'active':mrc.mode == 'group'}" class="clickable_icon icon-group" ng-click="mrc.mode = 'group'"></div>
            <div uib-tooltip="Membres du channel" tooltip-placement="bottom" style="margin: 6px;margin-bottom: 12px;width:20px;font-size: 18px;" ng-class="{'active':mrc.mode == 'channel'}" class="clickable_icon icon-channel" ng-click="mrc.mode = 'channel'" ng-show="cmsg.current.type=='channel'"></div>
        </div>
        <div style="flex: 1;position:relative;">

        <div scrollbar style="height: 100%;position:absolute;width:100%;overflow-x:hidden;" class="scroller" ng-show="contactsSearch.searchValue == ''">

            <div ng-show="mrc.mode === 'contacts'">
              <div class="contactRight" ng-init="cmsg.subscibeConnections(person.id)" ng-repeat="person in mrc.contacts" ui-sref="messages({id: person.id, type:'user'})"  style="{{person.id == cuser.data.uid ? 'pointer-events: none;' : ''}}">
                <div style="{{person.cssuserimage}}" class="contactRightImage default_user_image"  >
                  <div class="notif-badge" style="left: 36px;top: 2px;z-index: 10;" ng-show="notifications.data.msg[person.id]>0">{{notifications.data.msg[person.id]}}</div>
                </div>
                <div class="contactRightName">
                  {{person.username}}
                </div>
                <div class="groupCircleProfileConnexion" ng-class="{'connected':cmsg.contactsConnections[person.id].connected || cuser.data.uid == person.id}"></div>
              </div>
            </div>

            <div ng-show="mrc.mode === 'group'">
                <div class="contactRight" ng-init="cmsg.subscibeConnections(person.id)" ng-repeat="person in mrc.groupMembers" ui-sref="messages({id: person.id, type:'user'})" style="{{person.id == cuser.data.uid ? 'pointer-events: none;' : ''}}">
                  <div style="{{person.cssuserimage}}" class="contactRightImage default_user_image" >
                    <div class="notif-badge" style="left: 36px;top: 2px;z-index: 10;" ng-show="notifications.data.msg[person.id]>0">{{notifications.data.msg[person.id]}}</div>
                  </div>
                  <div class="contactRightName">
                    {{person.username}}
                  </div>
                  <div class="groupCircleProfileConnexion" ng-class="{'connected':cmsg.contactsConnections[person.id].connected || cuser.data.uid == person.id}"></div>
                </div>
            </div>

            <div ng-show="mrc.mode === 'channel'">
                <div class="contactRight" ng-init="cmsg.subscibeConnections(person.id)" ng-repeat="person in mrc.channelsMembers" ui-sref="messages({id: person.id, type:'user'})" style="{{person.id == cuser.data.uid ? 'pointer-events: none;' : ''}}">
                  <div style="{{person.cssuserimage}}" class="contactRightImage default_user_image" >
                    <div class="notif-badge" style="left: 36px;top: 2px;z-index: 10;" ng-show="notifications.data.msg[person.id]>0">{{notifications.data.msg[person.id]}}</div>
                  </div>
                  <div class="contactRightName">
                    {{person.username}}
                  </div>
                  <div class="groupCircleProfileConnexion" ng-class="{'connected':cmsg.contactsConnections[person.id].connected || cuser.data.uid == person.id}"></div>
                </div>
                <div style="text-align: center;margin-top: 10px;">
                  <div ng-show="cmsg.channels[cgroup.groupId][cmsg.current.key].name != 'General'" class="glyphicon glyphicon-cog clickable_icon" ng-click="mrc.setChannel(cmsg.current.key);" uib-tooltip="Paramètres de la chaine"></div>
                </div>
            </div>
        </div>
      </div>
</div></div>
