<!-- NOT USED WITH DESIGN 2.0

<div class="alignElementHor">
  <a ui-sref="home" style="height:16px;">
    <i class="clickable_icon fa fa-chevron-left" aria-hidden="true" style="margin-left: 15px; margin-right: 10px; font-size: 16px;"></i>
  </a>
</div>

<div class="alignElementHor nomobile">
<span ui-sref="my-parameters-profile" class="groupCircleProfile myProfile" style="{{cuser.data.cssuserimage}}"></span>
</div>

<div class="alignElementHor nomobile" style="flex:1; margin-left:10px">
  <p name="myname" class="default-text" style="margin-bottom:0px;font-size:16px"> {{cuser.data.username}} </p>
  <p name="myrole" class="grey-text" style="margin-top:0px;margin-bottom:0px;line-height:18px"> {{cgroup.data.nameLevel}} </p>
</div>

<div class="alignElementHor" style="flex:1;margin-right:20px;">
<p name="groupName" class="default-text" style="font-size: 18px;margin-bottom: 0;"> {{cgroup.data.name}} </p>
</div>

<div class="alignElementHor" uib-tooltip="{{!light ? 'Mode clair' : 'Mode sombre'}}" tooltip-placement="bottom">
  <i class="clickable_icon fa fa-lightbulb-o" aria-hidden="true" style="margin-left:15px;font-size: 16px;" ng-click="mtc.toggleDark()" ng-init="mtc.initDark()"></i>
</div>

<!--
<div class="alignElementHor">
  <i class="clickable_icon fa fa-product-hunt" aria-hidden="true" ui-sref-active="active" ui-sref="parameters-premium" style="margin-left:15px;font-size: 16px;"></i>
</div>
-->

<div class="alignElementHor" style="padding-top: 14px;">
	<div ng-show="cuser.data.status=='connected'" style="flex: 1;"
	     ng-include="'@pviews/header/connected_menu.html'"></div>
</div>
