<div ng-controller="registerVerifyCtrl as verify" style="max-width: 900px;margin: auto;">
  <div class='text_center' ng-show="verify.nosuchtoken">
      Aucun utilisateur n'est associé à cette adresse / token.
  </div>

  <div ng-show="verify.tokenok" style="margin-left:10px;">

    <div class="page_block title">
      Bienvenue sur Twake
    </div>

    <div class="page_block">
        <form class="form_block endsignup">

            <div class="title">Dernière étape</div>

            <div class="form_title">Confirmez votre nom d'utilisateur</div><br>

            <div class="nfo">Vous pouvez modifier votre pseudo dans les paramètres de compte à tout moment.</div><br>

            <input style="width: 200px;" type="text" id="username" class="text_input form-control bordered" ng-model="verify.data.username" placeholder="Pseudo" />

            <div style="min-height: 20px;">
                <div class="form_error" ng-show="verify.errors.username_already_used">Ce nom d'utilisateur est déjà utilisé.</div>
                <div class="form_error" ng-show="verify.errors.invalidusername">Votre pseudo doit contenir entre 4 et 30 caractères.</div>
            </div>


            <div class="form_title">Choisissez un mot de passe</div><br>
            <div class="nfo">Vous pouvez modifier votre mot de passe dans les paramètres de compte à tout moment.</div><br>

            <input ng-model="verify.data.password" style="width: 200px;" type="password" class="text_input form-control bordered" id="password" placeholder="Nouveau mot de passe">
            <br>
            <input ng-model="verify.data.verify" style="width: 200px;margin-top: 5px;" type="password" class="text_input form-control bordered" id="verify" placeholder="Confirmation">

            <div style="min-height: 40px;">

                <div class="form_error" ng-show="verify.errors.badverify">Les deux mots de passe ne correspondent pas.</div>
                <div class="form_error" ng-show="verify.errors.invalidpassword">Votre mot de passe doit contenir au moins 8 caractères dont une minuscule, une majuscule et un chiffre.</div>
            </div>

            <br>

            <center>
            <input style="width: 150px;" type="button" class="btn btn-info" value="Finir l'inscription" ng-click="verify.validate()">
            </center>
            <br><br>
        </form>
    </div>

  </div>

</div>
