.userPicker {
  .itemSelected {
    display: inline-flex;
    max-width: 100%;

    .user_bloc {
      flex: 1;
    }
    .close {
      font-size: 8px;
      margin-left: 5px;
      opacity: 0.4;
      display: inline-block;
      margin-right: -1px;
      bottom: 0px;
      position: relative;
      vertical-align: top;
      margin-top: 5px;
    }
    .close:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  .itemContoured {
    display: inline-flex;
    box-sizing: border-box;
    color: #000;
    margin: 5px;
    height: 18px;
    line-height: 16px;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 9px;
    padding-right: 6px;

    &.mini {
      padding-right: 0px;
      margin-right: 0px;
    }
  }
  .pickerInput:not(.readOnly) {
    .itemContoured:hover {
      background: #eee;
    }
  }
  .menu .itemContoured {
    margin: 3px;
  }
}
