<div ng-controller="creationFileCtrl as creation">
    <div class="modal-header"  >
        <h3 class="modal-title" id="modal-title">Nouveau fichier</h3>
    </div>
    <div class="modal-body" id="modal-body">
        {{creation.error}}</br>
      <input type="text form-control bordered" placeholder="Nom du fichier" class="form-control" ng-model="creation.nameFile">
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="creation.createFile()">Créer</button>
    </div>
</div>
