.colorPicker {
  .color {
    width: 16px;
    height: 16px;
    border-radius: var(--border-radius-large);
    display: inline-block;
    margin: 10px;
    position: relative;
    cursor: pointer;

    .m-icon-small {
      color: #fff;
      width: 16px;
      height: 16px;
      position: absolute;
    }
  }
}
