{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block title %}Bienvenue sur Twake{% endblock %}
{% block body %}

    <div class="page_block title">
        Bienvenue sur Twake
    </div>

    <div class="page_block">
        <form class="form_block endsignup">

            <div class="title">Dernière étape</div>

            <div class="form_title">Confirmez votre nom d'utilisateur</div><br>

            <div class="nfo">Vous pouvez modifier votre pseudo dans les paramètres de compte à tout moment.</div><br>

            <input style="width: 200px;" type="text" id="username" class="text_input form-control" value="{{ username }}" placeholder="Pseudo" />

            <div style="min-height: 20px;">
                <div class="form_error" style="display: none;" id="error_username_already_used">Ce nom d'utilisateur est déjà utilisé.</div>
                <div class="form_error" style="display: none;" id="error_invalidusername">Votre pseudo doit contenir entre 4 et 30 caractères.</div>
            </div>


            <div class="form_title">Choisissez un mot de passe</div><br>
            <div class="nfo">Vous pouvez modifier votre mot de passe dans les paramètres de compte à tout moment.</div><br>

            <input  style="width: 200px;" type="password" class="text_input form-control" id="password" placeholder="Nouveau mot de passe">
            <br>
            <input style="width: 200px;margin-top: 5px;" type="password" class="text_input form-control" id="verify" placeholder="Confirmation">

            <div style="min-height: 40px;">

                <div class="form_error" style="display: none;" id="error_badverify">Les deux mots de passe ne correspondent pas.</div>
                <div class="form_error" style="display: none;" id="error_invalidpassword">Votre mot de passe doit contenir au moins 8 caractères dont une minuscule, une majuscule et un chiffre.</div>
            </div>

            <br>

            <center>
            <input style="width: 150px;" type="button" class="btn btn-info" value="Finir l'inscription" onclick="validate()">
            </center>
            <br><br>
        </form>
    </div>

    <script type="text/javascript">
        function validate()
        {
            var username = $("#username").val();
            var password = $("#password").val();
            var verify = $("#verify").val();

            var data = {username:username, password:password, verify:verify};


            forms_send("/register/end/validate", data, function(){

                document.location = "/account";

            }, function(res){console.log(res)}, '.form_block.endsignup');

        }

    </script>

{% endblock %}