{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block right_menu %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %} <div class='text_center'>Deconnexion...</div>


    <script type='text/javascript'>document.location = '/logout';</script>
{% endblock %}