{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block right_menu %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}

    <div class='text_center'>
        Un mail de confirmation vous a été envoyé.
        <br>Si vous ne recevez rien, pensez à vérifier vos spams.
    </div>

{% endblock %}