.appPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.twake_bad_device {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .top,
  .bottom {
    padding: 20px;
  }
  .bottom {
    z-index: 2;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  }

  .top {
    background: var(--primary);
    height: 50vh;
    position: relative;
    &:after {
      content: '';
      width: 200%;
      height: 270px;
      background: #ffffff;
      position: absolute;
      transform: translateX(-50%) rotateZ(-4deg);
      bottom: -200px;
    }
    .title {
      position: absolute;
      width: calc(100% - 40px);
      margin: auto;
      top: 0;
      bottom: 0;
      height: 150px;
    }
  }

  .title {
    margin-bottom: 40px;
    color: var(--white);
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .store_img {
    height: 48px;
    margin: 8px;
  }
}
