{% extends "TwakeCoreBundle:Mail:all.html.twig" %}

{% block title %}Your request for a new password{% endblock %}

{% block secondtitle %}Your request for a new password{% endblock %}

{% block body %}

    <b>Hello {{ username }},</b>
    <br>
    You requested a new password, there is the activation code you need :
    <br>
    <br>
    <center>
    <div style="display: inline-block; color: #ffffff; background-color: #467eb7; border: solid 1px #467eb7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #467eb7;">
        {{ code }}
    </div>
    </center>

{% endblock %}