.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  .tooltipAbsolute {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background: black;
    color: white;
    border-bottom: 1px dotted black;
    padding: 5px 10px;
    border-radius: var(--border-radius-base);
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  .tooltipAbsolute::after {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
  }
  .right,
  .left {
    top: 50% !important;
    transform: translateY(-50%);
  }
  .top,
  .bottom {
    left: 50% !important;
    transform: translateX(-50%);
  }
  .top::after {
    left: calc(50% - 5px);
    top: 100%;
    border-color: black transparent transparent transparent;
  }
  .right::after {
    left: -10px;
    border-color: transparent black transparent transparent;
    top: calc(50% - 5px);
    margin-top: -5px;
  }
  .bottom::after {
    bottom: 100%;
    border-color: transparent transparent black transparent;
    left: calc(50% - 5px);
    margin-left: -5px;
  }
  .left::after {
    right: -10px;
    border-color: transparent transparent transparent black;
    top: calc(50% - 5px);
    margin-top: -5px;
  }
  .visible {
    z-index: 50;
    opacity: 1;
    transition: opacity 0.2s;
  }
  .contentTooltip {
    width: 100%;
    display: inline-block;
  }
}
