<a href="#" class="logo">
	<!-- mini logo for sidebar mini 50x50 pixels -->
	<span class="logo-mini"><b>A</b>Tk</span>
	<!-- logo for regular state and mobile devices -->
	<span class="logo-lg"><b>Admin</b>Twake</span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
		<span class="sr-only">Toggle navigation</span>
	</a>

	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">

			<li class="dropdown user user-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<div style="background-size: cover;background-color: #EEE;{{cadmin.user.cssuserimage}}" class="user-image" alt="User Image"></div>
				<span class="hidden-xs">{{cadmin.user.username}}</span>
				</a>
			</li>

			<li class="dropdown notifications-menu" ng-controller="LoginCtrl as login">
				<a href="#" ng-click="login.logout()" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-power-off"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>