<section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<div style="height: 45px;width: 45px;background-size: cover;background-color: #EEE;{{cadmin.user.cssuserimage}}" class="img-circle" alt="User Image"></div>
		</div>
		<div class="pull-left info">
			<p>{{cadmin.user.username}}</p>
			<a><i class="fa fa-circle text-success"></i> {{cadmin.roles}}</a>
		</div>
	</div>

	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu" data-widget="tree">
		<li class="header">MAIN NAVIGATION</li>
		<!--<li class="treeview" ui-sref-active="active" ui-sref="dashboard">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>-->
		<li class="treeview" ui-sref-active="active" ui-sref="user-all">
			<a href="#">
				<i class="fa fa-user"></i> <span>Users</span>
			</a>
		</li>

		<li class="treeview" ui-sref-active="active" ui-sref="workspace-all">
			<a href="#">
				<i class="fa fa-suitcase"></i> <span>Workspaces</span>
			</a>
		</li>
		<!--<li class="treeview" ui-sref-active="active" ui-sref="group-all">
			<a href="#">
				<i class="fa fa-users"></i> <span>Groups</span>
			</a>
		</li>
		<li class="treeview" ui-sref-active="active" ui-sref="app-all">
			<a href="#">
				<i class="fa fa-square"></i> <span>Applications</span>
			</a>
		</li>
		<li class="header">SERVER</li>
		<li class="treeview" ui-sref-active="active" ui-sref="erver">
			<a href="#">
				<i class="fa fa-server"></i> <span>Server utilisation</span>
			</a>
		</li>
		<li class="treeview" ui-sref-active="active" ui-sref="api-use">
			<a href="#">
				<i class="fa fa-bar-chart"></i> <span>Api utilisation</span>
			</a>
		</li>-->
		<li class="header">MANAGE ADMINS</li>
		<li class="treeview" ui-sref-active="active" ui-sref="admins">
			<a href="#">
				<i class="fa fa-lock"></i> <span>Administrators</span>
			</a>
		</li>

		<li class="header">SERVER INFO</li>
		<li class="treeview" ui-sref-active="active" ui-sref="cpu">
			<a href="#">
				<i class="fa fa-microchip"></i> <span>Server Stat</span>
			</a>
		</li>

		<li class="treeview" ui-sref-active="active" ui-sref="error">
			<a href="#">
				<i class="fa fa-exclamation-circle"></i> <span>Error Stat</span>
			</a>
		</li>
	</ul>
</section>
