{% extends "Mail/en/all.html.twig" %}

{% block title %}Confirm new e-mail{% endblock %}

{% block secondtitle %}Confirm new e-mail{% endblock %}

{% block body %}

    <b>Hello {{ username|capitalize }},</b>
    <br>
    To add this e-mail to your account, use this code :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #837dff;">
            {{ code }}
        </div>
    </center>

{% endblock %}