{% extends "Mail/en/all.html.twig" %}

{% block title %}E-mail confirmation{% endblock %}

{% block secondtitle %}E-mail confirmation{% endblock %}

{% block body %}

    <b>Welcome to Twake !</b>
    <br>
    In order to create your account, you can click on this link :
    <br>
    <a style="color: #837dff;"
       href="{{ twakeurl|trim('/') }}{{ magic_link }}">{{ twakeurl|trim('/') }}{{ magic_link }}</a>
    <br>
    <br>
    By clicking on this link you agree to <a style="color: #837dff;" href="https://twakeapp.com/files/TOS.pdf">the terms
    of use of twake</a>.
    <br><br>

{% endblock %}