.new-thread-button {
  cursor: pointer;

  .message {
    align-items: center;
    color: var(--secondary);
    .plus-icon {
      margin-right: 8px;
    }
  }
  .thread.with-block {
    width: auto;
    display: inline-block;
  }

  &:hover {
    opacity: 0.8;
    &:active {
      .thread.with-block {
        box-shadow: none;
      }
    }
  }
}

.new-thread {
  .message-input {
    padding: 8px;
  }
}
.message-input {
  flex: 1;
  background: #fff;

  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  .autocomplete {
    div.input {
      background: #fff;
      textarea.input {
        background: #fff;
      }
    }
    .input.small {
      margin-top: -2px;
      padding: 0;
    }
    .input.autoheight_container.small textarea {
      padding-left: 0px;
    }
  }

  .input-options {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    .option {
      color: var(--grey-light);

      &:not(:last-child) {
        margin-right: 12px;
      }

      &:not(.disabled):hover {
        color: var(--black);
      }

      &:not(.disabled) {
        cursor: pointer;
        color: var(--grey-dark);
      }

      .messages-input-app-icon {
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: contain;
        border-radius: var(--default-border-radius);
      }
    }
  }

  .ephemerals {
    text-align: left;

    .thread-centerer {
      width: 100%;
      .message {
        padding: 0px;
      }
    }

    .ephemerals_text {
      font-size: 12px;
      color: var(--grey-dark);
      padding-bottom: 12px;
      max-width: 1362px;
      width: calc(100% - 48px);
      display: inline-flex;
      text-align: left;
    }
  }
}
