.new-thread-button {
  cursor: pointer;

  .message {
    align-items: center;
    color: var(--secondary);
    .plus-icon {
      margin-right: 8px;
    }
  }
  .thread.with-block {
    width: auto;
    display: inline-block;
  }

  &:hover {
    opacity: 0.8;
    &:active {
      .thread.with-block {
        box-shadow: none;
      }
    }
  }
}

.new-thread {
  .message-input {
    padding: 8px;
  }
}
.message-input {
  flex: 1;
  background: #fff;

  .autocomplete {
    div.input {
      background: #fff;
      textarea.input {
        background: #fff;
      }
    }
    .input.small {
      margin-top: -2px;
      padding: 0;
    }
    .input.autoheight_container.small textarea {
      padding-left: 0px;
    }
  }

  .input-options {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    .option {
      color: var(--grey-light);

      &:not(:last-child) {
        margin-right: 12px;
      }

      &:not(.disabled):hover {
        color: var(--black);
      }

      &:not(.disabled) {
        cursor: pointer;
        color: var(--grey-dark);
      }
    }
  }
}
