.calendar_selector_container {
  display: inline-block;
  vertical-align: middle;

  .selected_calendars_list {
    display: inline-block;
  }

  .list_calendar_to_select {
    display: inline-block;
    vertical-align: top;

    .select {
      display: inline-block;
      vertical-align: top;
    }
  }

  &.medium {
    .calendar_item {
      height: 40px;
      padding: 4px 12px;
    }
  }
}

.calendar_selector_part {
  .calendar_item {
    height: 32px;
    box-sizing: border-box;
    line-height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    display: inline-block;
    background-color: var(--grey-background);
    border-radius: var(--border-radius-base);
    margin-right: 8px;
    margin-bottom: 8px;
    text-transform: capitalize;

    &.removable {
      cursor: pointer;

      &:hover {
        background: var(--primary-background);
      }
    }
  }

  .calendar_color {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    background: var(--green);
    margin-right: 8px;
  }
}
