/* Dropmenu */

.menu-list {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 0;

  &.inline,
  &.inline.as_frame {
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1050;

    &.top {
      bottom: 100%;
      top: auto;
      display: flex;
      flex-direction: column-reverse;

      &::before {
        height: calc(100% + 34px);
        top: 0;
      }
    }
  }

  &.as_frame {
    border-radius: var(--border-radius-base);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    width: 250px;
    max-height: 80vh;
    overflow: auto;
  }

  .menu-title {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    margin: 0 8px;
    padding: 0 8px;
  }

  .menu-text {
    font-size: 12px;
    font-weight: 500;
    margin: 8px 16px;
    color: var(--grey-dark);
  }

  .menu-custom {
    font-size: 12px;
    font-weight: 500;
    margin: 8px 8px;
    padding: 0 8px;

    .menu-cancel-margin,
    &.menu-cancel-margin {
      margin: -8px 0;
      width: 100%;
      padding: 0;

      & > .menu,
      & > .menu-text,
      & > .menu-custom,
      & > .menu-title {
        margin: -8px 0;
      }
    }

    &.menu-cancel-left-padding {
      padding-left: 0;
    }

    &.menu-cancel-top-margin {
      margin-top: 0;
    }
  }


  .menu {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: var(--black);
    margin: 0 8px;
    padding: 0 8px;
    border-radius: var(--border-radius-base);
    font-weight: 500;
    display: flex;
    overflow: hidden;
    &:not(.no-background) {
      cursor: pointer;
    }

    &.no-background {
      background: transparent !important;
      &:hover {
        color: var(--black);
      }
    }

    &.selected,
    &.selected:hover,
    &.is_selected,
    &.is_selected:hover {
      background: var(--primary);
      color: var(--white);
      .icon {
        color: var(--white);
      }
    }

    &:hover {
      background: var(--primary-background);
      color: var(--primary);
      .icon {
        color: var(--primary);
      }
    }

    &.primary {
      color: var(--primary);
      .icon {
        color: var(--primary);
      }
    }

    &.error,
    &.danger {
      color: var(--red);
      .icon {
        color: var(--red);
      }
    }
  }

  .menu-custom,
  .menu {
    .icon {
      display: flex;
      align-items: center;
      width: 30px;
      font-size: 18px;
      margin-left: -5px;
      color: var(--grey-dark);
      align-items: center;
      justify-content: center;

      .emoji-container {
        height: 28px;
      }

      .user_head {
        margin-left: 5px;
        border: 0;
      }

      .letter {
        font-size: 10px;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        border-radius: var(--border-radius-small);
        font-weight: 500;
        margin-left: 5px;
        background: var(--grey-dark);
        color: var(--white);
      }

      .emojione {
        width: 16px;
        height: 16px;
        margin-left: 5px;
        margin-top: -2px;
      }

      .emoji-image {
        margin-top: 0px;
        border-radius: var(--border-radius-small);
      }
    }

    .image {
      width: 24px;
      height: 24px;
      border-radius: var(--border-radius-small);
      background-color: var(--grey-dark);
      display: inline-block;
      background-size: contain;
      background-position: center;
      margin-right: 5px;
      box-sizing: border-box;
      vertical-align: middle;
      line-height: 24px;
      text-align: center;
      color: var(--secondary);
      &.has_image {
        font-size: 0px;
      }
    }

    .text {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .more {
      width: 18px;
      font-size: 18px;
      display: flex;
      align-items: center;
      height: 32px;
    }
  }

  .menu-separator {
    border-top: 1px solid var(--grey-background);
    height: 8px;
    margin-top: 8px;
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
  &.as_frame {
    .menu-separator {
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
