<div class="startPage" style="position: relative;background: #3C63AD;z-index: 0;height:100%;">
		<div ng-controller="startpageCtrl as start">
			<div class="header animatedBackground">
		</div>
		<div class="textHeader">
			<div class="imgTwake"></div>
			<div class="title">
				<h1 style="color: #FFF;">Bienvenue sur Twake (Alpha)</h1>
				<h5 style="color:#FFF;">L'outil qui <!--remplace <span
						id="js-rotating">Facebook,Skype,Google Drive,Trello,Google Doc</span> pour--> révolutionne vos
					groupes et
					projets</h5>
			</div>

			<div class="start_buttons">
				<button class="red form-control" ng-click="header.go('signup')">Nouveau groupe</button>
				<!--<button class="white form-control">Télécharger</button>-->
			</div>

		</div>
		<div style="background-color:white">
			<div class="bloc2">
				<div class="title" >Tout est là.</div>
				<div class="sub-title">Une seule inscription, tous vos outils</div>
				<div class="text">Twake vous permet de faire presque tout ce que vous pouvez imaginer, de nouvelles applications arrivent chaque semaine sur le Marketplace ! Choisissez les applications que vous voulez pour votre groupe, et tout le monde y a accès instantanément.</div>
				<div class="blocImage">
					<!--<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/visio.svg);"></div>
						<div class="title">Visioconférence</div>
						<div class="textImage">Partage d'écran, audio, vidéo, mute, à deux ou plus !</div>
					</div>-->
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/msg.svg);"></div>
						<div class="title">Messagerie</div>
						<div class="textImage">Stylisez votre texte, créez des channels, partagez des fichiers, et bien
							plus
						</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/file.svg);"></div>
						<div class="title">Partage des fichiers</div>
						<div class="textImage">Drive complet à votre disposition lié à toutes vos applications</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/editor.svg);"></div>
						<div class="title">Collaboration</div>
						<div class="textImage">Éditer vos documents à plusieurs et en temps réel avec AnyPad</div>
					</div>

					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/rights.svg);"></div>
						<div class="title">Gestion des droits</div>
						<div class="textImage">Créer des rôles, affectez les membres, éditez précisément les droits</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/members.svg);"></div>
						<div class="title">Gestion des membres</div>
						<div class="textImage">Gérer vos groupes et vos membres n'a jamais été aussi simple</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/apps.svg);"></div>
						<div class="title">Marketplace</div>
						<div class="textImage">Installez les applications dont vous avez besoin pour votre équipe</div>
					</div>
					<!--<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/light.svg);"></div>
						<div class="title">Mode dark</div>
						<div class="textImage">Switchez entre les modes dark et light : personnalisez votre groupe</div>
					</div>-->

				</div>
			</div>
		</div>
		<div style="background-color: white">
			<div class="bloc2" style="max-width:1000px;">
				<div class="title" style="margin-bottom: 35px;">Capture d'écran</div>
				<div style="display: flex;">
					<div class="textImg">
						<div class="titleImg">Messagerie</div>
						Outil de communication moderne.
					</div>
					<div style="flex:1;background: url('/public/img/screenshots/Messages1.png');background-position:right;background-size:contain;height:500px;background-repeat: no-repeat"></div>
				</div>
				<div style="display: flex;">
					<div style="flex:1;background: url('/public/img/screenshots/Drive1.png');background-size:contain;height:500px;background-repeat: no-repeat"></div>
					<div class="textImg">
						<div class="titleImg">Drive</div>
						Système de stockage sécurisé.
					</div>
				</div>
				<div style="display: flex;">
					<div class="textImg">
						<div class="titleImg">Onlyoffice</div>
						Suite bureatique collaborative complète.
					</div>
					<div style="flex:1;background: url('/public/img/screenshots/Word.png');background-position:right;background-size:contain;height:500px;background-repeat: no-repeat"></div>
				</div>
				<div style="display: flex;">
					<div style="flex:1;background: url('/public/img/screenshots/Wekan2.png');background-size:contain;height:500px;background-repeat: no-repeat"></div>
					<div class="textImg">
						<div class="titleImg">Wekan</div>
						Application open source de gestion de ticket.
					</div>
				</div>

			</div>
		</div>

		<div style="background-color: #F0F0F0">
			<div class="bloc2">
				<div class="title">Twake : votre nouveau réseau social</div>
				<div class="sub-title">Enfin de véritables flux d'information</div>
				<div class="text">Tenez vous informé de l'activité des groupes qui vous intéressent, oubliez les status
					Facebook inutiles et les fakes. Ici vous suivez et êtes informés de vos équipes et des groupes que
					vous avez choisis de suivre.
				</div>

				<div class="sub-title">Ne cherchez plus ailleurs, tout est là</div>
				<div class="text">L'API Twake permet aux développeurs de créer de nouvelles applications, profitez d'un marketplace complet pour trouver les outils que vous voulez mettre à disposition de votre équipe, et ce en quelques clics !</div>
			</div>
		</div>
			<div style="background-color: white">
			<div class="bloc2" style="background: #FFF">
				<div class="title">Un outil pour les gouverner tous</div>
				<div class="sub-title">Téléchargez Twake pour votre appareil</div>
				<div class="text">Twake vous suit partout, restez informé de toutes les activité de votre entourage, sur desktop comme sur mobile. Utilisez l'application sur votre ordinateur pour une utilisation optimisée et des fonctionnalités encore plus poussées !</div>

				<div class="text">[Les téléchargement seront disponibles bientôt !]</div>

				<!-- apps -->
				<div class="blocImage">

					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/mac.svg);"></div>
						<div class="title">Mac OS X</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/windows.svg);"></div>
						<div class="title">Windows</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/linux.svg);"></div>
						<div class="title">Linux</div>
					</div>



					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/android.svg);"></div>
						<div class="title">Android</div>
					</div>
					<div class="rectangle">
						<div class="img" style="background-image: url(/public/img/home/ios.svg);"></div>
						<div class="title">iOS</div>
					</div>

				</div>

			</div>
		</div>

		<div class="footer">
			<div style="display:inline-block;width:100%;vertical-align:middle;margin: auto;">
				<div style="background-image:url('/public/img/home/twake.svg');width:50px;height:50px;background-size:cover; margin: auto;"></div>
			</div>
			<div style="display: flex;width: 100%;flex: 1;font-size: 0;margin-top: 5%;">
				<div class="col nomobile" style="flex:1">
					<div class="title" ui-sref="download">Télécharger</div>
					<div class="item">Bientôt disponible</div>
					<!--<div class="item">Mac OS X</div>
					<div class="item">Windows</div>
					<div class="item">Linux</div>
					<div class="item">Android</div>
					<div class="item">IOS</div>-->
				</div>
				<div class="col nomobile">
					<div class="title">Développeurs</div>
					<div class="item">Bientôt disponible</div>
					<!--
					<div class="item">Marketplace</div>
					<div class="item">Twake API</div>-->
				</div>
				<div class="col">
					<div class="title">Aide</div>
					<!--<div class="item">Aide à l'utilisateur</div>-->
					<a class="item" target="_BLANK"
					   href="http://feedback.userreport.com/bf184945-cfab-405c-aa9d-34a33e8e211c/#ideas/popular">Commentaires</a>
					<a class="item" target="_BLANK"
					   href="http://feedback.userreport.com/bf184945-cfab-405c-aa9d-34a33e8e211c/#submit/bug">Signaler
						un bugs</a>
				</div>
				<div class="col">
					<div class="title">Documents</div>
					<a class="item" ui-sref="legals">Conditions d'utilisation</a>
					<a class="item" ui-sref="privacy">Confidentialité</a>
					<!--<div class="item">Partenaires</div>-->
				</div>
				<div class="col nomobile" style="width:130px">
					<div class="title">Langue</div>
					<div class="item">(Français)</div>
				</div>
			</div>
			<br>
			<center>Twake ©2017</center>
		</div>

</div>
</div>
