<!--<div ng-show="ctrl.noOrga" class="page_block" ng-controller="groupsUserCtrl as ctrl">
	<div style="text-align: center;">
	    Vous n'avez actuellement aucun groupe.<br><br>
	    <button class="btn btn-warning" ng-href="/groups/create">Commencez par créer un groupe</button>
	    <--, ou bien rejoindre un groupe qui vous a invité directement depuis <a href="/account/groups">cette page</a>.->
	    <br>
    </div>
</div>-->

<div ng-controller="startpageUserCtrl as page">
	<!--
		<div ng-show="page.hasNoFriend" class="page_block">
			Vous n'avez pas encore de contact :
			<a ui-sref="account-contacts">Ajouter des contacts Twake</a>
		</div>


		<div ng-include="'@views/status/status.html'" ng-controller="statusCtrl as status"
			 ng-init="status.loadFct=status.loadAll;status.loadAll();"></div>-->
</div>
