@import '~components/constants.scss';

.connectorsListManager {
  margin: 0px -8px;
  margin-bottom: 0px;

  .menu-app-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-position: center;
    background-size: contain;
    border-radius: var(--default-border-radius);
    vertical-align: middle;
    margin-right: 8px;
  }

  .emoji-container {
    margin-right: 5px;
    top: 1px;
    position: relative;
  }

  .menu-buttons {
    padding: 0px 8px;
    margin: 0px 8px;
  }

  .more {
    width: auto !important;
    margin-right: -5px;

    .m-icon-small {
      margin: 3px;
    }

    &:hover {
      .m-icon-small {
        &.remove:hover {
          color: $red;
        }
        &.config:hover {
          color: $primary;
        }
        &.add {
          color: $primary;
        }
      }
    }
  }
}
