<!DOCTYPE html>
<html>
<head>
</head>

<body style="margin:0;padding:0;display: flex;flex-direction: column;width:100%;height: 100vh;">

<div style="flex:1;background:#FFF;position:relative;overflow:hidden;">

    <br><br>
    <center>OnlyOffice is not installed on this server.</center>

</div>

</body>
</html>
