<div ng-controller="User_sheetCtrl as user">
    <table class="table table-bordered table-hover">
        <tr>
            <td>Username</td>
            <td>{{user.userInfo.username}}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{user.userInfo.firstname}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{user.userInfo.lastname}}</td>
        </tr>
        <tr>
            <td>Connection Status</td>
            <td>{{user.userInfo.isConnected ? "Connect" : "Disconnect"}}</td>
        </tr>
        <tr>
            <td>Last Login</td>
            <td>{{user.userInfo.lastLogin.date}}</td>
        </tr>
        <tr>
            <td>Banned Status</td>
            <td>{{user.userInfo.banned ? "Ban" : "Not ban"}}</td>
        </tr>
        <tr>
            <td>Thumbnail</td>
            <td><div style="background-position: center; background-size: contain; width:50px; height:50px; {{user.userInfo.cssuserimage}}"></div></td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="user.goBack()">Back to the list</button>
    <h1>Workspaces for {{user.userInfo.username}}</h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="workspace in user.workspaces">
            <td>{{workspace.id}}</td>
            <td>
                <div style="background-position: center; background-size: contain; width:50px; height:50px; {{workspace.csslogo}}"></div>
            </td>
            <td>{{workspace.name}}</td>
            <td>{{workspace.description}}</td>
            <td><button class="btn btn-primary" ng-click="">See Workspace</button></td>
        </tr>

        </tbody>
    </table>
</div>