<div ng-controller="User_sheetCtrl as user">
    <br>
    <button class="btn btn-success" ng-click="user.goBack()"><span class="glyphicon glyphicon-arrow-left"></span> Users</button>

    <br>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Username</td>
            <td>{{user.userInfo.username}}</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>{{user.userInfo.firstname}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{user.userInfo.lastname}}</td>
        </tr>
        <tr>
            <td>Connection Status</td>
            <td>{{user.userInfo.isConnected ? "Connect" : "Disconnect"}}</td>
        </tr>
        <tr>
            <td>Last Login</td>
            <td>{{user.userInfo.lastLogin.date}}</td>
        </tr>
        <tr>
            <td>Banned Status</td>
            <td>{{user.userInfo.banned ? "Ban" : "Not ban"}}</td>
        </tr>
        <tr>
            <td>Thumbnail</td>
            <td><div style="background-position: center; background-size: contain; width:50px; height:50px; {{user.userInfo.cssuserimage}}"></div></td>
        </tr>
    </table>

    <h1>  <span class="glyphicon glyphicon-cloud"></span>  Workspaces for {{user.userInfo.username}}</h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Privacy</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>{{user.private_workspace.id}}</td>
            <td><i class="fa fa-lock" style="font-size:36px;"></i></td>
            <td>
                <div style="background-position: center; background-size: contain; width:50px; height:50px; {{user.private_workspace.csslogo}}"></div>
            </td>
            <td>{{user.private_workspace.name}}</td>
            <td>{{user.private_workspace.description}}</td>
            <td><button class="btn btn-primary" ng-click="user.getWorkspaceView(user.private_workspace.id)">See Workspace</button></td>
        </tr>
        <tr ng-repeat="workspace in user.workspaces">
            <td>{{workspace.id}}</td>
            <td><i class="fa fa-unlock" style="font-size:36px;"></i></td>
            <td>
                <div style="background-position: center; background-size: contain; width:50px; height:50px; {{workspace.csslogo}}"></div>
            </td>
            <td>{{workspace.name}}</td>
            <td>{{workspace.description}}</td>
            <td><button class="btn btn-primary" ng-click="user.getWorkspaceView(workspace.id)">See Workspace</button></td>
        </tr>

        </tbody>
    </table>
    <button class="btn btn-success" ng-click="user.btnMessage()"><span class="glyphicon glyphicon-envelope"></span> Number of messages by date  <span id="chevron1" class="glyphicon glyphicon-chevron-up"></span></button>
    <button class="btn btn-success" ng-click="user.btnConnection()"><span class="glyphicon glyphicon-calendar"></span> Time of connections by date <span id="chevron2" class="glyphicon glyphicon-chevron-up"></button>
    <div id="piediv"></div>
    <div id="chartdiv"></div>

</div>

<!-- Styles -->
<style>
    #chartdiv {
        display: none;
    }
    #piediv {
        display: none;
    }
</style>