{% extends "Mail/de/all.html.twig" %}

{% block title %}Neue E-Mail-Adresse bestätigen{% endblock %}

{% block secondtitle %}Neue E-Mail-Adresse bestätigen{% endblock %}

{% block body %}

    <b>Guten Tag {{ username|capitalize }},</b>
    <br>
    Um diese E-Mail-Adresse zu Ihrem Konto hinzuzufügen, verwenden Sie bitte folgenden Code:
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #837dff;">
            {{ code }}
        </div>
    </center>

{% endblock %}