{% extends "Mail/de/all.html.twig" %}

{% block title %}E-Mail Bestätigung{% endblock %}

{% block secondtitle %}E-Mail Bestätigung{% endblock %}

{% block body %}

    <b>Herzlich willkommen auf Twake!</b>
    <br>
    Um Ihr Konto einzurichten, sie können auf diesen Link klicken :
    <br>
    <a style="color: #837dff;"
       href="{{ twakeurl|trim('/') }}{{ magic_link }}">{{ twakeurl|trim('/') }}{{ magic_link }}</a>
    <br>
    <br>
    Durch Klicken auf diesen Link erklären Sie sich mit den <a style="color: #837dff;"
                                                               href="https://twakeapp.com/files/TOS.pdf">Twake-Nutzungsbedingungen
    einverstanden</a>.
    <br><br>

{% endblock %}