export default {
  "mixpanel_enabled": false,
  "test_login_on_woodpecker": false,
  "sentry_dsn": false,
  "mixpanel_id": false,
  "version_detail": "1.2.200",
  front_root_url: 'https://localhost:8000',
  "api_root_url": 'http://localhost:8000',
  "websocket_url": 'ws://localhost:8000',
  "websocket_use_old_mode": false,
  "version": '1.2',
  "version_detail": '1.2.201-3011',
  "version_name": 'Albatros',
  "__DEV__": true
}
