export default {
  env_dev: true,
  sentry_dsn: false,
  version_detail: "0.Q0.0",
  front_root_url: (document.location.protocol || "http") + '//' + document.location.host,
  api_root_url: (document.location.protocol || "http") + '//' + document.location.host,
  websocket_url: (document.location.protocol || "http").replace("http", "ws") + '//' + document.location.host
};
