export default {
  env_dev: true,
  mixpanel_enabled: false,
  sentry_dsn: false,
  mixpanel_id: false,
  front_root_url: 'http://' + document.location.host,
  api_root_url: 'http://' + document.location.host,
  websocket_url: 'ws://' + document.location.host,
  version: '1.2',
  version_detail: '1.2.205-3187',
  version_name: 'Albatros'
}
