body, html {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: #FFF;
	overflow: hidden;
}

.no-animate {
	-webkit-transition: none !important;
	transition: none !important;
}

#subbody {
	height: 100vh;
}

#loading-bar {
	pointer-events: none;
	-webkit-pointer-events: none;
	-webkit-transition: 350ms linear all;
	-moz-transition: 350ms linear all;
	-o-transition: 350ms linear all;
	transition: 350ms linear all;
}

#loading-bar .bar {
	-webkit-transition: all 350ms;
	-moz-transition: all 350ms;
	-o-transition: all 350ms;
	transition: all 350ms;

	background: rgb(40, 121, 255);
	position: fixed;
	z-index: 10002;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.48);
}

/* Fancy blur effect
#loading-bar .peg {
	position: absolute;
	width: 70px;
	right: 0;
	top: 0;
	height: 2px;
	opacity: .45;
	-moz-box-shadow: #29d 1px 0 6px 1px;
	-ms-box-shadow: #29d 1px 0 6px 1px;
	-webkit-box-shadow: #29d 1px 0 6px 1px;
	box-shadow: #29d 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}*/

.icon_loading {
	background-image: url(/public/img/loading.gif);
	height: 26px;
	width: 26px;
	background-position: center;
	background-size: cover;
	display: block;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

b_mobilemenu {
	display: none;
}

header {
	position: relative;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 50px;
	z-index: 1;
	background: #222;
	box-sizing: border-box;
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #000;
	-webkit-box-shadow: inset 0px 20px 10px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.light header {
	background: #FFF;
	border-bottom: 1px solid #DDD;
}

header .logo {
	background-image: url('/public/img/logo/flat.svg');
	background-position: left center;
	background-size: auto 75%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 40px;
	padding-left: 40px;
	font-size: 21px;
	line-height: 40px;
	margin: 0px;
}

header .mini_logo {
	position: absolute;
	background-image: url(/public/img/logo/flat.svg);
	background-position: center;
	background-size: auto 55%;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	font-size: 21px;
	line-height: 40px;
	margin: auto;
	left: 0;
	right: 0;
}

.header_userimage {
	padding: 0px;
	float: right;
	background: transparent !important;
	margin-top: 3px;
	border: 0;
	color: #c7c7c7 !important;
}

.header_userimage:hover {
	color: #aaa !important;
}

.header_userimage .image {
	width: 28px;
	height: 28px;
	border-radius: 14px;
	display: inline-block;
	margin-right: 1px;
}

.header_userimage .caret {
	margin-top: -20px;
	margin-left: 5px;
	margin-right: 10px;
}

.header_username {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 41px;
	margin-right: 15px;
	cursor: pointer;
}

.header_notifications {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 46px;
	font-size: 18px;
	color: #AAA;
	margin-right: 12px;
	cursor: pointer;
	position: relative;
	padding-left: 33px;
}

.header_notifications:hover {
	color: #666;
}

.header_groups {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 46px;
	font-size: 18px;
	color: #AAA;
	margin-right: -20px;
	cursor: pointer;
	position: relative;
	padding-left: 33px;
}

.header_groups:hover .icon-groups-color {
	opacity: 0.8;
}

.icon-groups-color {
	display: inline-block;
	height: 18px;
	width: 18px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/public/img/icons/groups.svg');
}

.header_mobile_group_name {
	position: absolute;
	width: auto;
	margin-left: 120px;
	margin-right: 120px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.header_apps {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 46px;
	font-size: 18px;
	color: #AAA;
	margin-left: 8px;
	cursor: pointer;
	position: relative;
	margin-right: 3px;
}

.header_apps:hover {
	color: #666;
}

.header_channels {
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 46px;
	font-size: 18px;
	color: #AAA;
	margin-left: 12px;
	cursor: pointer;
	position: relative;
	margin-right: 3px;
}

.header_channels:hover {
	color: #666;
}

.header_messagerie {
	display: inline-block;
	float: right;
	height: 40px;
	line-height: 46px;
	font-size: 18px;
	color: #AAA;
	margin-right: 12px;
	cursor: pointer;
	position: relative;
	margin-left: 3px;
}

.header_messagerie:hover {
	color: #666;
}

.header_messagerie.active > .header_notification {
	left: -9px;
}

.header_notification {
	display: none;
}

.active > .header_notification, .notif-badge {
	display: block;
	background: #e51a16;
	position: absolute;
	width: 18px;
	height: 18px;
	top: 3px;
	left: 24px;
	border-radius: 10px;
	color: #FFF;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	padding-right: 1px;
	pointer-events: none;
}

.notif-badge {
	position: absolute;
	top: 5px;
	right: 11px;
	left: inherit;
}

.contact_header_badge {
	display: inline-block;
	top: 13px;
	line-height: 21px;
}

.contact_header_image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 6px;
	margin-right: 10px;
}

.header-messagerie-li {
	position: relative;
	display: flex;
}

.header-messagerie-li:hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.messagerie-general-dropdown {
	margin-left: -100px;
	min-width: 250px;
}

.notification-general-dropdown {
	width: 400px;
	margin-left: -210px;
}

.notification-general-dropdown.ticked:before {
	left: 243px;
}

.notification-general-dropdown li {
	position: relative;
}

.notification-general-dropdown li.classic {
	border-top: 1px solid #EEE;
	line-height: normal;
	padding: 5px;
	font-size: 12px;
	padding-left: 10px;
	min-height: 40px;
	color: #000;
}

.notification-general-dropdown li.classic:hover {
	background: #F4F4F4;
}

.notification-general-dropdown .notifications_contener {
	max-height: 300px;
	overflow: auto;
}

.notification-general-dropdown li.classic.new_notification {
	background: #d6eaff;
	border-top: 1px solid #c9e3fe;
}

.notification-general-dropdown li.classic.new_notification:hover {
	background: #cddff2;
}

.notification-general-dropdown li.classic .date {
	color: #777;
	font-size: 11px;
	margin-top: 5px;
}

.notification-general-dropdown li.classic .image {
	background: #888;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10px;
	top: 5px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.notification-general-dropdown li.notifications_title {
	color: #000;
	padding-left: 10px;
	line-height: 30px;
	cursor: default;
}

.notification-general-dropdown li.all_notifications {
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #3cb1d0;
	border-top: 1px solid #DDD;
	padding-top: 5px;
	cursor: pointer;
}

.notification-general-dropdown li.all_notifications:hover {
	color: #2c8097;
}

.notifications_contener li.obj_prfl .image {
	border-radius: 50%;
	background-image: url(/public/img/user_noimg.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.notification {
	position: relative;
}

.notification.classic {
	border-top: 1px solid #EEE;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: normal;
	font-size: 12px;
	padding-left: 30px;
	min-height: 40px;
	color: #000;
	cursor: pointer;
}

.notification.classic:hover {
	background: #F4F4F4;
}

.notification.classic.new_notification {
	background: #d6eaff;
	border-top: 1px solid #c9e3fe;
}

.notification.classic.new_notification:hover {
	background: #cddff2;
}

.notification.classic .date {
	color: #777;
	font-size: 11px;
	margin-top: 5px;
}

.notification.classic .image {
	background: #888;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 15px;
	top: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.notification.notifications_title {
	color: #000;
	padding-left: 10px;
	line-height: 30px;
	cursor: default;
}

.notification.all_notifications {
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #3cb1d0;
	border-top: 1px solid #DDD;
	padding-top: 5px;
	cursor: pointer;
}

.readall_notifications {
	font-size: 12px;
	float: right;
	background: transparent;
	color: #3cb1d0;
	padding: 5px 10px;
	margin: 0px;
}

.notification.all_notifications:hover, .readall_notifications:hover {
	color: #2c8097;
	background: transparent;
}

.notification.obj_prfl .image {
	border-radius: 50%;
	background-image: url(/public/img/user_noimg.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.header_notifications .dropdown-menu > li > a {
	white-space: normal;
	font-size: 12px;
}

.header-button {
	float: right;
	width: 142px;
	height: 50px;
	margin-top: -5px;
	font-size: 16px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	cursor: pointer !important;
}

.header-button.button-connect {
	background: transparent;
	color: #454545;
}

.header-button.button-connect:hover {
	background: rgba(0, 0, 0, 0.1);
}

.header-button.button-subscribe {
	background: #4E64AB;
	color: #FFF;
}

.header-button.button-subscribe:hover {
	background: #4E64AB;
}

.header-button.button-addgroup {
	height: 40px;
	margin-top: 5px;
	background: #4E64AB;
	line-height: 30px;
	box-sizing: border-box;
	border: 0;
	width: 170px;
	margin-right: 10px;
}

.header-button.button-addgroup:hover {
	background: #4E64AB;
}

main {
	perspective: 1px;
	width: 100%;
	flex: 1;
	overflow: visible;
	-webkit-overflow-scrolling: touch;
	/*box-shadow: 0 10px 10px -10px rgba(0,0,0,0.2) inset;*/
}

.left_space {
	min-width: 280px;
	background: transparent;
	box-sizing: border-box;
	box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.left_menu {
	width: 250px;
	position: absolute;
	top: 0px;
	left: -265px;
}

.right_menu_fixed {
	min-width: 250px;
	padding-left: 15px;
	background: #F2F2F2;
	box-sizing: border-box;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 100%;
}

.right_space {
	/*min-width: 250px;
	padding-left: 15px;
	padding-right: 15px;*/
	background: transparent;
	box-sizing: border-box;
}

.right_backcolor {
	float: right;
	width: 100%;
	max-width: 250px;
	box-sizing: content-box;
	height: 100%;
	background: #F7F7F7;
}

.middle_space {
	position: relative;
	flex: 1;
	background: #EEE;
}

/*Menus*/

.menu_block {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #DDD;
}

.menu_block .title {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 5px;
}

.menu_block > a {
	width: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
}

.menu_block > a.active {
	font-weight: 400;
}

.menu_block > a.active:before {
	content: '>';
	margin-right: 6px;
}

/*Page blocks*/
.page_block {
	background: #FFF;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 5px;
}

.page_block:last-child {
	margin-bottom: 70px;
	position: relative;
}

.page_block:last-child:after {
	content: " ";
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	width: 10px;
	height: 10px;
	bottom: -40px;
	background: #4d7eb7;
	border-radius: 50%;
}

.page_block.title {
	background: #4c7eb8;
	color: #FFF;
	font-size: 16px;
	padding-left: 15px;
	line-height: 15px;
}

.page_block .title {
	border-bottom: 1px solid #EEE;
	width: 100%;
	margin-left: -10px;
	line-height: 25px;
	padding-left: 15px;
	padding-right: 5px;
	padding-bottom: 4px;
	margin-top: -3px;
	font-size: 16px;
	box-sizing: content-box;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 10px;
}

.page_block.status {
	margin-bottom: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.page_block .cover {
	box-sizing: content-box;
	padding-left: 20px;
	margin-top: -10px;
	margin-left: -10px;
	width: 100%;
	height: 230px;
}

.right_menu_back {
	width: 250px;
}

/* INSTANT MESSAGES */
.instant_messaging {
	position: absolute;
	min-height: 70px;
	min-width: 70px;
	z-index: 110;
	display: block;
	bottom: 10px;
	right: 10px;
}

.instant_messaging hr {
	margin: 10px;
}

.im_search_box {
	transition: all 0.2s;
	width: 34px;
	height: 34px;
	background: #24a496;
	margin: 18px;
	margin-top: 5px;
	border-radius: 20px;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
	padding: 5px;
	padding-right: 0px;
	position: relative;
	box-sizing: border-box;
}

.im_search_box:hover {
	background: #1d867b;
}

.im_search_box.open {
	width: 200px;
	padding-right: 30px;
}

.im_search_input {
	transition: opacity 0.2s;
	width: 100%;
	height: 100%;
	background: #FFF;
	border: 0;
	outline: none;
	border-radius: 16px;
	opacity: 0;
	padding: 10px;
}

.im_search_box.open .im_search_input {
	opacity: 1;
	padding: 10px;
}

.im_search_icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 34px;
	width: 34px;
	border-radius: 20px;
	color: #FFF;
	cursor: pointer;
}

.im_search_icon:before {
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 32px !important;
	text-align: center;
	display: inline-block;
}

.im_search_icon:hover {
	color: #EEE;
}

.im_member {
	cursor: pointer;
	position: relative;
	width: 40px;
	height: 40px;
	background: #4fdecf;
	margin: 5px 15px;
	border-radius: 50%;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.im_member:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.im_member .im_pseudo {
	display: none;
	position: absolute;
	right: 50px;
	background: #2A2C31;
	color: #FFF;
	height: 25px;
	padding: 0px 10px;
	line-height: 25px;
	border-radius: 4px;
	top: 8px;
	font-size: 12px;
}

.im_member .im_pseudo:after {
	content: ' ';
	width: 0px;
	height: 0px;
	position: absolute;
	right: -10px;
	top: 6px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent;
	border-left-color: #2A2C31;
}

.im_member:hover .im_pseudo {
	display: block;
}

.im_member .im_connected {
	width: 10px;
	height: 10px;
	background: #1fcc68;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.im_member .im_notifications {
	width: 20px;
	height: 18px;
	background: #f10606;
	color: #FFF;
	text-align: center;
	border-radius: 10px;
	line-height: 20px;
	position: absolute;
	top: -5px;
	right: -5px;
	font-size: 11px;
}

.discussion_overlay_bloc {
	position: fixed;
	background: #FFF;
	width: 250px;
	height: 300px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

	bottom: 0px;
	left: 10px;
	z-index: 100;

	display: flex;
	flex-direction: column;
}

.im_title {
	width: 100%;
	background: #24a496;
	border-top: 2px solid #4fdecf;
	height: 30px;
	color: #FFF;
}

.im_messages_contener {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px 0px;
}

.im_input_contener {
	height: 30px;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #EEE;
}

.im_input_contener textarea {
	flex: 1;
	outline: none;
	border: none;
	color: #000;
	font-size: 13px;
	padding: 5px;
	resize: none;
	border-left: 2px solid #FFF;
}

.im_input_contener textarea:focus {
	border-left: 2px solid #2fd0be;
}

.im_messages_contener .message {
	position: relative;
	float: right;
	background: #5cc5de;
	margin: 5px;
	max-width: 70%;
	width: auto;
	display: inline-block;
	border-radius: 13px;
	min-height: 25px;
	padding: 5px 10px;
	color: #FFF;
	font-size: 13px;
	clear: both;
	margin-right: 10px;
}

.im_messages_contener .message.me {
	background: #eaeaea;
	color: #3f3f3f;
	float: left;
	margin-right: inherit;
	margin-left: 10px;
}

.im_messages_contener .message:after {
	content: "";
	width: 0px;
	height: 0px;
	border: 7px solid transparent;
	border-left-color: #5cc5de;
	position: absolute;
	top: 6px;
	right: -11px;
}

.im_messages_contener .message.me:after {
	border-left-color: transparent;
	border-right-color: #eaeaea;
	top: 6px;
	left: -11px;
}

.parallax_background {
	width: 100%;
	background: #383535;
	height: 60vh;
	transform: translateZ(-1px) scale(2.3) translateY(-50px);
	/* 2.3 instead of 2 to correct browser error on large windows */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-size: cover;
	background-position: center;

	z-index: -1;
}

.start_parallax_box {
	position: relative;
	height: 50vh;
	cursor: pointer;
}

.start_parallax_box .parallax_background_infobox {
	transition: all 0.2s;
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	padding: 3px 10px;
	font-size: 12px;
	color: #FFF;
	margin-bottom: -25px;
	border-radius: 5px 5px 0 0;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.start_parallax_box:hover .parallax_background_infobox {
	margin-bottom: 0px;
}

.parallax_background .background {
	transition: opacity 1s;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: absolute;
}

.parallax_background .background.visible {
	opacity: 1;
}

.start_text_presentation {
	width: 100%;
	max-width: 1000px;
	height: 20vh;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.start_text_presentation .slogan {
	font-size: 30px;
	margin-top: 15px;
}

.start_text_presentation .text {
	font-size: 18px;
	margin-top: 10px;
}

.start_text_presentation .text_input {
	display: inline-block;
	margin-right: 5px;
	height: 45px;
	border-color: #CCC;
	float: left;
}

.start_text_presentation .text_input.search {
	width: 50%;
}

.start_text_presentation .text_input.city {
	width: 20%;
}

.start_text_presentation .btn-block.button {
	float: right;
	height: 45px;
	width: 15%;
	font-size: 15px;
	border: 0;
	margin-right: 10px;
	text-transform: uppercase;
	margin-top: 0;
	background: #3cb1d0;
}

.start_text_presentation .btn-block.button:hover {
	background: #2c839a;
}

.start_text_presentation .btn-block.advanced_button {
	float: right;
	font-size: 15px;
	height: 45px;
	width: 10%;
	border: 0;
	background: transparent;
	/*text-transform: uppercase;*/
	margin-top: 0;
	color: #3cb1d0;
}

.start_text_presentation .btn-block.advanced_button:hover {
	color: #2e88a0;
}

.connexion_popup .tick {
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-bottom-color: #FFF;
	position: absolute;
	top: -20px;
	right: 50px;
}

.connexion_popup {
	background: #FFF;
	position: absolute;
	width: 300px;
	right: 10px;
	top: 70px;
	border-radius: 12px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	padding: 10px;
}

.connexion_popup .title {
	font-size: 18px;
	color: #4E64AB;
}

.connexion_popup .text_input {
	margin-top: 10px;
}

.connexion_popup .btn {
	width: 100px;
	color: #FFF;
	background: #4b7eb9;
	border: 0;
	float: right;
}

.connexion_popup .btn:hover {
	background: #4E64AB;
}

.connexion_popup .link_button {
	width: auto;
	line-height: 32px;
	float: left;
}

.connexion_popup .button_fb {
	background-color: #004b90;
	background-image: url('/public/img/icons/Facebook.svg');
	background-repeat: no-repeat;
	background-position: 15px bottom;
	background-size: auto 80%;
}

.connexion_popup .button_goo {
	background-color: #d33d25;
	background-image: url('/public/img/icons/Googleplus.svg');
	background-repeat: no-repeat;
	background-position: 12px center;
	background-size: auto 60%;
}

.connexion_popup .button_fb:hover {
	background-color: #002c54;
	background-position: 15px bottom;
	background-size: auto 80%;
	background-repeat: no-repeat;
	background-image: url('/public/img/icons/Facebook.svg');
}

.connexion_popup .button_goo:hover {
	background-color: #a32f1d;
	background-position: 12px center;
	background-size: auto 60%;
	background-repeat: no-repeat;
	background-image: url('/public/img/icons/Googleplus.svg');
}

@keyframes save_button_unsaved {
	0% {
		background-color: #bdbdb8;
	}
	1% {
		background-color: #66ea6d;
	}
	100% {
		background-color: #53bd57;
	}
}

.save_button {
	float: right;
	height: 22px;
	display: inline-block;
	line-height: 22px;
	width: auto;
	padding: 0px 10px;
	color: #d1d1d1;
	border-radius: 0px;
	background: #bdbdb8;
	font-size: 13px;
	border: none;
	border-bottom: 2px solid #b2aaaf;
	cursor: pointer;
}

.save_button:after {
	content: 'Saved';
}

.save_button.unsaved:hover {
	background: #4E64AB;
	border-bottom: 2px solid #4E64AB;
}

.save_button.unsaved {
	animation: save_button_unsaved 0.5s;
	color: #FFF;
	background: #4b7eb9;
	border-bottom: 2px solid #4b7eb9;
}

.save_button.unsaved:after {
	content: 'Enregistrer';
}

.link_button {
	font-size: 12px;
	color: #4b7eb9;
	cursor: pointer;
}

.link_button:hover {
	color: #4E64AB;
}

a {
	cursor: pointer;
}

/*
Basic animation
*/

/* animate hover */
.ah, a {
	transition: all 0.4s;
}

.ah:hover, a:hover {
	transition: all 0s;
}

/* animation opacity */
.aopa {
	animation: opacity_in 0.5s;
}

@keyframes opacity_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*
Main search
*/

.main_search {
	height: 100%;
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.main_search .title {
	margin-top: 20px;
	color: #FFF;
	font-size: 66px;
}

.main_search .text {
	display: inline-block;
	max-width: 900px;
	margin-top: 30px;
	color: #FFF;
	font-size: 30px;
	padding: 0 30px;
}

.main_search .main_search_form {
	font-size: 0;
	max-width: 800px;
	display: inline-block;
	margin-top: 55px;
	width: 100%;
	box-sizing: border-box;
}

.main_search .main_search_form .text_input {
	float: left;
	font-size: 15px;
	height: 45px;
	width: 67%;
	margin-right: 10px;
	border: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main_search .main_search_form .button {
	float: right;
	height: 45px;
	width: 15%;
	font-size: 15px;
	border: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	background: #00b2da;
	margin-right: 10px;
	text-transform: uppercase;
	margin-top: 0;
}

.main_search .main_search_form .button:hover {
	background: #0093b4;
}

.main_search .main_search_form .advanced_button {
	float: right;
	font-size: 15px;
	height: 45px;
	width: 14%;
	border: 0;
	background: transparent;
	text-transform: uppercase;
	margin-top: 0;
}

.main_search .main_search_form .advanced_button:hover {
	color: rgba(255, 255, 255, 0.8)
}

.circles {
	margin-top: 50px;
	max-width: 700px;
	width: 100%;
	box-sizing: border-box;
	padding: 0 30px;
	display: inline-block;
	text-align: center;
}

.circles .circle {
	cursor: pointer;
	margin: 0 20px;
	background: #00a7cc;
	height: 125px;
	width: 125px;
	vertical-align: bottom;
	border-radius: 100px;
	position: relative;
	display: inline-block;
	text-align: center;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.circles .circle:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.circles .circle .definition {
	position: absolute;
	color: #FFF;
	bottom: -45px;
	width: 100%;
	height: 40px;
}

.input_contener {

}

.input_contener .right_label {
	min-width: 50px;
	display: inline-block;
	margin-left: 10px;
	color: #36393E;
	line-height: 34px;
}

.input_contener.contain_all {
	display: inline-flex;
}

.input_contener.contain_all.active {
	border-color: #4b7eb9;
}

.input_contener.contain_all .right_label {
	margin-left: 0px;
}

.input_contener.contain_all .text_input, .input_contener.contain_all .select_input {
	flex: 1;
	border: 0;
	background: transparent;
}

.select_input {
	background: transparent;
	-moz-appearance: none;
	border: 0;
	outline: none;
}

.text_input {
	border-color: #BBB;
	display: inline-block;
}

.text_input:disabled {
	border-color: #E9E9E9;
	background: #E9E9E9;
	color: #888;
	box-shadow: none;
	opacity: 0.8;
}

.text_input:focus {
	border-color: #4b7eb9;
}

.form-control, .btn {
	border-radius: 21px;
	border: 0px;
	display: inline-block;
	width: auto;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

select.form-control {
	-webkit-appearance: none;
	background-image: url(/public/img/select.svg);
	background-size: auto 30%;
	background-position: center right 8px;
	background-repeat: no-repeat;
	padding-right: 25px;
	cursor: pointer;
}

select.form-control:hover {
	background-color: #EEE;
}

textarea.text_input {
	padding-top: 10px;
}

.form_title {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 7px;
	margin-right: 5px;
	font-size: 15px;
	font-weight: 400;
}

.image_contener {
	width: 100px;
	height: 100px;
	background: #888;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
}

.image_contener .loading_bar {
	transition: all 0.2s;
	position: absolute;
	background: #33baff;
	bottom: 0px;
	left: 0px;
	height: 5px;
	border-top: 1px solid #6eceff;
}

.image_contener .info_text {
	display: none;
	width: 100%;
	color: #FFF;
	background: rgba(0, 0, 0, 0.5);
	height: 100px;
	line-height: 100px;
	padding: 16px;
	text-align: center;
}

.image_contener .info_text span {
	display: inline-block;
	line-height: 18px;
}

.image_contener:hover .info_text {
	display: block;
}

.account_page {
	display: inline-block;
	width: 100%;
	max-width: 1200px;
	background: #FAFAFA;
	box-sizing: border-box;
	padding: 20px;
	text-align: left;
}

.account_summary_menu .default_user_cover {
	height: 100px;
	backgroun-image: #000;
	padding-left: 22px;
	box-sizing: content-box;
	width: 100%;
	margin-left: -12px;
	margin-top: -10px;
}

.account_summary_menu .default_user_image {
	width: 70px;
	height: 70px;
	margin-top: -25px;
	position: relative;
}

.default_user_image.modify {
	width: 70px;
	height: 70px;
	border: none;
	margin: 0px;
	position: relative;
}

.default_user_image.modify .text {
	opacity: 0;
	background: #000;
	color: #FFF;
	font-size: 13px;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	display: block;
	margin: 0px;
	padding: 0px;
	line-height: 65px;
}

.default_user_image.modify:hover .text {
	opacity: 0.8;
}

.account_summary_menu .text {
	padding-left: 80px;
	margin-top: -40px;
	font-size: 16px;
}

.account_summary_menu .text a {
	font-size: 13px;
}

.image_contener.account_edit {
	width: 130px;
	height: 130px;
	background-image: url(/public/img/user_noimg.svg);
}

.image_contener.account_edit .info_text {
	width: 130px;
	height: 130px;
	line-height: 130px;
}

.input_upload.mycover {
	width: 100%;
	background: #555;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: content-box;
	margin-left: -10px;
	text-align: center;
}

.input_upload.mycover .image_contener {
	display: block;
	max-width: 300px;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
}

.input_upload.mycover .image_contener .info_text {
	padding: 0px;
}

.user_line {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
	display: inline-block;
	position: relative;
	width: 50%;
	padding-left: 55px;
	line-height: 32px;
	margin-top: 7px;
	cursor: pointer;
	border-right: 0px solid #FFF;
	border-radius: 5px;
}

.user_line:hover {
	background: #F0F0F0;
}

.user_line .image {
	background-color: #888;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 4px;
	top: 4px;
	border-radius: 50%;
}

.user_page_image {
	width: 125px;
	height: 125px;
	border: 2px solid #FFF;
	margin-top: -110px;
	margin-left: 10px;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

}

.gradient {
	position: relative;
	height: 100%;
	margin-right: 0px;
	margin-left: -20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+49,404040+100&0+49,0.7+100 */
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 49%, rgba(64, 64, 64, 0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 49%, rgba(64, 64, 64, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 49%, rgba(64, 64, 64, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3404040', GradientType=0); /* IE6-9 */
}

.user_page_right_photo {
	position: relative;
	width: 100%;
	padding-left: 135px;
	margin-top: -100px;
	margin-bottom: 50px;
	height: 55px;
	font-size: 20px;
	padding-top: 10px;
	margin-left: 5px;
	color: white;
}

.changeProfil {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 12px;
	border: none;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.changeProfil:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.menu_user {
	margin-top: -18px;
	text-align: center;
}

.menu_user .menu_item {
	line-height: 35px;
	font-weight: 700;
	display: inline-block;
	color: rgba(255, 255, 255, 0.4);
	padding-left: 5px;
	padding-right: 5px;
	font-size: 13px;
}

.menu_user .menu_item:hover {
	cursor: pointer;
	color: #2A54B4;
}

.menu_user .menu_item_active {
	border-bottom: solid;
	border-width: 3px;
	color: #2A54B4;
}

.default_user_image {
	background-image: url(/public/img/user_noimg.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #EEE;
}

.default_user_style {
	border-radius: 50%;
	border: 2px solid #FFF;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.default_user_cover {
	background-color: #4d7eb7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.default_group_image {
	background-image: url(/public/img/group_noimg.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FAFAFA;
}

.default_group_style {
	border-radius: 20%;
	border: 2px solid #FFF;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.nfo {
	font-size: 12px;
	line-height: 16px;
	color: #36393E;
}

.group_img_presentation {
	height: 50px;
	width: 50px;
	display: inline-block;
	border-radius: 20%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	margin-right: 18px;
	vertical-align: bottom;
	margin-top: 5px;
}

.nameGroup {
	font-size: 20px;
	font-weight: bold;
	margin-right: 7px;
}

.keyGroup {
	font-size: 11px;
	opacity: 0.8
}

.form_error {
	font-size: 12px;
	color: #A00;
	padding: 5px;
}

.red_link {
	color: #800;
}

.red_link:hover {
	color: #B00;
}

.text_center {
	position: relative;
	margin-top: 100px;
	width: 100%;
	height: 200px;
	top: 0;
	bottom: 0;
	text-align: center;
	font-size: 18px;
	color: #666;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.websocket_error_message {
	position: absolute;
	top: -50px;
	right: 0;
	left: 0;
	margin: auto;
	background-color: #2361b9;
	height: 30px;
	width: 220px;
	color: white;
	line-height: 31px;
	text-align: center;
	transition: bottom 0.5s;
	-webkit-transition: bottom 0.5s;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0.54);
}

.websocket_error_message.error_message {
	top: 0;
	transition: bottom 0.5s;
	-webkit-transition: bottom 0.5s;
	box-shadow: 0 0 330px rgba(0, 0, 0, 0.54);
}

.intext-loading {
	background-image: url(/public/img/loading.gif);
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	margin-bottom: -2px;
	margin-right: 5px;
}

/* Loading */
.server_loading {
	overflow: visible;
	z-index: 10000000;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #4c7eb8;
	color: #FFF;
	opacity: 1;
	transition: all 0.5s;
}

.server_loading.loaded {
	opacity: 0;
	pointer-events: none;
}

.server_loading_loader {
	width: 200px;
	height: 100px;
	font-size: 20px;
	margin: auto;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.scroll-wrapper.scroller {
	width: 100%;
	height: 100%;
}

.scrollable {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.mobile_scrollable {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#loading_canvas {
	font-size: 0px;
	position: relative;
	overflow: visible;
	width: 100vw;
	height: 100vh;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.square {
	position: relative;
	display: inline-block;
	width: 10%;
	height: 10%;
	margin: 0px;
	background: #5B82C9;
	opacity: 0;
	transition: opacity 1s;
}

.loading_text {
	height: 80px;
	width: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: #FFF;
	font-size: 20px;
}

.loading_text span {
	display: inline-block;
	font-size: 14px;
	margin-top: 8px;
	opacity: 0.7;
}

.fade.ng-hide {
	display: block !important;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s;
}

.fade {
	opacity: 1;
	transition: all 0.2s;
}