.message-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.message-left-options {
	width: 50px;
	background: #2A2C31;
	border-right: 1px solid #36393E;
}

.messages-topbar {
	background: #0078a5;
	padding: 5px;
	text-align: center;
	color: #fff;
	border: none;
	cursor: pointer;
	display: inline-block;
	border-radius: 0 0 5px 5px;
	position: absolute;
	width: 100%;
	z-index: 100;
}

.messages-topbar:hover {
	background: #006895;
}

.message-list-container {
	background: transparent;
	flex: 1;
	position: relative;
	min-height: 10%;
}

.floatBloc .message-header {
	display: none;
}

.message-header {
	pointer-events: none;
	position: absolute;
	padding: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	z-index: 10;
	color: #FFF;
	background: -moz-linear-gradient(top, rgba(34, 34, 34, 1) 54%, rgba(34, 34, 34, 1) 55%, rgba(34, 34, 34, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(34, 34, 34, 1) 54%, rgba(34, 34, 34, 1) 55%, rgba(34, 34, 34, 0) 100%);
	background: linear-gradient(to bottom, rgba(34, 34, 34, 1) 54%, rgba(34, 34, 34, 1) 55%, rgba(34, 34, 34, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

.message-header > * {
	pointer-events: all;
}

.message-header .channel_title {
	font-size: 18px;
	vertical-align: top;
	text-transform: capitalize;
}

.message-header .channel_title .default_user_image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}

.message-header .channel_infos {
	font-size: 12px;
	position: absolute;
	left: 15px;
	top: 37px;
}

.message-header .channel_reduce {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	background: rgba(128, 128, 128, 0.1);
	border-radius: 0 0 0 30px;
	text-align: right;
	cursor: pointer;
}

.message-header .channel_reduce:hover {
	background: rgba(128, 128, 128, 0.3);
}

.message-header .channel_reduce i {
	transform: rotate(45deg);
	font-size: 16px;
	opacity: 0.5;
	margin: 4px;
}

.message-header .channel_buttons {
	position: absolute;
	width: 100px;
	height: 35px;
	right: 20px;
	text-align: right;
}

.message-header .channel_buttons .param {
	font-size: 21px;
	line-height: 40px;
	width: 35px;
	text-align: center;
	cursor: pointer;
	color: rgba(128, 128, 128, 0.6);
}

.message-header .channel_buttons .param:hover {
	color: rgba(128, 128, 128, 0.9);
}

.message-input {
	border-top: 1px solid #36393E;
	min-height: 1px;
	background: transparent;
	display: flex;
}

.message-input .buttons {
	border: none !important;
}

.message-input .input-container {
	flex: 1;
	padding: 10px;
	padding-right: 0px;
	min-height: 60px;
	min-width: 200px;
}

.input_bar {
	width: 100%;
	min-height: 30px;
	border: 2px solid #1E2124;
	background: #1E2124;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 8px;
	resize: none;
	max-height: 200px;
}

.input_bar:focus {
	border: 2px solid #2A2C31;
	background: #2A2C31;
}

.input_bar.edit_bar:focus {
	border: 1px solid grey;
}

.message-input .input-container textarea {
	width: 100%;
	min-height: 30px;
	border: 2px solid #1E2124;
	background: #1E2124;
	color: #FFF;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 8px;
	resize: none;
	max-height: 200px;
	transition: all 1s;
}

.message-input .input-container textarea.commandmode {
	font-family: monospace;
	color: #8A8;
	background: #111;
}

.message-input .input-container textarea:focus {
	border: 2px solid #2A2C31;
	background: #2A2C31;
	transition: all 0.2s;
}

.message-input .buttons {
	width: 100px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	white-space: nowrap;
	font-size: 0;
}

.message-input .chat_upload {
	height: 40px;
	width: 20px;
	margin-left: 5px;
	margin-right: 10px;
	text-align: center;
	font-size: 22px;
	line-height: 39px;
	vertical-align: top;
	color: #cfcfcf;
	cursor: pointer;
	transition: all 0.2s;
}

.message-input .chat_upload:hover {
	color: #4E64AB;
	transform: scale(1.1);
}

.message-list-container .message {
	padding: 10px;
	display: block;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-right: 30px;
	color: #FFF;
	position: relative;
	padding-bottom: 0px;
	margin-bottom: 4px;
	padding-bottom: 4px;
}

.message-list-container .message.message_pinned, .message-list-container .message.recent.message_pinned {
	margin-bottom: 9px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.message-list-container .message.longseparation {
	margin-top: 20px;
}

.message-list-container .message .longseparation {
	display: none;
}

.message-list-container .message.longseparation .longseparation {
	display: block;
	margin-top: -18px;
	text-align: center;
	width: 100%;
	position: absolute;
	color: rgba(128, 128, 128, 0.5);
	right: 0px;
	font-size: 11px;
}

.message-list-container .message.recent {
	margin: 0;
	margin-top: -24px;
	margin-top: -8px;
	margin-bottom: 9px;
	padding-top: 0;
	padding-bottom: 0;
}

.message-list-container .message.recent .userimage, .message-list-container .message.recent .username {
	display: none;
}

.message-list-container .message.recent .content {
	margin-top: 5px;
}

.message-list-container .message.recent .message-options-container {
	margin-top: -9px;
}

.message-list-container .message:first-child {
	border-top: none;
}

.message-list-container .message .user {
	width: 55px;
}

.message-list-container .message .user .userimage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.message-list-container .message .content {
	flex: 1;
	position: relative;
	width: 100%;
	text-overflow: ellipsis;
	background: #222222;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 12px;
	margin-right: 20px;
	overflow: visible;
}

.message-list-container .message .content .username {
	font-weight: bold;
}

.message-list-container .message .content .date {
	font-weight: 100;
	display: inline-block;
	font-size: 10px;
	margin-left: 5px;
	color: #888;
}

.message .content .image {
	margin: 5px;
	padding: 5px;
	background-color: #1C1C1C;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	display: inline-block;
	word-break: break-all;
	height: 120px;
	max-width: 100%;
}

.message .content .image img {
	image-rendering: pixelated;
	max-height: 100%;
	max-width: 100%;
}

.message .content .image:hover {
	transform: scale(0.99);
	transition: all 0.2s;
}

.message .content .monospace {
	font-family: monospace;
	background-color: #202020;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	padding: 1px;
	padding-left: 0px;
	padding-right: 0px;
	line-height: 19px;
}

.message .content pre {
	border: 0;
	padding: 2px;
	margin: 0px;
}

.message .content .upperline: {
	border-top: 1px solid black;
}

.message .content .mlink {
	border-left: 4px solid #4f94de;
	color: #4f94de;
	background: #585c60;
	padding-right: 5px;
	padding-left: 5px;
	position: relative;
}

.message .content .mlink:hover {
	background: #e5f2ff;
	color: #4F94EA;
}

.message .content .ace_editor {
	width: 100%;
	min-height: 16px;
	max-height: 500px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.message .content .ace_editor .ace_cursor-layer {
	opacity: 0;
}

.message .content .cite {
	background: rgba(128, 128, 128, 0.2);
	border-left: 4px solid rgba(128, 128, 128, 1);
	padding: 5px 10px;
	border-radius: 5px;
	display: block;
	width: 100%;
	text-overflow: ellipsis;
}

.message .content .msg-color {
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 2px;
	position: relative;
	border-radius: 50%;
}

.message .content .msg-color .in {
	display: none;
}

.message .content .msg-color:hover .in {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}

.message .likes {
	width: 100%;
	margin-bottom: 0px;
	background: transparent;
	height: auto;
	text-align: right;
}

.message .like_icon {
	display: inline-block;
	margin-right: 2px;
	font-size: 11px;
	line-height: 17px;
	height: 17px;
	color: #555;
	width: auto;
	padding-left: 20px;
	padding-right: 5px;
	background-color: #FFF;
	border-radius: 9px;
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position: 1px center;
	box-shadow: 2px 2px 10px -5px rgba(0, 0, 0, 0.6);
}

.message .like_icon.chocked {
	background-image: url('/public/img/likes/chocked.png');
}

.message .like_icon.clap {
	background-image: url('/public/img/likes/clap.png');
}

.message .like_icon.dead {
	background-image: url('/public/img/likes/dead.png');
}

.message .like_icon.down {
	background-image: url('/public/img/likes/down.png');
}

.message .like_icon.heart {
	background-image: url('/public/img/likes/heart.png');
}

.message .like_icon.ok {
	background-image: url('/public/img/likes/ok.png');
}

.message .like_icon.rage {
	background-image: url('/public/img/likes/rage.png');
}

.message .like_icon.smile {
	background-image: url('/public/img/likes/smile.png');
}

.message .like_icon.sob {
	background-image: url('/public/img/likes/sob.png');
}

.message .like_icon.up {
	background-image: url('/public/img/likes/up.png');
}

.add_likes {
	opacity: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	right: 25px;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	cursor: pointer;
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-position: 1px center;
	background-image: url('/public/img/likes/up.png');
}

.floatBloc .add_likes {
	right: 12px;
	background-color: #FFF;
	border-radius: 50%;
}

.message:hover .add_likes {
	opacity: 0.5;
}

.add_likes:hover {
	opacity: 1;
}

.like_menu {
	position: absolute;
	width: 160px;
	display: flex;
	background: #FFF;
	border-radius: 12px;
	line-height: 25px;
	padding: 5px;
	box-shadow: 3px 3px 20px -10px;
	z-index: 10;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 60px;
	right: 40px;
}

.like_menu .like_choose_icon {
	cursor: pointer;
	transition: all 0.2s;
}

.like_menu .like_choose_icon:hover {
	transform: scale(1.1);
}

.message .message-options-container {
	position: absolute;
	right: 60px;
	top: 14px;
}

.message .message-options {
	float: right;
	font-size: 15px;
	color: #888;
	opacity: 0.6;
	cursor: pointer;
	font-size: 20px;
	margin-top: -3px;
	position: relative;
	display: inline-block;
}

.message .message-options:hover {
	opacity: 1;
}

.pseudo-autocomplete {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-bottom: -5px;
	margin-right: 5px;
	margin-left: -14px;
	border-radius: 50%;
}

.emojionearea.emojionearea-standalone {
	display: inline-block;
	width: auto;
	box-shadow: none;
	border: 0;
	padding: 10px 5px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	background: transparent;
}

.emojionearea.emojionearea-standalone img.emojione.open {
	cursor: pointer;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	transform: scale(1);
	transition: all 0.2s;
}

.emojionearea.emojionearea-standalone:hover img.emojione.open {
	transform: scale(1.1);
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.emojionearea .emojionearea-picker .emojionearea-filters .emojionearea-filter > img {
	width: 20px;
	height: 20px;
	margin: 5px;
	margin-top: 3px;
}

.emojionearea .emojionearea-search input {
	border: 0px;
	background: #EEE;
	color: #000;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
	resize: none;
	max-height: 200px;
	transition: all 1s;
	outline: none;
	float: left;
}

.msg-infos {
	font-size: 10px;
	height: 10px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: rgba(130, 130, 130, 0.58);
	cursor: pointer;
}

.msg-infos:hover {
	color: rgb(0, 134, 255);
}

/* search button */

.more-option-button {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	white-space: nowrap;
	font-size: 0;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	width: 60px;
	color: rgba(128, 128, 128, 0.9);
	margin-left: 8px;
	cursor: pointer;
}

.more-option-button:hover {
	color: rgba(128, 128, 128, 0.5);
}

.chatSearchPinned {
	color: rgba(128, 128, 128, 0.5);
}

.chatSearchPinned.active {
	color: #4E64AB;
}

.chatSearchOptions {
	font-size: 0;
	width: 440px;
	height: 60px;
	overflow: hidden;
	float: right;
}

.chatSearchOptions .input-group.search {
	display: inline-block;
	height: 100%;
	padding: 10px 0;
	margin-left: 10px;
	width: 150px;
}

.chatSearchOptions .input-group.search input {
	display: inline-block;
	height: 42px;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	cursor: pointer;
}

/* Call buttons */

.message-input .separate-button {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	background: transparent;
	background-position: center;
	background-size: auto 50%;
	background-repeat: no-repeat;
	border-left: 1px solid rgba(128, 128, 128, 0.2);
	transition: all 0.4s;
	cursor: pointer;
	min-height: 0 !important;
	color: #8c8c8c;
	font-size: 20px;
	line-height: 40px;
	width: 50px;
}

.message-input .separate-button:hover {
	opacity: 0.8;
}

.call-button {
	display: inline-block;
	width: 35px;
	vertical-align: top;
	height: 40px;
	background: transparent;
	background-position: center;
	background-size: auto 50%;
	background-repeat: no-repeat;
	transition: all 0.4s;
	cursor: pointer;
	min-height: 0 !important;
}

.call-button:hover {
	/*background-size: auto 60%;*/
	transition: all 0.2s;
}

.call-button.exit {
	background-image: url(/public/img/calls/exitcall.svg);
}

.call-button.join {
	background-image: url(/public/img/calls/joincall.gif);
}

.call-button.create {
	background-image: url(/public/img/calls/startcall.svg);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.call-button.create:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

/* Calls */

.smallVideoView {
	height: 130px;
	background: #000;
}

.bigVideoView {
	flex: 1;
	background: #000;
}

.chat_container.incall {
	max-width: 30%;
	min-width: 300px;
}

.video-conference {
	height: 40px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.video-conference.video {
	height: 60%;
	background: #000;
}

.video-conference.video.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.video-conference-status-bar {
	height: 40px;
	background: #000;
	padding-left: 5px;
}

.video-conference .jitsi_video {
	flex: 1;
	padding: 0px;
	text-align: center;
	padding-top: 0px;
}

.video-conference .jitsi_video > div {
	height: 100%;
	width: 100%;
}

.video-conference .jitsi_video iframe {
	border: 0px;
}

.video-conference .myvideo {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	left: auto;
	right: 10px;
	height: 70px;
	position: absolute;
	transform: perspective(300px) rotateX(0deg) rotateY(180deg);
	bottom: 10px;
	transition: all 0.2s;
	cursor: pointer;
	z-index: 4;
}

.video-conference .myvideo .mymedia {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}

.video-conference .video.two .myvideo {
	left: 0;
	right: 0;
}

.video-conference .myvideo:hover {
	transform: perspective(300px) rotateX(9deg) rotateY(170deg);
}

.video-conference .myvideo.reversed {
	transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

.video-conference .myvideo.reversed:hover {
	transform: perspective(300px) rotateX(0deg) rotateY(-10deg);
}

.video-conference .peervideo {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}

.video-conference .peervideo video {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}

.video-conference .video.two .peervideo {
	width: 49%;
	height: 100%;
}

.video-conference .video.three .peervideo {
	width: 31%;
	height: 100%;
	margin: 5px;
}

.video-conference .video.four .peervideo {
	width: 48%;
	height: 48%;
}

.video-conference .video.more .peervideo {
	width: 23%;
	height: 48%;
	margin: 5px;
}

.video-conference .user_audio {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;
	border: 0px solid #0067ea;
	box-sizing: content-box;
	z-index: 1;
}

.video-conference .stream_contener.hassound .user_audio {
	border: 4px solid #0067ea;
}

.video-conference .stream_contener.hassound {
	background-color: rgba(128, 128, 128, 0.2);
}

.video-conference .myvideo .user_audio {
	width: 40px;
	height: 40px;
}

.call-icon {
	opacity: 0.4;
	color: #FFF;
	margin: 12px 7px;
	font-size: 16px;
	float: right;
	width: 20px;
	text-align: center;
}

.call-icon.on {
	opacity: 1;
	color: #FFF;
}

.mini-user {
	width: 23px;
	height: 23px;
	display: inline-block;
	background-color: #ddd;
	margin: 7px 3px;
	border-radius: 50%;
	border: 2px solid #000;
	position: relative;
	transition: all 0.2s;
	transform: translateX(0px);
	opacity: 1;
}

.mini-user .writing-gif {
	position: absolute;
	bottom: -3px;
	right: -3px;
	background-image: url(/public/img/icons/iswriting.gif);
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #FFF;
	width: 17px;
	height: 10px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.mini-user.out {
	transform: translateX(20px);
	opacity: 0;
}

.mini-user.hassound {
	border: 2px solid #0067ea;
}

.mini-user i {
	font-size: 14px;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	line-height: 20px;
	top: 0px;
	bottom: 0px;
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.mini-bar .mini-user {
	width: 19px;
	height: 19px;
	margin: 10px 1px;
	border: 1px solid #000;
}

.mini-bar .mini-user i {
	font-size: 12px;
	line-height: 18px;
}

.mini-bar .mini-user.hassound {
	border: 1px solid #0067ea;
}

.message-input .input-container input:focus {
	border: 2px solid #2A2C31;
	background: #2A2C31;
	transition: all 0.2s;
}

.message-list-container .message .dropdown {
	opacity: 0;
	transition: opacity 0.4s;
}

.message-list-container .message:hover .dropdown {
	opacity: 1;
	transition: opacity 0.1s;
	color: #000;
}

.message-list-container .message .dropdown.active {
	opacity: 1;
	transition: opacity 0s;
}

.message_pinned {
	/*background: rgba(128, 128, 128, 0.1);
	border-left: solid 4px red;
	border-radius: 5px;*/
}

.message_pinned .content {
	background: #fdf4f4 !important;
	border: 2px solid #fa1000;
}

.muteButton {
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -3px;
	color: #888;
}

.muteButton:hover {
	color: #aaa;
}

.writing {
	height: 23px;
	width: 23px;
	background-image: url('/public/img/calls/writing.gif');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	display: inline-block;
}

/* Groups */
.channel.muted {
	opacity: 0.5;
}

/* Easter egg */
.quotegg {
	color: #008013;
	transform: rotate(0deg);
	font-size: 13px;
	display: block;
	background: #2B2B2B;
	padding: 5px;
	text-align: center;
	font-family: monospace;
	border-radius: 5px;
}

.videoanimation_rotate {
	animation: rotate 5s linear infinite;
}

.vortex_rotate {
	animation: rotate 10s linear;
}

@keyframes rotate {
	0% {
		transform: rotateZ(0deg)
	}
	100% {
		transform: rotateZ(360deg)
	}
}

/* Commands */
.message-container.signal .message-list-container {
	animation: signal 3s;
}

@keyframes signal {
	0% {
		background: #FF8;
	}
	100% {
		background: inherit;
	}
}

#chargementUpload {
	max-width: 50vh;
	max-height: 80vh;
	overflow: auto;
	position: fixed;
	right: 140px;
	bottom: 63px;
	z-index: 5;
	width: 100%;
	height: auto;
	background-color: #fefefe;
	box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.2);
}

#chargementUpload .progress {
	height: 20px;
	border-radius: 20px;
}

#chargementUpload .title {
	background-color: #4E64AB;
	width: 100%;
	color: white;
}

/* popup user */

.realPopup {
	position: absolute;
	width: 120px;
	height: 180px;
	background-color: white;
	left: 50px;
	top: -50px;
	z-index: 5;
	color: red;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.realPopup .time {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	right: 2px;
	top: 2px;
	z-index: 1;
	color: white;
}

.realPopup .time:hover {
	cursor: pointer;
	color: #ddd;
}

.realPopup .button {
	margin: auto;
	margin-top: 5px;
	font-size: 12px;
	width: 90px;
	text-align: center;
	background: #009688;
	color: white;
	border-radius: 5px;
}

.realPopup .button:hover {
	cursor: pointer;
	background-color: #00796B;
}

.buttonActive {
	background-color: #286090;
}
.bell_button{
	width: 11px;
	opacity: 0.5;
}

/* Floating */
.floatMessages {
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 0;
}

.floatBloc {
	height: 320px;
	width: 290px;
	background: transparent;
	display: inline-block;
	vertical-align: bottom;
	padding: 0 10px;
}

.floatBloc > div {
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
	background: #FFF;
}

.floatBlocHeader .floatName {
	max-width: 200px;
	overflow: hidden;
	height: 24px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.floatBlocHeader.closed .floatName {
	max-width: 40px;
}

.floatBloc.closed {
	height: 35px;
	width: 100px;
}

.floatBlocHeader {
	height: 35px;
	padding: 5px 10px;
	background: #4E64AB;
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	color: #FFF;
	line-height: 22px;
}

.floatBlocHeader i.fa {
	line-height: 25px;
	margin-left: 5px;
}

.floatBloc .content {
	flex: 1;
	width: 100%;
	position: relative;
	font-size: 12px;
	background: #2b2d32;
}

.floatBloc.closed .content {
	display: none;
}

.floatBloc .message-list-container .message .user .userimage {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

.floatBloc .message-list-container .message .user {
	width: 30px;
}

.floatBloc .message-list-container .message.longseparation {
	margin-top: 32px;
}

.floatBloc .message-list-container .message {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.floatBloc .message .message-options-container {
	right: 30px;
	top: 3px;
}

.floatBloc .more-option-button, .floatBloc .msg-infos {
	display: none;
}

.floatBloc .message-input .input-container textarea {
	border-radius: 10px;
	padding: 5px 10px;
	min-height: 20px;
}

.floatBloc .message-input .input-container {
	min-width: 0px;
	padding: 3px;
	min-height: 40px;
}

.floatBloc .emojionearea, .floatBloc .show_raw_option {
	display: none;
}

.floatBloc .message-input .buttons {
	width: 40px;
}

.floatBloc .message-input .separate-button {
	border: 0;
	width: 40px;
}

.floatBloc .message-input .buttons {
	padding: 0;
}

.floatBloc .message-input {
	font-size: 0;
}