.light .message-left-options {
	background: #f2f2f2;
	border-right: 1px solid #DDD;
}

.light .messages-topbar {
	background: #4fdecf;
	color: #FFF;
}

.light .messages-topbar:hover {
	background: #3fcebf;
}

.light .message-list-container {
	background: #FFF;
}

.light .message-input {
	border-top: 1px solid #DDD;
	background: #FFF;
}

.light .input_bar {
	border: none;
	background: #FFF;
}

.light .input_bar:focus {
	border: 2px solid #FFF;
	background: #FFF;
}

.light .message-input .input-container textarea {
	border: 2px solid #EEE;
	background: #EEE;
	color: #000;
	border-radius: 21px;
	box-shadow: none;
}

.light .message-input .input-container textarea:focus {
	border: 2px solid #FFF;
	background: #FFF;
}

.light .message-list-container .message {
	color: #000;
}

.light .message-list-container .message .content .date {
	color: #888;
}

.light .message .content .image {
	border-color: #AAA;
}

.light .message .content .monospace {
	background-color: #DDD;
}

.light .message .content .upperline: {
	border-top: 1px solid black;
}

.light .message .content .mlink {
	border-left: 4px solid #4f94de;
	color: #4f94de;
	background: #e5f2ff;
}

.light .message .content .mlink:hover {
	background: #4f94de;
	color: #FFF;
}

.light .message-input .input-container input:focus {
	border: 2px solid #FFF;
	background: #FFF;
}

.light .chatSearchPinned.active {
	color: #4E64AB;
}

.light .chatSearchOptions .input-group.search input {
	color: #000;
	background: #EEE;
}

.light .menu_user .menu_item {
	color: rgba(0, 0, 0, 0.4);
}

.light .menu_user .menu_item {
	color: rgba(0, 0, 0, 0.4);
}

.light .menu_user .menu_item_active {
	color: #2A54B4;
}
