.light .file_app:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	border-left: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	border-radius: 0 0 0 5px;
}

.light .file_app {
	position: absolute;
	bottom: 7px;
	left: 18px;
	right: 0;
	border-radius: 5px 22px 5px 5px;
	width: 46px;
	height: 66px;
	background-size: cover;
	background-position: center;
	background-color: #aaa;
}