.padding-public {
	max-width: 1300px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.contactsRightBar {
	width: 250px;
	background: #222;
	box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.2) inset;
}

.light .contactsRightBar {
	background: #F4F7FB;
}

.contactRight {
	cursor: pointer;
	position: relative;
	display: flex;
	padding: 0;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	opacity: 1;
}

.contactRight:hover {
	background: #2b2d32;
	color: #FFF;
	border-radius: 24px;
	box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 1);
}

.contactRight.group:hover {
	border-radius: 10px;
}

.message-panel.dropdown-menu.ticked:before {
	left: 100px;
}

.notification-panel.dropdown-menu.ticked:before {
	left: 241px;
}

.contactRightImage {
	width: 40px;
	box-sizing: border-box;
	height: 40px;
	border-radius: 50%;
	transition: .1s ease;
	margin-right: 10px;
	margin-left: 0px;
	background-color: #222;
	border: 2px solid #000;
	box-shadow: 2px 2px 20px -10px rgba(0, 0, 0, 1);
}

.light .contactRightImage {
	background-color: #DDD;
	border: 2px solid #FFF;
}

.contactRight:hover .contactRightImage {
	box-shadow: none;
}

.contactRightImage.default_group_image {
	border-radius: 20%;
}

.contactRightName {
	flex: 1;
	line-height: 40px;
	white-space: nowrap;
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error {
	margin-left: 10px;
	color: red;
}

.input-error {
	color: red;
	border-color: red;
}

.alink {
	color: #3cb1d0;
	cursor: pointer;
}

.alink:hover {
	color: #2ca1c0;
}

/* Scroll bar corrector*/
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	min-height: 6px;
}

/* Loading */
.loading {
	background-image: url(/public/img/loading.gif) !important;
	background-position: center !important;
	background-size: 26px !important;
	background-repeat: no-repeat !important;
	display: block;
	margin: auto;
	min-height: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loading * {
	opacity: 0;
}

/* Drop down */
.dropdown-menu.right {
	right: -12px;
	cursor: pointer;
	left: auto;
	top: 16px;
}

.dropdown-menu.right.ticked::before {
	left: auto;
	right: 10px;
}

.dropdown-menu.ticked-bottom::after {
	content: "";
	width: 0px;
	height: 0px;
	border-bottom-color: #FFF;
	position: relative;
	bottom: -33px;
	left: 22px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}

.searchContacts {
	color: #888;
	cursor: pointer;
}

.searchContacts:hover {
	color: #FFF;
}

.is-dragover {
	box-shadow: 0 0 0px 5px rgb(33, 144, 220) inset;
}

/*************/

.administrator {
	-webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate3d(0, 1, 0, 0deg);
	}
	to {
		-webkit-transform: rotate3d(0, 1, 0, 359deg);
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Fira Sans', sans-serif;
	color: #4E64AB;
}
