.light header {
	color: #000;
}

.light .subbody {
	background: #FFF;
}

.light .middle_space {
	background: #EEE;
}

.light .page_block {
	background: #FFF;
	color: #000;
}

.light .contactRight:hover {
	color: #000;
	background: #FFF;
}

.light .message-header {
	color: #000;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}

.light .message-list-container .message .content {
	background: #f4f7fc;
	color: #000;
}

.light .groupRightBar{
  background: #F8F8F8;
  color: #000;
  box-shadow: 10px 0px 10px -10px #666 inset
}

.light .groupTopBar{
  background:white;
  border-bottom: none;
}

.light .groupCenterContainer{
  background: #FFF;
}

.light .groupCenterContainer .title{
	background: #467eb7;
}

.light .groupCenterContainer .left-pane{
	background: #F4F7FB;
}

.light .groupCenterContainer .left-pane-item{
	color: #555;
}

.light .groupCenterContainer .left-pane-item.active {
	background: #E2EBF4;
}

.light .floatBloc .content {
	background: #FFF;
}

.light .groupCenterContainer .left-pane-item:hover {
	color: #2C75B1;
}

.light .groupLeftBar {
	background: #F4F7FB;
}

.light .default-text{
  color:black;
}

.light .grey-text{
  color:#666;
}

.light .clickable_icon{
  color:#36393E;
}

.light .clickable_icon:hover{
  color:#666;
}

.light .clickable_icon.active{
	color: #4E64AB;
}

.light .clickable_icon.active:hover{
  color:#666;
}

.light .petit-trait{
   background-color:#DDD;
}

.light p {
  color:black
}
