/* fichier pour afficher les groupes d'un utilisateur dans son profil */

.lienGroup{
    color:black;
    padding:10px;
    transition-property: padding;
    transition-duration: 0.2s;
    transition-timing-fonction: linear;

}

.lienGroup:hover{
    transition-property: padding-left;
    transition-duration: 0.4s;
    transition-timing-fonction: linear;
    background-color: #fafafa;
    cursor:pointer;
}

.btnGroup {
    display: inline-block;
    height:34px;
    margin-top:8px;
    margin-right:10px;
    float: right;
}
.titleGroup{
    flex:1;
    line-height: 50px;
    margin-left: 10px;
    font-size: 15px;
}
.descriptionGroup{
    color:455a64 ;
    margin-left: 20px;
    font-size:12px;
}
