.pageMarketPlace{
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
}
.logo_app{
    border-radius:10%;
}
.app_container{
    width:100px !important;
    display: inline-block;
    margin: 15px;
    text-align: left;
}
.app_container:hover{
    cursor:pointer;
}

.btn_categorie_app{
    margin-right: 10px;
    margin-bottom: 10px; 
    border: none;
    padding: 10px 45px;
    text-transform: capitalize;
}
.btn_categorie_app:hover{
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}

.application_img{
    height:100px;
    width:100px;
    transition: all 0.2s;
}

.app_container:hover .application_img{
    transform: scale(0.9);
}

.name_app{
	font-size: 14px;
	text-align: center;
	margin-top: 4px;
	margin-bottom: 5px;
	overflow: hidden;
	line-height: 15px;
	height: 30px;
}
.author_app{
    font-size: 12px;
    text-align: left;
    color: rgba(128,128,128,1);
}
.image_author_app{
    background-color: #888;
    background-size: cover;
    height: 17px;
    width: 17px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 7px;
    vertical-align: middle;
    margin-top: -2px;
}
.price_app{
  opacity: 0.8;
  font-style: italic;
  text-align: right;
  font-size: 14px;
}


/* carousel */
.carousel-inner .text-center {
    text-align: left;
}
.right.carousel-control, .left.carousel-control {
    display: none;
}
.carousel-inner, .carousel-inner .text-center{
    height:100%;
}

.app_promoted{
    background-repeat: no-repeat;
    background-size: cover;
}
.app_promoted_hover {
  cursor: pointer;
  transition: all 0.2s;
  color: #FFF;
}
.app_promoted_hover:hover {
  transform: scale(1.05);
}
.img_profil_app_promoted{
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% 100%  ;
    width:130px;
    height:130px;
    box-shadow: 0 0 60px 10px rgba(0,0,0,0.3);
    margin-left:10%;
}

.degrade{
    background: rgba(0,0,0,0.1);
    color:white;
    height:100%;
}

.text_profil_app_promoted{
    vertical-align: middle;
    display:inline-block;
    max-width: 400px;
    margin-left: 50px;
}
.title_profil_app_promoted{
    font-size:42px;
}
.description_profil_app_promoted{
    font-size : 16px;
    text-shadow: 0 0 60px rgba(0,0,0,0.7);
}

.input_name_app{
    width:50%;
    max-width: 500px;
    margin-right:5px;
}

.submit_search_app{
    margin-top: 0px;
    background-color: #2190dc;
    border: none;
    color: white;
    height: 34px;
}
.submit_search_app:hover{
    background-color: #1180cc;
}



/* profil */
.cover_app{
    width : 100%;
	height: 27vh;
    max-height: 300px;
    min-height: 150px;
    background-repeat : no-repeat;
    background-size: 100% 100%;
    background-image:url('/upload/covr/1/22b5cda3292460ce5bd679c36253bc52.jpg');
	background-color: #477eb6;
}

.profil_app{
    position:relative;
    border-radius:20px;
    width: 160px;
    height: 160px;
    margin-right: 10px;
    margin-top: -90px;
    margin-bottom:10px;
    background-size: 100% 100%;
    display: block;
    vertical-align: middle;
}


.description_profil_app{
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

.description_complete_app{
    font-size: 13px;
    width : 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: justify;
    white-space: pre-wrap;
}

.title_profil_app{
    display: inline-block;
    margin-top: 0px;
    font-size: 35px;
    vertical-align: middle;
}

.screen_app{
    width: 80%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box_right_app_profil{
    position:absolute;
    top: 15px;
    right: 80px;
}

.box_left_app_profil{
    float:left;
    margin-left:80px;
}
.buy_app_btn{
    width: 90px;
}
.star_app_profil{
    margin-top:5px;
    color : white;
    white-space: nowrap;
    width:80px;
    float:left;
    height:20px;
}

.star_container{
    margin-right: 5px;
    width:100%;
    float: left;
    color: #CCC;
}

.full_star_container{
    left:-85px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width:0%;
    color: #ffae00;
    display:inline-block;
}
.count_user_profil_app{
    margin-top:5px;
}

.score_app_profil{
    opacity:0.7;
    margin-top: 5px;
    margin-left: 85px;
}


.carousel_screen_profil {
  height: 300px;
  width: 100%;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.carousel_screen_profil img {
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel-indicators li {
    margin: 0px 10px;
    border: 0px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0px 10px;
    background: rgba(255,255,255,1)
}
