/*@media (min-width: 800px) {
	.nodesktop {
		display: none !important;
	}
}
@media (max-width: 800px) {

	.sf-toolbar {
		display: none !important;
	}

	body {
		padding-bottom: 40px;
	}

	b_mobilemenu {
		position: fixed;
		height: 100vh;
		background: transparent;
		z-index: 1000;
		top: 0px;
		width: 100%;
		left: 0px;
		pointer-events: none;
		display: block;
	}

	mobilemenu {
		position: absolute;
		bottom: 0px;
		height: 40px;
		background: #FFF;
		width: 100%;
		pointer-events: all;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		border-top: 1px solid #EEE;
	}

	.right_space {
		min-width: 0;
		width: 0;
		padding-right: 0px;
		opacity: 0;
	}
	.right_menu_fixed {
		display :none;
	}
	.left_space {
		min-width: 0;
		width: 0;
		padding-left: 0px;
		opacity: 0;
	}
	.left_menu {
		left: -208px;
		width: 200px;
	}
	.menu_block, .page_block{
		margin-top: 8px;
	}
	.middle_space {
		padding-bottom: 70px;
	}

	.nomobile {
		display: none !important;
	}

	.mobile100 {
		width: 100% !important;
		max-width: none !important;
		min-width: 0 !important;
	}

	.mobileNoFlex {
		display: inline-block !important;
	}
	.mobileCenter {
		text-align: center !important;
	}


	.input_contener.contain_all {
		width: 100% !important;
	}

	.input_contener.contain_all .text_input {
		max-width: none !important;
	}

	.input_contener.contain_all .select_input {
		max-width: none !important;
	}

    .discussion_overlay_bloc {
	    display: none;
    }

}*/
