.container{
    width:100%;
    min-height:80vh;
}
.container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.startPage .header {
	overflow: hidden;
	z-index: -1;
	position: absolute;
	height: 80vh;
	width: 100%;
}

.animatedBackground {
	background-color: #2F5BB3;
	background: linear-gradient(180deg, #4E64AB, #4b7eb9, #4E64AB);
	background-size: 1500% 1500%;
	-webkit-animation: HeaderBackgroundAnimate 28s ease infinite;
	-moz-animation: HeaderBackgroundAnimate 28s ease infinite;
	-o-animation: HeaderBackgroundAnimate 28s ease infinite;
	animation: HeaderBackgroundAnimate 28s ease infinite;
}

@-webkit-keyframes HeaderBackgroundAnimate {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

@-moz-keyframes HeaderBackgroundAnimate {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

@-o-keyframes HeaderBackgroundAnimate {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

@keyframes HeaderBackgroundAnimate {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

.startPage .textHeader{
	padding: 20px;
    padding-top :15vh;
    height: 80vh;
    text-align: center;
    color : white;
}

.startPage .textHeader .imgTwake{
    background-image: url('/public/img/home/twake.svg');
    margin: auto;
    width: 120px;
    height: 120px;
    background-size: cover;
}
.startPage .textHeader .title{}
.startPage .textHeader .title h5{
    opacity: 0.6;
}

.startPage .textHeader .start_buttons button {
	padding: 9px;
	height: 40px;
}
.startPage .textHeader button{
    border: none;
    width: 150px;
    margin: 20px;
}
.startPage .textHeader button:hover{
}

.startPage .start_buttons .red {
	background-color: #FA6245;
	color: #FFF;
}

.startPage .start_buttons .white {
    color:black;
    background-color:white;
}
.startPage .textHeader .ngGroups{

}


.bloc2{
    max-width:700px;
    margin : auto;
    padding-top:50px;
    padding-bottom : 50px;
    text-align:center;
}
.bloc2 .title{
    font-weight:bold;
    font-size:40px;
}
.bloc2 .sub-title{
    margin:35px;
    font-weight:bold;
    font-size:20px;
}
.bloc2 .text{
    padding-left:20px;
    padding-right:20px;
    font-size:15px;
    width:100%;
    opacity: 0.7;
}
.bloc2 .blocImage{
    margin-top:50px;
}
.bloc2 .blocImage .rectangle{
    width:160px;
    margin:20px;
    display:inline-block;

}
.bloc2 .blocImage .rectangle .img{
    width: 80px;
    height: 80px;
    opacity : 0.8;
    background-size: cover;
    margin: auto;
    margin-bottom: 15px;
}
.bloc2 .blocImage .rectangle .title{
    font-size: 15px;
}
.bloc2 .blocImage .rectangle .textImage{
    font-size: 12px;
}

.bloc2 .exploitation{
    font-size:45px;
    display: inline-block;
    margin : 50px;
}
.bloc2 .exploitation:hover{
    cursor : pointer;
    font-size: 55px;
    margin:40px;
    margin-left:45px;
    margin-right:45px;
	color: #4b7eb9;
    -webkit-transition: font-size, margin,margin-left,margin-right, color, 0.2s;
    transition: font-size, margin,margin-left,margin-right, color, 0.2s;
}



.footer{
	background-color: #4b7eb9;
    color:white;
	padding: 5%;
}
.footer .col{
    vertical-align: top;
    display : inline-block;
	width: 23%;
}
.footer .col .title{
	font-size: 18px;
    margin-bottom:10px;
}
.footer .col .item{
	font-size: 12px;
	margin-bottom: 5px;
	color: #FFF;
	display: block;
	cursor: pointer;
}

.footer .col .item:hover {
	color: #EEE;
}

/* download page */

.download .blue_content{
    text-align: center;
    background-color : #2952B3;
    color : white;
    padding: 40px;
}
.download .title{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}
.download .content{
    font-size: 18px;
}

.download .box{
    padding: 50px;
    display: inline-block;
    flex: 0.3333333333333333333;
    min-width: 200px;
    display: inline-block;
    /* border-right: solid 1px rgba(0,0,0,0.2); */
    /* border-left: solid 1px rgba(0,0,0,0.2); */
    text-align: center;
}
.download .box{
    cursor : pointer;
}
.download .img{
    display: block;
    width: 100px;
    height : 100px;
    background-size: cover;
    opacity: 0.7;
    margin : auto;
    margin-bottom : 10px;
}

.download .active{
    background-color: #2952B3;
    color:white;
}

.download .active .img{
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 1;
}

.download .btn_large{
    width: 130px;
    height: 50px;
    font-weight: 500;
    border: solid;
    border-width: 0px;
    border-radius: 5px;
    background-color: #2952B3;
    border-color: #bbdefb;
    color: white;
}
.download .btn_large:hover{
    width:124px;
    height:46px;
    margin-bottom: 4px;
    -webkit-transition:width,height,margin-bottom, 0.2s;
    transition:width,height,margin-bottom, 0.2s;
}
.download .active .btn_large{
    background-color: white;
    border-color: #bbdefb;
    color: #2952B3;
}

.morphext > .animated {
	display: inline-block;
}

.textImg{
    text-align:left;
    width:150px;
    padding-top: 25%;
}
.textImg .titleImg{
    font-weight: bold;
    font-size:18px;
}
