

.ant-layout-header.banner-container {
  padding: 0 16px;

  &.primary {
    background-color: var(--primary);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--secondary);
    color: var(--white);
    border-bottom: 1px solid var(--black);
  }

  &.default {
    background-color: var(--primary-background);
    color: var(--black);
  }

  &.warning {
    background-color: var(--warning);
    color: var(--white);
  }
  &.important {
    background-color: var(--red);
    color: var(--white);
  }

  &.ghost {
    background-color: transparent;
    color: var(--black);
  }

  .banner-col-icon {
    display: flex;
    align-items: center;
    .icon {
      cursor: pointer;
    }
  }
}
