.joinPage {
  background-color: white !important;
  height: 100%;
  padding: 24px;

  h1.ant-typography {
    font-size: 1.6em;
  }

  .ant-btn-primary.gray-btn {
    border-color: var(--grey-dark);
    background-color: var(--grey-dark);
  }
}
