<span class="mobileRightMenuTouch" ng-init="mobile.reset()"></span>
<div style="display:flex; flex:1; flex-direction: column;"
     ng-controller="contactsSearchCtrl as contactsSearch">

	<div class="smallVideoView" ng-class="{'attach_call_to_me': calls.minify && calls.currentCallKey}"
	     ng-show="calls.minify && calls.currentCallKey" style="color:#FFF">
	</div>

	<div style="overflow: hidden;flex: 1;position:relative;display: flex;" ng-show="contactsSearch.searchValue == ''">
		<div scrollbar style="overflow-x:hidden;flex:1;" class="scroller">

			<span ng-show="cgroup.groupId>0">
				<div class="pane-title mini">Membres du groupe
				</div>

				<div class="contactRight" ng-show="(person.id != cuser.data.uid) || (cgroup.members.length<5)"
				     ng-init="cmsg.subscibeConnections(person.id)"
				     ng-repeat="person in cgroup.members" ui-sref="messages({id: person.id, type:'user'})"
				     ng-include="'@views/menus/contact.html'">

				</div>

				<div style="border-bottom: 1px solid rgba(128,128,128,0.2);margin-top: 10px;"></div>

			</span>

			<div class="pane-title mini">
				Vos groupes
				<span class="addNew" ui-sref="inscriptionGroupe">+</span>
			</div>

			<span ng-repeat="group in cuser.data.groups" class="no-animate contactRight group"
			      ui-sref="group-home({gid:group.id})" ng-include="'@views/menus/contact_group.html'">
			</span>
			<span ng-show="cuser.data.groups.length==0"
			      style="font-size: 12px;text-align: center;width: 100%;display: block;line-height: 30px;">
				Vous n'avez aucun groupe
			</span>

			<div style="border-bottom: 1px solid rgba(128,128,128,0.2);margin-top: 10px;"></div>

			<div class="pane-title mini">
				Vos contacts
				<span class="addNew" ui-sref="account-contacts">+</span>
			</div>

			<div class="contactRight" ng-init="cmsg.subscibeConnections(person.id)"
			     ng-repeat="person in cmsg.user_contacts" ng-click="cmsg.addFloatBloc(cmsg.userToKey(person.id))"
			     ng-include="'@views/menus/contact.html'">

			</div>

		</div>
	</div>

	<div ng-show="contactsSearch.searchValue != ''" style="flex:1" ng-include="'@views/member_search.html'"></div>
	<div style="height: 40px;background: transparent;border-top: 1px solid rgba(128,128,128,0.2);display:flex;">
		<div style="flex:1;position:relative;">
			<input ng-change="contactsSearch.delayedSearch()" ng-model="contactsSearch.searchValue" type="text"
			       style="position: absolute;width: 100%;height: 100%;border: 0px;background: transparent;outline: none;padding-left: 10px;"
			       placeholder="Rechercher">
		</div>
		<div style="width:40px" class="searchContacts" ng-click="contactsSearch.search()">
			<i class="fa fa-search" aria-hidden="true" style="margin: 12px;font-size: 15px;"></i>
		</div>
	</div>

</div>

