/* Emojione */

img.emojione {
  width: 18px;
  bottom: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

i.emojione.emoji-image {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
  margin-top: -4px;
  font-size: 1.1em;
}

.trash_emoji {
  font-size: 16px;
  position: relative;
  top: 1px;
}

/*

.title img.emojione {
  width: 26px;
  bottom: 3px;
}

.subtitle img.emojione {
  width: 22px;
  bottom: 2px;
}

img.emojione, .text img.emojione {
  width: 18px;
  bottom: 2px;
}

.smalltext img.emojione {
  width: 16px;
  bottom: 2px;
}*/
