.ant-layout .main-view-layout {
  height: 100%;
  overflow: hidden;
  .main-view-content {
    position: relative;
    & > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.ant-layout .global-view-layout {
  &.collapsed .global-view-header {
    .channel-name {
      margin-left: 26px;
    }
    .app-name {
      margin-left: 40px;
    }
  }
  .global-view-header {
    padding: 8px 0;
    height: 56px;
    background-color: #FFF;

    .ant-divider {
      margin: 0;
      height: 2px;
    }
    .ant-row {
      white-space: nowrap;
      padding: 0 16px;
      line-height: 47px;
    }
  }

  .global-side-view {
    background-color: var(--white);
    border-left: 1px solid var(--grey-background);
    transition-duration: 0s !important;

    .side-header {
      height: 40px;
      background: #f5f5f7;
      background: var(--grey-background);
      font-size: 13px;
      font-weight: 500;
      color: var(--primary);
      color: var(--black-alpha-70);
      padding: 8px 8px 8px 16px;
      line-height: 24px;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 0;
        flex: 1 1;
      }

      svg {
        cursor: pointer;
        right: 8px;
        color: var(--black-alpha-50);
        &:hover {
          color: var(--black);
        }
      }
    }
  }

  .global-view-content {
    & > .ant-layout {
      max-width: 100%;
    }
    padding: 0px;
    display: flex;

    .main-view-tabs-header {
      background-color: #FFF;
      height: 47px;
      margin-top: -8px;
      padding: 0 8px;
    }

    .main-view-tabs {
      .ant-tabs-nav {
        padding: 0 8px;
      }
    }
  }
}

.main-view,
.main-view-content {
  flex: 1;
  background: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid var(--grey-background);

  .app_loader {
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
  }

  .no-channel-text {
    color: #000;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 200px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
  }
}

.public_header {
  background-color: var(--primary);
  flex-direction: column;
  width: 100vw;
  height: 64px;
  display: flex;
  flex-direction: row;

  .left {
    padding: 16px;
    padding-left: 24px;
    display: flex;
    flex-direction: row;

    & > .companyName {
      margin-left: 16px;
      line-height: 32px;
      color: #fff;
      font-weight: 600;
    }
  }

  .right {
    flex: 1;
    text-align: right;
    font-size: 12px;
    padding: 16px;
    padding-right: 24px;
    line-height: 32px;

    a {
      color: #fff;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
