<div style="padding:10px;padding-top: 0;">

	<h3>Messages</h3>

	La messagerie Twake permet d'envoyer du texte stylisé à l'aide de commandes textes.

	<h4>Commandes de base</h4>
	**gras**<br>
	--barré--<br>
	~~italique~~<br>
	&lt;&lt;monospace&gt;&gt;<br>
	__souligné__<br>

	<h4>Commandes avancées</h4>
	&lt;&lt;&lt;javascript function a(){} &gt;&gt;&gt;<br>
	&lt;&lt;&lt;php &lt;?php function a(){} &gt;&gt;&gt;<br>
	quote{Title}{Message}<br>
	color{red}{Texte en rouge}<br>
	color{#F08777}{Texte coloré}<br>
	#F00EE9 (affiche la couleur automatiquement)<br>
	@username<br>
	:emoji_name: (ajoute l'emoji nommé emoji_name)<br>

	<h4>Commandes externes</h4>
	\say [fr] Bonjour ! (prononce chez tous les utilisateurs)<br>
	\signal (envoi un signal lumineux)

</div>