<div style="height: 50px;line-height: 50px;width: 20px;font-size: 18px;color: rgba(128,128,128,0.6);">
	<i class="like_choose_icon fa fa-ban" aria-hidden="true"
	   ng-click="cmsg.like(id, '', chat.discussionKey+'');chat.likeMenu = 0;"></i>
</div>
<div style="flex: 1">

	<img ng-repeat="like in ['up','down','ok','clap','heart','smile','rage','chocked','sob','dead']"
	     class="like_choose_icon emojione" src="/public/img/likes/{{like}}.png"
	     ng-click="cmsg.like(id, like,chat.discussionKey+'');chat.likeMenu = 0;">

</div>