<li role="menuitem" ng-click="chat.quote(chat.messages[id], &quot;{{chat.messages[id].timestamp*1000 | date : 'dd/MM/yyyy HH:mm:ss'}}&quot;)" ng-show="chat.messages[id].fileurl == ''">
	<a>Citer</a>
</li>
<li role="separator" class="divider" ng-show="((chat.edit!=id && chat.messages[id].sid==cuser.data.uid) || (chat.type != 'channel') || (chat.type == 'channel' && chat.canPin)) && chat.messages[id].fileurl == ''"></li>
<li role="menuitem" ng-click="chat.pin(chat.messages[id]);" ng-show="(chat.type != 'channel' || (chat.type == 'channel' && chat.canPin)) && !chat.messages[id].pinned">
	<a>Pin</a>
</li>
<li role="menuitem" ng-show="chat.messages[id].fileurl != '' && chat.messages[id].fileurl.substr(0, 11) == '/ajax/drive'">
	<a ng-click="chat.goToDrive()">Go to Drive</a>
</li>
<li role="menuitem" ng-click="chat.unpin(chat.messages[id]);" ng-show="(chat.type != 'channel' || (chat.type == 'channel' && chat.canPin)) && chat.messages[id].pinned">
	<a>Unpin</a>
</li>
<li role="menuitem" ng-click="chat.includeEdit[id]='@views/messages/edit.html';chat.edit = id; chat.focus(chat.messages[id]);" ng-show="chat.messages[id].sid==cuser.data.uid && chat.messages[id].fileurl == ''">
	<a>Edit</a>
</li>
<li role="menuitem" style="color: #800;" ng-really-click="chat.delete(chat.messages[id]);" ng-really-message="Supprimer ce message ?" ng-show="chat.messages[id].sid==cuser.data.uid">
	<a>Delete</a>
</li>
