.online_user_status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--grey-dark);
  border: 1px solid var(--grey-background);

  &.online {
    background: var(--green);
  }

  &.offline {
    background: var(--red);
  }

  &.small {
    width: 6px;
    height: 6px;
  }

  &.medium {
    width: 8px;
    height: 8px;
  }

  &.big {
    width: 12px;
    height: 12px;
  }
}