{% extends "TwakeUsersBundle:Account:account_general.html.twig" %}

{% block title %}Notifications{% endblock %}
{% block account_body %}

    <div class="page_block">

        <div class="results_notifications">

        </div>

        <div class="no_notifications nfo" style="display: none;text-align: center;padding:20px;">
            Aucune notification
        </div>

        <div class="loading_new_notifications">
            <div style="margin: 10px">
                <div class="icon_loading"></div>
            </div>
        </div>

        <div class="load_more_notifications" style="text-align: center">
            <a href="#" onclick="loadMoreNotifications()">Afficher plus</a>
        </div>

    </div>

    <script type="text/javascript">
        var nb_notifications_loaded = 0;
        var profile_notification_template = getTemplate("notification_profile");

        function loadNotifications(from){

            var nb_notifications = 10;

            $.post("/scripts/notifications/get",{"from":from,"nb":nb_notifications},function(res){
                $('.loading_new_notifications').hide();

                nb_notifications_loaded += res.nbresults;



                $.each(res.results, function(i,el){
                    getImproved("notification_profile",el,function(html){
                        $('.results_notifications').append(html);
                    });
                });


                if(nb_notifications_loaded==0){
                    //Aucune notification
                    $('.no_notifications').show();
                }

                if(res.nbresults<nb_notifications){
                    $('.load_more_notifications').hide();
                }else{
                    $('.load_more_notifications').show();
                }

            });

        }

        function loadMoreNotifications(){
            $('.loading_new_notifications').show();
            $('.load_more_notifications').hide();
            loadNotifications(nb_notifications_loaded);
        }

        loadMoreNotifications();
    </script>

{% endblock %}