{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block left_menu %}

    <div class="menu_block account_summary_menu">

        <div class="default_user_cover" style='{{ app.user.getCssCoverImage() }}'></div>

        <div class="default_user_image" style='{{ app.user.getCssProfileImage() }}' ></div>

        <div class="text">
            {{ app.user.getUsername() | capitalize }}
            <br>
            <a onclick="go(event,'/user/{{ app.user.getUsernameClean() }}')">Profil public</a>
        </div>

    </div>

    <div class="menu_block">

        <div class="title">Paramètres</div>

        {%
        set path = app.request.attributes.get('_route')
        %}
        
        <a {% if path=="citi_go_account_homepage" %}class="active"{% endif %} onclick="go(event,'/account/profile')">Modifier le profil public</a>
        <a {% if path=="citi_go_account_parameters" %}class="active"{% endif %} onclick="go(event,'/account/parameters')">Paramètre de compte</a>
        <a {% if path=="citi_go_account_notifications" %}class="active"{% endif %} onclick="go(event,'/account/notifications')">Notifications</a>
        <a {% if path=="citi_go_account_contacts" %}class="active"{% endif %} onclick="go(event,'/account/contacts')">Contacts</a>
        <a {% if path=="citi_go_account_orga_list" %}class="active"{% endif %} onclick="go(event,'/account/groups')">Groupes</a>
        <a {% if path=="citi_go_account_transactions" %}class="active"{% endif %} onclick="go(event,'/account/transactions')">Transactions</a>

    </div>

    <div class="menu_block">

        <div class="title">Applications</div>


    </div>
{% endblock %}

{% block body %}

    <div class="page_block title">
    {% block title %}Paramètres de compte{% endblock %}
    </div>

    {% block account_body %}{% endblock %}

{% endblock %}