.message-edition {
  padding-top: 4px;

  .message-edition-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .editor-toolbar {
      padding-left: 0;

      .button-group:first-child {
        margin-left: -8px;
      }
    }
  }
}
