<div ng-controller="ErrorCtrl as error">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Date</th>
            <th>Last Date</th>
            <th>Number</th>
            <th>File</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="error in error.errors">
            <td>{{error.id}}</td>
            <td>{{error.first_date.date}}</td>
            <td>{{error.last_date.date}}</td>
            <td>{{error.number}}</td>
            <td>{{error.file}}</td>
            <td>{{error.data}}</td>
        </tr>
        </tbody>
    </table>
</div>
