{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block right_menu %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}

    <div class='text_center'>
        L'ajout de cette seconde adresse mail n'a pas été demandé par l'utilisateur actuel.
        <br>
        <br>
        <a href="/c_logout" class="red_link" >Changer de compte</a>
    </div>

{% endblock %}