{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block right_menu %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}

    <div class='text_center'>Votre adresse mail <b>{{ mail }}</b><br> a été ajoutée à la liste de vos adresses avec succès !
    <br><br>
    <a href="/account/parameters" >Paramètres de compte</a>
    </div>

{% endblock %}