{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block right_menu %}{% endblock %}
{% block left_menu %}{% endblock %}
{% block body %}

    <div class='text_center'>
        Vous n'êtes pas connecté, connectez vous pour ajouter cette adresse mail.
    </div>

{% endblock %}