<div class="popup_changepseudo">

    <div class="form_title" style="margin-top:0px;">Changer votre mot de passe</div>
    <br>
    <input type="password" class="text_input form-control currentpassword_inpopup" value="" placeholder="Mot de passe actuel">

    <input style="margin-top:10px" type="password" class="text_input form-control newpassword_inpopup" value="" placeholder="Nouveau mot de passe">
    <input style="margin-top:5px" type="password" class="text_input form-control verifypassword_inpopup" value="" placeholder="Confirmer le nouveau mot de passe">

    <div style="min-height: 40px;">
        <div class="form_error" style="display: none;" id="error_old_password_incorrect">Votre mot de passe courant est incorrect.</div>
        <div class="form_error" style="display: none;" id="error_new_password_incorrect">Votre nouveau mot de passe doit contenir au moins 8 caractères, dont un chiffre, une minuscule et une majuscule.</div>
        <div class="form_error" style="display: none;" id="error_passwords_differents">Vos deux nouveaux mots de passe ne correspondent pas.</div>
    </div>

    <button class="btn btn-info" style="margin-top: 5px;float:right;" onclick="popupmodifypassword()">Modifier</button>

</div>
<script type="text/javascript">
    function popupmodifypassword(){
        var current = $(".currentpassword_inpopup").val();
        var new_password_verify = $(".verifypassword_inpopup").val();
        var new_password = $(".newpassword_inpopup").val();

        forms_send("/account/parameters/ajax",
                {'source':"changepassword",'current_password':current,'new_password':new_password,'new_password_verify':new_password_verify},
                function(data){
                    closePopup();
                    altAlert({title:"Mot de passe modifié", text:"Votre mot de passe à été modifié avec succès."}); },
                function(data){ console.log(data); },
                ".popup_changepseudo");

    }
</script>