<div class="popup_changepseudo">

    <div class="form_title" style="margin-top:0px;">Changer votre pseudo</div>
    <br>
    <input type="text" class="text_input form-control pseudo_inpopup" value="{{ app.user.username }}">


    <div style="min-height: 40px;">
        <div class="form_error" style="display: none;" id="error_username_not_enough_character_count">Votre pseudo doit contenir entre 4 et 30 caractères.</div>
        <div class="form_error" style="display: none;" id="error_username_already_used">Ce pseudo est déjà utilisé.</div>
    </div>

    <button class="btn btn-info" style="margin-top: 5px;float:right;" onclick="popupmodifypseudo()">Modifier</button>

</div>
<script type="text/javascript">
    function popupmodifypseudo(){
        var pseudo = $(".pseudo_inpopup").val();

        forms_send("/account/parameters/ajax",
                {'source':"pseudo",'pseudo':pseudo},
                function(data){ document.location = ""; },
                function(data){ console.log(data); },
                ".popup_changepseudo");

    }
</script>