body.no_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drive_multiselector {
  position: relative;
  overflow-x: visible;
  overflow-y: scroll;
}

.selectionRect {
  background: var(--primary);
  z-index: 10;
  border-radius: var(--border-radius-base);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;

  &.visible {
    opacity: 0.2;
  }
}
