.calendar_app {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
  box-sizing: border-box;
}

.menu {
  .calendar_color {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 10px 0;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
  }
}

.calendar_header {
  display: flex;
  padding: 16px;

  .left {
    flex: 1;
  }

  .right {
    & > div {
      display: inline-block;
    }

    .current_date {
      height: 38px;
      line-height: 38px;
      text-transform: capitalize;
    }

    .move {
      margin-left: 20px;
      margin-right: 20px;

      .m-icon-small {
        font-size: 24px !important;
        vertical-align: middle;
        margin-top: -4px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    .week_number {
      color: var(--white);
      background: var(--grey-dark);
      border-radius: var(--border-radius-base);
      padding: 1px 4px;
      font-size: 12px;
      vertical-align: middle;
      margin-right: 20px;
    }
  }
}

.unconfigured_tab {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
}
