<div style="text-align: center;" ng-controller="connectionPbCtrl as reset">
	<br>
	<br>
    <div class="title">Récupération de mot de passe</div>
	<br>
    <div ng-show="!reset.success">
        <form>
            <div class="subtitle">Adresse mail</div>
	        <br>
	        <input type="text" class="form-control bordered" ng-model="reset.mail">
             <input type="submit" class="btn btn-block btn-success" ng-click="reset.resetMail();" style="display: inline-block;margin-left: 5px;max-width: 100px;" value="Accept"></input>
        </form>
    </div>
    <div ng-show="reset.success">
        Un mail a été envoyé à l'adresse {{reset.mail}}.
    </div>
</div>
