<li class="classic {{notif.data.class}}" ng-class="{'new_notification':!notif.isread}" ng-click="notifications.readNotif(notif.id);href.go(notif.url);header.popup=''">

	<div style="display: flex;">
		<div class="default_group_image groupSquareModule" style="border-radius:20%; margin-top: 0px; {{ notif.img }}"></div>
		<div style="flex:1; margin-top:10px;margin-left: 10px;">
			<b>{{ notif.title }}</b> {{ notif.text }}
			<div class="date">
				{{notif.date*1000 | date : 'Le dd/MM à HH:mm'}}
			</div>
		</div>
	</div>
</li>
