.active .channel-row,
.active .channel-row:hover {
  background-color: var(--primary);
  opacity: 0.9;
  border-radius: var(--border-radius-base);
  .ant-typography {
    color: var(--white);
  }
}

.channel-row:hover {
  cursor: pointer;
  background-color: var(--primary-background);
  border-radius: var(--border-radius-base);
}

.channel-row {
  line-height: 32px;
  margin: 0 16px;
  padding: 0 8px;
  min-height: 32px;
}
