<div ng-controller="groupPublicPageCtrl as public">
    <div class="page_block" style="padding-bottom:0px;" >

        <div class="cover default_user_cover" style='{{ public.group.csscover }}' ></div>


        <div class="user_page_image default_group_image" style='background-color:white;{{ public.group.csslogo }}' ></div>

        <div class="user_page_right_photo">
            {{ public.group.name}}
            <div class="nfo" style="color:#ccc;font-size:15px;">{{public.group.key}}</div>
            <button ng-click="public.follow()" ng-show="public.canSub && !public.isSub" style="float:right;font-size: 13px;width:100px;" class="send_status">S'abonner</button>
            <button ng-click="public.follow()" ng-show="public.canSub && public.isSub" style="float:right;font-size: 13px;width:100px;" class="send_status">Se désabonner</button>
        </div>
        <div class="menu_user">
            <div class="menu_item" ng-class="{'menu_item_active':public.page==1}" ng-click="public.page=1;">
                Publications
            </div>
            <div class="menu_item" ng-class="{'menu_item_active':public.page==2}" ng-click="public.page=2;">
                A propos
            </div>
        </div>
    </div>
	<div ng-include="'@views/status/status.html'" ng-show="public.page==1" ng-controller="statusCtrl as status"
	     ng-init="public.fctOnReady=status.setId;"></div>
    <div ng-show="public.page==2">
        <div>
            <div class="page_block" style="background-color:#1376FF;color:white;border-radius:3px;">
                A propos de {{public.gorup.name}}
            </div>
            <div class="page_block">
                {{public.group.description}}
            </div>
        </div>
    </div>
</div>
