<div ng-controller="searchGroupCtrl as ctrl">
    <div class="page_block" style="background-color:#1376FF;color:white;border-radius:3px;">
        Groupes
    </div>
    <div class="page_block">
        <div style="display:flex;margin-bottom: 20px;" ng-repeat="group in ctrl.listGroup">
            <div class="group_img_presation default_group_image" style="height:50px;width:50px;display:inline-block;border-radius:20%; {{group.csslogo}}"></div>
            <div style="display:inline-block;flex:1;">
                <div><span class="nameGroup">{{group.name}}</span><span class="keyGroup">{{group.key}}</span></div>
                <div >{{group.description}}</div>
            </div>
        </div>
    </div>
</div>