@import '~components/constants.scss';

.emojiPicker {
  //min-height: 234px;
  text-align: center;
  margin: 0px -16px;
  margin-bottom: -16px;

  .menu.is_selected {
    background: #e5f3fd !important;
  }

  .autocomplete.focused {
    box-shadow: none !important;
  }
  .prefered {
    padding-bottom: 2px;
    margin-top: -3px;
  }
  .picker_container {
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .scroller {
    position: relative;
    overflow: hidden;
    margin-top: 5px;
    height: 205px;

    .ReactVirtualized__List {
      margin-top: -15px;
    }

    .ReactVirtualized__List:focus {
      outline: none;
    }
  }
  .emoji_top_title {
    position: absolute;
    z-index: 1;
    background: #fff;
    background: linear-gradient(to bottom, #ffffffff 60%, #ffffff00 100%);
    left: 0px;
    top: 0px;
    height: 40px;
    right: 0px;
    width: 100%;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 13px;
    color: #666;
    text-transform: capitalize;
    text-align: center;
    pointer-events: none;
  }
  .bloc {
    height: 32.9px;
    text-align: left;
    margin-left: 8px;

    &.title {
      padding-left: 0px;
      margin-left: 0px;
      left: 10px !important;
      right: 10px;
      width: calc(100% - 20px) !important;
      padding-top: 20px;
      box-sizing: border-box;
      font-size: 13px;
      color: #666;
      text-transform: capitalize;
      text-align: center;
    }
  }
  .menu {
    height: 34px;
    box-sizing: border-box;
    display: inline-block;
    width: 13.6%;
    margin: 2px;
    margin-bottom: 0px;
    margin-top: 4px;
    padding: 0px;
    text-align: center;
    border-radius: $base_border_radius;
    padding-top: 0px;
    vertical-align: top;
    font-size: 18px;
  }

  .categories {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -5px;
    border-top: 1px solid $grey_light;
    .category {
      vertical-align: top;
      flex: 1;
      height: 32px;
      padding-top: 7px;
      box-sizing: border-box;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &.selected {
        border-bottom: 2px solid $primary;
        opacity: 1;
      }
      &.disabled {
        border-bottom: none;
        opacity: 0.2;
        pointer-events: none;
      }
      img {
        height: 16px;
      }
    }
  }
}
