.save-new-status-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 8px;
  .error-button {
    color: var(--error);
    border: 1px solid var(--error);
    &:hover {
      color: var(--error);

      border: 1px solid var(--error);
    }
  }
}
