<div ng-controller="userCtrl as userCtrl">
    <div class="page_block" style="padding-bottom:0px;" >

	    <div class="cover default_user_cover" style='{{ userCtrl.user.cover }}'>
		    <div class="gradient">

			    <!--<button class="changeProfil">Modifier le profil </button>-->

		    </div>
	    </div>


	    <div class="user_page_image default_user_image default_user_style" style='{{ userCtrl.user.profil }};'></div>

            <div class="user_page_right_photo" style="font-size:25px;">

                <div class="addcontact" style="float:right;max-width: 300px;">
                    <div ng-show=" ! userCtrl.user.isme">
                        <div id="user_addfriends_button"  data-user-id="{{ userCtrl.user.idUser }}"></div>
                        <div ng-controller="btnContactCtrl as Btn" ng-init="userCtrl.btnController=Btn" ng-include="'@pviews/templates/contact_buttons.html'"></div>
                    </div>
                </div>

	            <div style="margin-left: 15px;">

		            {{ userCtrl.user.firstname }}
		            {{ userCtrl.user.lastname }}
		            <br>

		            <div class="nfo" style="color:white;font-size:20px;">
			            @{{ userCtrl.user.username}}
		            </div>

	            </div>
        </div>
        <div class="menu_user">
	        <!--<div class="menu_item" ng-class="{'menu_item_active':userCtrl.page==1}" ng-click="userCtrl.page=1;">
		Publications
	</div>
	<div class="menu_item" ng-class="{'menu_item_active':userCtrl.page==2}" ng-click="userCtrl.page=2;">
		Groupes
	</div>
	<div class="menu_item" ng-class="{'menu_item_active':userCtrl.page==3}" ng-click="userCtrl.page=3;">
		Contacts
	</div>-->
	        <div class="menu_item" ng-class="{'menu_item_active':userCtrl.page==4}" ng-click="userCtrl.page=4;">
		        A propos
	        </div>
        </div>

        <!--<div style="margin-left:10px">
            <div class="nfo" style="color: #666">
                {{ userCtrl.user.gender == 'M' ? "Homme" : (userCtrl.user.gender == 'F' ? "Femme" : (userCtrl.user.gender == 'A' ? "Autre" : "")) }}
            </div>
            <div class="nfo" style="color: #666">
                {{ userCtrl.user.gender == 'F' && userCtrl.formatedBirthday != "" ? "Née le " : (userCtrl.formatedBirthday != "" ? "Né le" : "") }}
                {{ userCtrl.formatedBirthday }}
            </div>

            <div style="margin-top: 10px;">
                <b>À propos</b><br>
                {{ userCtrl.user.description }}
            </div>
        </div>-->
    </div>

	<div ng-show="userCtrl.page==1" ng-include="'@views/status/status.html'" ng-controller="statusCtrl as status"
	     ng-init="status.loadFct=status.load;status.loadFct();userCtrl.onReady = status.setId;"></div>



    <div ng-show="userCtrl.page==2">
        <div >
            <div class="page_block" style="background-color:#1376FF;color:white;border-radius:3px;">
                Groupes publics de {{cuser.data.username}}
            </div>
            <div ng-show="userCtrl.publicGroups.length>0" class="page_block">
                <div style="display:flex;margin-bottom: 20px;" ng-repeat="group in userCtrl.publicGroups">
                    <div class="group_img_presation default_group_image" style="height:50px;width:50px;display:inline-block;border-radius:20%; {{group.orga.csslogo}}"></div>
                    <div style="display:inline-block;flex:1;">
                        <div><span class="nameGroup">{{group.orga.name}}</span><span class="keyGroup">{{group.orga.key}}</span></div>
                        <div >{{group.orga.description}}</div>
                    </div>
                </div>
            </div>
            <div ng-show="userCtrl.publicGroups.length==0"  class="page_block">
                    Aucun groupe
            </div>
        </div>

        <div >
            <div class="page_block" style="background-color:#1376FF;color:white;border-radius:3px;">
                Groupes suivis par {{cuser.data.username}}
            </div>
            <div ng-show="userCtrl.followGroup.length>0" class="page_block">
                <div style="display:flex;" style="margin-bottom: 10px;" ng-repeat="group in userCtrl.followGroup">
                    <div class="group_img_presation default_group_image" style="height:50px;width:50px;display:inline-block;border-radius:20%; {{group.orga.csslogo}}"></div>
                    <div style="display:inline-block;flex:1;">
                        <div><span class="nameGroup">{{group.orga.name}}</span><span class="keyGroup">{{group.orga.key}}</span></div>
                        <div >{{group.orga.description}}</div>
                    </div>
                </div>
            </div>
            <div ng-show="userCtrl.followGroup.length==0"  class="page_block">
                Aucun groupe
            </div>
        </div>
    </div>




    <div ng-show="userCtrl.page==3">
        <div style="width:100%;">
            <div class="page_block title">
                {{userCtrl.contactsList.length}} Contacts
            </div>
            <div  class="page_block" ng-show="userCtrl.contactsList.length>0">
                <a  ui-sref="user({username:contact.username})" class="user_line profil_relation" ng-repeat="contact in contacts.contactsList" ng-include="'@pviews/templates/contact_line.html'"></a>
          </div>
            <div ng-show="userCtrl.contactsList.length>0" class="page_block">
                <div style="display:flex;" style="margin-bottom: 10px;" ng-repeat="contact in userCtrl.contactsList">
                    <div class="group_img_presation default_group_image" style="height:50px;width:50px;display:inline-block;border-radius:100%; {{contact.cssuserimage}}"></div>
                    <div style="display:inline-block;flex:1;">
                        <div><span class="nameGroup">{{contact.username}}</span></div>
                    </div>
                </div>
            </div>
            <div ng-show="userCtrl.followGroup.length==0"  class="page_block">
                Aucun contact
            </div>
        </div>
    </div>



    <div ng-show="userCtrl.page==4">
        <div style="width:100%;">
            <div class="page_block title">
                A propos
            </div>
            <div  class="page_block" ng-show="userCtrl.contactsList.length>0">
                <div>

                    <div class="nfo" style="color: #666">
                        {{ userCtrl.user.gender == 'M' ? "Homme" : (userCtrl.user.gender == 'F' ? "Femme" : (userCtrl.user.gender == 'A' ? "Autre" : "")) }}
                    </div>
                    <div class="nfo" style="color: #666">
                        {{ userCtrl.user.gender == 'F' && userCtrl.formatedBirthday != "" ? "Née le " : (userCtrl.formatedBirthday != "" ? "Né le" : "") }}
                        {{ userCtrl.formatedBirthday }}
                    </div>

                    <div>
                        <b>À propos</b><br>
	                    {{ userCtrl.user.description || "Aucune description." }}
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>
