
.user-card {
  .content-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;

    .avatar {
      width: 42px;
      margin-right: 8px;
    }

    .texts {
      flex: 1;
      overflow: hidden;

      .title {
        margin-bottom: 0px;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .text-ellipsis {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .mail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    a {
      margin-left: 8px;
    }
  }

  .footer {
    text-align: right;
    & > div {
      display: inline-block;
    }
  }
}
