{% extends "TwakeCoreBundle:Mail:de/all.html.twig" %}

{% block title %} Ihre Anforderung eines neuen Passwortes {% endblock %}

{% block secondtitle %} Ihre Anforderung eines neuen Passwortes  {% endblock %}

{% block body %}

    <b> Guten Tag {{ username|capitalize }},</b>
    <br>
    Sie haben ein neues Passwort angefordert; hier ist der erforderliche Aktivierungscode:
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #057CD7; border: solid 1px #057CD7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #057CD7;">
            {{ code }}
        </div>
    </center>

{% endblock %}