@charset "UTF-8";

@font-face {
  font-family: 'twake-fontastic';
  src: url('fontastic/twake-fontastic.eot');
  src: url('fontastic/twake-fontastic.eot?#iefix') format('embedded-opentype'),
    url('fontastic/twake-fontastic.woff') format('woff'),
    url('fontastic/twake-fontastic.ttf') format('truetype'),
    url('fontastic/twake-fontastic.svg#twake-fontastic') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'twake-fontastic' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'twake-fontastic' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
  content: '\61';
}
.icon-camera:before {
  content: '\62';
}
.icon-check-circle:before {
  content: '\63';
}
.icon-chevron-bottom:before {
  content: '\64';
}
.icon-chevron-left:before {
  content: '\65';
}
.icon-chevron-right:before {
  content: '\66';
}
.icon-clock:before {
  content: '\67';
}
.icon-close:before {
  content: '\68';
}
.icon-close-circle:before {
  content: '\69';
}
.icon-comment:before {
  content: '\6a';
}
.icon-danger-circle:before {
  content: '\6b';
}
.icon-directory:before {
  content: '\6c';
}
.icon-directory-open:before {
  content: '\6d';
}
.icon-down:before {
  content: '\6e';
}
.icon-down-circle:before {
  content: '\6f';
}
.icon-download:before {
  content: '\70';
}
.icon-exchange:before {
  content: '\71';
}
.icon-exit:before {
  content: '\72';
}
.icon-expand:before {
  content: '\73';
}
.icon-export:before {
  content: '\74';
}
.icon-eye:before {
  content: '\75';
}
.icon-file:before {
  content: '\76';
}
.icon-gear:before {
  content: '\77';
}
.icon-grid:before {
  content: '\78';
}
.icon-heart:before {
  content: '\79';
}
.icon-home:before {
  content: '\7a';
}
.icon-inbox:before {
  content: '\41';
}
.icon-info-circle:before {
  content: '\42';
}
.icon-label:before {
  content: '\43';
}
.icon-left-circle:before {
  content: '\44';
}
.icon-left-line:before {
  content: '\45';
}
.icon-left-right:before {
  content: '\46';
}
.icon-link:before {
  content: '\47';
}
.icon-list:before {
  content: '\48';
}
.icon-location:before {
  content: '\49';
}
.icon-locked:before {
  content: '\4a';
}
.icon-mail:before {
  content: '\4b';
}
.icon-minus-circle:before {
  content: '\4c';
}
.icon-monitor:before {
  content: '\4d';
}
.icon-paper-clip:before {
  content: '\4e';
}
.icon-pause-circle:before {
  content: '\4f';
}
.icon-phone:before {
  content: '\50';
}
.icon-pin:before {
  content: '\51';
}
.icon-plus:before {
  content: '\52';
}
.icon-plus-circle:before {
  content: '\53';
}
.icon-power-circle:before {
  content: '\54';
}
.icon-qrcode:before {
  content: '\55';
}
.icon-question-circle:before {
  content: '\56';
}
.icon-reload:before {
  content: '\57';
}
.icon-respond:before {
  content: '\58';
}
.icon-right-line:before {
  content: '\59';
}
.icon-save:before {
  content: '\5a';
}
.icon-search:before {
  content: '\30';
}
.icon-send:before {
  content: '\31';
}
.icon-share:before {
  content: '\32';
}
.icon-shrink:before {
  content: '\33';
}
.icon-smiley:before {
  content: '\34';
}
.icon-smiley-neutral:before {
  content: '\35';
}
.icon-smiley-sad:before {
  content: '\36';
}
.icon-smileys:before {
  content: '\37';
}
.icon-star:before {
  content: '\38';
}
.icon-thumbs-down:before {
  content: '\39';
}
.icon-thumbs-up:before {
  content: '\21';
}
.icon-trash:before {
  content: '\22';
}
.icon-type-image:before {
  content: '\23';
}
.icon-unlocked:before {
  content: '\24';
}
.icon-up:before {
  content: '\25';
}
.icon-up-circle:before {
  content: '\26';
}
.icon-upload:before {
  content: '\27';
}
.icon-user:before {
  content: '\28';
}
.icon-write:before {
  content: '\29';
}
.icon-bell:before {
  content: '\2a';
}
