{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block title %}Search{% endblock %}
{% block body %}
<b>Hello, I'm a search page </b>
    <br>
    <input name="search" style="margin-left:40%;position:relative" id="search"/>
    <input type="button" value="Search" onclick="search_dosearch()" />
    <br><br><br>
    <div style="padding-left:45%;position:relative" id="search_results_ctn"></div>

    <script type="text/javascript">

        getTemplate("search.html");

        function search_dosearch() {
            $("#search_results_ctn").empty();
            jQuery.post("/scripts/search/doResearch", {q:$("#search").val()}, function(results){
                $.each(results.results.results, function(i, el){

                    getImproved("search.html", {name:el.name},function(bloc){
                        $("#search_results_ctn").append(bloc + "<br>");
                    });

                });
            })
        }

    </script>
{% endblock %}