.pending-files-list-layout {
  border: 1px solid var(--black-alpha-70);
  box-shadow: var(--box-shadow-base);
  width: 256px;

  border-radius: var(--border-radius-base);
  position: absolute;
  z-index: 100;
  bottom: 8px;
  right: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  transition-delay: 1s;

  &.visible {
    opacity: 1;
    transition-delay: 0s;
    pointer-events: all;
  }

  .pending-files-list-header {
    color: var(--white);
    padding: 0 8px;
    background-color: var(--secondary);
    height: 32px;
    line-height: 32px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;

    &.hidden {
      border-radius: 8px;
    }
  }

  .pending-files-list-content {
    min-height: 32px;
    max-height: 176px;
    overflow-y: none;
  }
}
