.taskPicker {
  position: relative;
  .title {
    background: #ffffff;
    margin-bottom: 0px;
    font-size: 16px;
    color: #000;
    line-height: 20px;
    padding-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .getback {
      background: var(--grey-background);
      border-radius: var(--border-radius-base);
      width: 20px;
      height: 20px;
      vertical-align: top;
      margin-right: 5px;
      margin-left: 0px;
      cursor: pointer;
    }
  }
  .list {
    height: 150px;
    overflow: auto;
    width: 100%;
    .loading {
      position: absolute;
      margin: auto;
      width: 50px;
      height: 50px;
      right: 0px;
      bottom: 0px;
      top: 0px;
      left: 0px;
    }
    .picker_item {
      display: flex;
      flex-direction: row;
      padding-left: 8px;
      padding-right: 8px;
      bottom: 0px;
      color: var(--black);
      height: 40px;
      font-weight: 500;
      width: 100%;
      box-sizing: border-box;
      border-top: 1px solid var(--grey-background);
      font-size: 14px;
      cursor: pointer;
      .text {
        display: inline-block;
        line-height: 40px;
        margin-left: 6px;
      }
      .board_emoji_picker {
        vertical-align: top;
        line-height: 40px;
      }
      .colorBloc {
        height: 30px;
        width: 4px;
        margin-top: 5px;
      }
    }
    .picker_item:hover {
      background: var(--primary-background);
      border-color: #fff;
    }
    .is_selected {
      background: var(--primary);
      color: #fff;
    }
  }
}
