# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master, 'feature/*' ]
  pull_request:
    branches: [ master, 'feature/*' ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install -g yarn
    - run: cd twake/frontend/ && yarn install
    - run: cd twake/frontend/ && yarn build
    - run: cd twake/frontend/ && cp src/app/environment/environment.ts.dist src/app/environment/environment.ts
    - run: cd twake/frontend/ && yarn test
