@import '~components/constants.scss';

.message {
  font-size: 14px;
  display: block;
  border-radius: var(--default-border-radius);
  display: flex;
  position: relative;
  margin-top: 8px;
  margin-left: 24px;
  margin-right: 24px;
  max-width: 1362px;
  width: calc(100% - 48px);
  display: inline-flex;
  text-align: left;
  box-sizing: border-box;

  .message_bloc_and_response {
    width: 100%;

    &.has_responses {
      border: 1px solid var(--grey-background);
      border-radius: var(--default-border-radius-large);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 4px;
      padding-bottom: 8px;
      margin: -4px;
      margin-bottom: 8px;

      .sender {
        min-width: 16px;
      }

      &:hover {
        .thread_footer .show_responses {
          opacity: 1;
        }
      }
    }

    /*&.is_response {
      border-left: 4px solid var(--grey-background);
      padding-left: 4px;
    }*/

    &.new.has_responses,
    &.new:not(.has_responses) .message_bloc.new {
      border-left: 4px solid var(--primary-background);
    }

    .message_bloc {
      display: flex;
      position: relative;
      padding: 5px;
      border-radius: var(--default-border-radius);

      &.edited {
        &:hover {
          background: transparent !important;
        }
      }

      &.starred {
        background: $yellow_background;

        &:hover,
        &.is_selected {
          background: $yellow_background;
        }
      }
      &.pinned {
        background: $primary_background;

        &:hover,
        &.is_selected {
          background: $primary_background;
        }
      }
      &.pinned {
        border-radius: 0 $base_border_radius $base_border_radius 0;
      }
      &.pinned::before {
        content: '';
        background: $primary;
        width: 4px;
        position: absolute;
        left: -4px;
        top: 0px;
        height: 100%;
        border-radius: 2px;
      }

      &:hover,
      &.is_selected {
        background: $primary_background;

        .sender {
          .date {
            opacity: 1;
          }
        }
      }

      &.ephemeral {
        box-sizing: border-box;
        width: 100%;
        z-index: 1;
        margin-bottom: 8px;
        margin-top: 0px;
        background: transparent;

        &:hover {
          background: transparent;
        }
      }

      &.response {
        .container {
          .message_container > .top {
            height: 16px;
            margin-bottom: 4px;
          }
        }

        .content {
          display: inline-block;
          margin-right: 5px;
        }

        &:hover,
        &.is_selected {
          //background: #00000008;
        }

        .sender {
          .user-image {
            width: 16px;
            height: 16px;

            &.is_app {
              border-radius: 2px;
            }
          }
        }
      }

      .sender {
        position: relative;
        margin-right: 4px;
        min-width: 24px;

        .user-image {
          width: 24px;
          height: 24px;
          background-size: cover;
          background-position: center;
          border-radius: var(--default-border-radius);

          &.is_app {
            border-radius: var(--default-border-radius);
          }
        }
      }

      .container {
        width: 100%;

        .message_container > .top {
          margin-bottom: 1px;
          width: 100%;
          overflow: hidden;
          display: flex;
          height: 24px;
          box-sizing: border-box;
          align-items: center;
          font-weight: 500;

          .user_fullname {
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
            margin-top: -1px;
            cursor: pointer;
          }

          .user_status {
            display: inline-block;
            font-size: 12px;
            color: $grey_dark;
            margin-left: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 400px;

            img.emojione {
              width: 12px;
              margin-top: -4px;
            }
          }

          .date {
            display: inline-block;
            font-size: 12px;
            color: $black;
            /*        flex: 1;
            min-width: 100px;*/
          }

          .starred {
            color: $yellow;
          }
          .pinned {
            color: $primary;
          }
          .starred,
          .pinned {
            display: inline-block;
            font-size: 12px;
            margin-left: 4px;
            font-weight: 500;
            .m-icon-small {
              vertical-align: bottom;
              font-size: 16px !important;
              margin-left: 5px;
              margin-right: 2px;
            }
          }
        }
      }

      .content {
        width: 100%;
        overflow: hidden;
        overflow-wrap: break-word;
        font-weight: 500;

        .edited {
          font-size: 12px;
          margin-left: 5px;
          opacity: 0.2;
          display: inline;
        }
      }

      .loader_message {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5px;
        bottom: 3px;
        border-radius: 50%;
      }

      &.without_title,
      &.response {
        margin-top: 0px;
        box-sizing: border-box;
        .loader_message {
          transform: translateY(5px);
        }
      }

      &:hover > .container > .message_container .message_options,
      &.is_selected > .container > .message_container .message_options {
        display: flex;
      }

      .message_options {
        display: none;
        position: absolute;
        right: -4px;
        top: -4px;
        background: #fff;
        border-radius: var(--default-border-radius);
        height: 24px;
        box-sizing: border-box;
        z-index: 2;
        box-shadow: 0 0px 0 0 rgba(0, 0, 0, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.15);

        &::after {
          //Help to access buttons (larger hoverable area)
          content: '';
          position: absolute;
          top: -10px;
          width: 120%;
          height: 30px;
          right: -10%;
          z-index: -1;
          background: transparent;
        }

        .option_button {
          padding: 3px;
          color: $black;
          cursor: pointer;
          width: 24px;
          text-align: center;
          border-right: 1px solid $grey_background;

          &:last-child {
            border-right: none;
          }

          &:hover,
          .selected {
            color: $primary;
          }
        }
      }

      .reactions {
        margin-top: 4px;
        margin-bottom: 4px;

        .reaction_container {
          width: auto;
          display: inline-block;
        }

        .reaction {
          display: inline-block;
          margin-right: 4px;
          border-radius: var(--default-border-radius);
          box-sizing: border-box;
          color: $black;
          height: 24px;
          min-width: 36px;
          border: 0;
          padding: 3px 4px;
          font-size: 14px;
          line-height: 16px;
          border: 1px solid $grey_background;
          background: $grey_background;
          font-weight: 500;
          cursor: pointer;

          .emojione-container {
            vertical-align: middle;
            min-width: 18px;
            display: inline-block;

            img {
              width: 14px;
              margin-right: 3px;
              margin-top: -4px;
            }
          }

          &.is_selected {
            border: 1px solid $primary;
            color: $primary;
            background: $primary_background;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.message_bloc_and_response .message {
  margin-top: 0px;
}

.message .message_bloc.system {
  background: transparent !important;
}

.message .message_bloc_and_response .responses {
  padding-left: 32px;
  font-weight: 500;

  .message {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .action_link {
    font-size: 12px;
    line-height: 18px;
    position: relative;
    display: inline-block;

    .m-icon-small {
      font-size: 14px !important;
      vertical-align: text-top;
    }
  }
  .thread_footer {
    width: 100%;
    display: flex;
    .add_response,
    .show_responses {
      margin-top: 3px;
    }
    .show_responses {
      margin-right: 8px;
      flex: 1;
      text-align: right;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}

.response_edited {
  margin-top: 10px;
  display: flex;

  .button {
    margin-top: 16px;
  }
}

.message .message_bloc_and_response .content_edited,
.response_edited {
  display: flex;

  .write_message .input .autocomplete {
    margin: 16px;
  }

  .button {
    margin-top: 16px;
  }

  .write_message {
    margin-bottom: 0px;
    margin-right: 16px;

    .input {
      background: $grey_background;
    }
  }
}

/* Messages types */
.message {
  .first_message {
    width: 100%;
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 10vh;

    .emojione {
      width: 88px;
      margin-bottom: 10px;
    }
    .icon {
      font-size: 88px;
    }

    .channel_first_message_icon {
      .user_image {
        width: 78px;
        height: 78px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 20px;
        border: 2px solid #fff;
        margin-left: -40px;

        &:first-child {
          margin-left: 0px;
        }
      }
    }

    .text {
      margin-top: 10px;
      opacity: 0.5;
    }
  }
}
