.message {
  text-align: left;
  .deleted-message {
    opacity: 0.5;
  }
  .message_is_loading {
    opacity: 0.5;
  }
  .message-not-sent.content {
    opacity: 0.5;
  }
  .alert_failed_icon {
    margin-left: 8px;
    margin-top: 0px;
    display: flex;
    color: var(--red);
  }
  .sender-space {
    width: 28px;
    margin-right: 8px;
    display: flex;
    justify-content: flex-end;
    .sender-head,
    .app_icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: var(--grey-background);
      background-size: cover;
      background-position: center;

      .online_user_status {
        position: relative;
        bottom: -20px;
        right: -20px;
      }
    }

    .sender-head {
      .user_online_stPPatus {
        right: -20px;
      }
    }
  }
  .message-content {
    flex: 1;
    min-width: 0;
    width: 0;

    &.link-to-thread {
      color: var(--grey-dark);
      .content-parent {
        &:before {
          content: '';
          position: absolute;
          left: 0px;
          height: 100%;
          width: 3px;
          border-radius: 2px;
          background: var(--grey-light);
        }
        position: relative;
        padding-left: 8px;
      }
      .sender-status {
        display: none;
      }
    }
    .message-content-header-container {
      position: relative;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .message-content-header {
        position: relative;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;

        .sender-name {
          font-weight: 700;
          margin-right: 4px;
          cursor: pointer;
        }
        .sender-status {
          font-size: 12px;
          color: var(--grey-dark);
          margin-right: 4px;
        }
        .reply-text {
          margin-right: 4px;
          a,
          a * {
            display: inline;
          }
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .date {
          color: var(--grey-dark);
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .message_header_loader {
        height: 16px;
        width: 16px;
        margin-left: 4px;
      }
    }
  }

  .message-options {
    position: absolute;
    background-color: var(--white);
    height: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--grey-light);
    display: block;
    top: -16px;
    margin: auto;
    right: 8px;
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &.drag {
      left: -8px;
      right: unset;
      display: none;

      .option,
      .option:hover {
        min-width: 28px;
        color: var(--primary);
        cursor: grab;
      }
    }

    .separator {
      height: 100%;
      border-right: 1px solid var(--grey-light);
    }

    .option {
      min-width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--grey-dark);
      cursor: pointer;
      margin: 4px;
      border-radius: 4px;

      &:hover {
        color: var(--black);
        background-color: var(--primary-background);
      }

      &.active {
        border: 1px solid var(--primary);
        background-color: var(--primary-background);
      }
    }
  }
  .message-content.active {
    .message-options.right {
      opacity: 1;
    }
  }
  &:hover {
    .message-options {
      opacity: 1;
    }
  }

  .message-content.loading-interaction {
    opacity: 0.5;
    pointer-events: none;
  }

  .reactions {
    padding-top: 8px;

    .reaction_container {
      width: auto;
      display: inline-block;
    }

    .reaction {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
      border-radius: var(--border-radius-base);
      box-sizing: border-box;
      color: var(--black);
      height: 24px;
      min-width: 36px;
      border: 0;
      padding: 3px 4px;
      font-size: 14px;
      line-height: 16px;
      border: 1px solid var(--grey-background);
      font-weight: 500;
      cursor: pointer;

      .emoji-container {
        margin-right: 4px;
        line-height: 0px;
      }

      &.is_selected {
        border: 1px solid var(--primary);
        color: var(--primary);
        background: var(--white);
      }

      &:hover {
        background: var(--primary-background);
      }
    }
  }
}

body:not(.drag_message) {
  .draggable {
    .message-options.drag {
      display: flex;
    }
  }
}
