.new-thread-button {
  .message {
    align-items: center;
    color: var(--secondary);
    .plus-icon {
      margin-right: 8px;
    }
  }
  .thread.with-block {
    cursor: pointer;
    width: auto;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      .thread.with-block {
        box-shadow: none;
      }
    }
  }
}

.new-thread {
  .message-input {
    .upload-zone-centerer {
      margin-top: 8px;
    }
  }
}

.message-input {
  flex: 1;
  background: #fff;

  &.loading {
    opacity: 0.5;
    pointer-events: none;
  }

  &.unfocused {
    opacity: 0.5;
    .input-options {
      opacity: 0.5;
    }
  }

  .autocomplete {
    div.input {
      background: #fff;
      textarea.input {
        background: #fff;
      }
    }
    .input.small {
      margin-top: -2px;
      padding: 0;
    }
    .input.autoheight_container.small textarea {
      padding-left: 0px;
    }
  }

  .editorview-submit {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    .editor {
      display: block;
      width: 100%;
    }

    .submit-button {
      display: flex;
      align-self: flex-start;
      color: var(--primary);
      opacity: 50%;
      cursor: not-allowed;

      &.disabled{
        pointer-events: none;
      }

      &:not(.disabled):hover {
        color: var(--primary-hover);
      }

      &:not(.disabled) {
        cursor: pointer;
        color: var(--primary);
        opacity: unset;
      }

    }
  }

  .counter-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 0;
  }

  .input-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin-top: 8px;

    button {
      width: 28px;
      height: 28px;
      padding: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        margin-right: 2px;
      }

      &:hover {
        background-color: var(--grey-background);
      }
    }
  }

  .input-options {
    height: 28px;
    display: flex;
    flex-direction: row;
    flex: 1;

    .option {
      color: var(--grey-light);

      &:first-child {
        margin-left: -4px;
      }

      &:not(.disabled):hover {
        color: var(--black);
      }

      &:not(.disabled) {
        cursor: pointer;
        color: var(--grey-dark);
      }

      .messages-input-app-icon {
        width: 16px;
        height: 16px;
        background-position: center;
        background-size: contain;
        border-radius: var(--border-radius-base);
      }
    }

    .richtext {
      &.selected {
        background: var(--primary-background);

        .option {
          color: var(--primary);
        }
      }
    }
  }

  .upload-zone-centerer {
    margin: 0 auto;
    min-width: 0;
    width: 100%;
    position: relative;
  }

  .ephemerals {
    text-align: left;

    .thread-section {
      width: 100%;
      padding-bottom: 8px;
      .message {
        padding: 0px;
      }
    }

    .ephemerals_text {
      font-size: 12px;
      color: var(--grey-dark);
      padding-bottom: 12px;
      max-width: 1362px;
      width: calc(100% - 48px);
      display: inline-flex;
      text-align: left;
    }
  }
}

.small-section.alinea {
  .ephemerals .thread-container .sender-space {
    width: 16px;
  }
}

.attached-files-container {
  width: 100%;

  .attached-file {
    margin-right: 8px;
  }
}
