{% extends "Mail/en/all.html.twig" %}

{% block title %}Подтвердить новую электронную почту{% endblock %}

{% block secondtitle %}Подтвердить новую электронную почту{% endblock %}

{% block body %}

    <b>Здравствуйте {{ username|capitalize }},</b>
    <br>
    Чтобы добавить эту электронную почту в свой аккаунт, используйте этот код. :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #837dff;">
            {{ code }}
        </div>
    </center>

{% endblock %}