@import '~components/constants.scss';

.boardPicker {
  max-height: 250px;
  overflow: auto;
  width: 100%;

  .board_frame {
    vertical-align: top;
    width: 216px;
    height: 60px;
    border: 1px solid $grey_light;
    border-radius: var(--default-border-radius);
    margin-bottom: 16px;
    margin-right: 16px;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    &:hover {
      border-color: #fff;
      box-shadow: 4px 4px 16px 0 #00000022;
    }

    .board_name {
      line-height: 24px;
      height: 24px;
    }

    img.emojione {
      margin-right: 8px;
      margin-top: -4px;
    }

    .board_info {
      display: none;
    }
  }
}

.tasks_app {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 32px;
  padding-bottom: 15px !important;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;

  .app_title {
    .emoji-container {
      margin-right: 6px;
      margin-top: -4px;
    }
    .user_head {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      margin-top: -4px;
    }
  }

  .board_add {
    width: 22px;
    height: 22px;
    line-height: 20px;
    padding-top: 2px;
    vertical-align: middle;
    opacity: 0.8;
    margin-top: 35px;
    &:hover {
      opacity: 1;
    }
    .m-icon-small {
      font-size: 18px !important;
    }
  }

  .board_frame {
    vertical-align: top;
    width: 216px;
    height: 90px;
    border: 1px solid $grey_light;
    border-radius: var(--default-border-radius);
    margin-bottom: 16px;
    margin-right: 16px;
    display: inline-block;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    &:hover {
      border-color: #fff;
      box-shadow: 4px 4px 16px 0 #00000022;
    }

    .board_name {
      line-height: 24px;
      height: 24px;
    }

    img.emojione {
      margin-right: 6px;
      margin-top: -4px;
    }

    .board_info {
      font-size: 14px;
      color: $grey_dark;
    }

    .options {
      opacity: 0;
      position: absolute;
      right: 16px;
      top: 16px;
      .m-icon-small {
        font-size: 20px !important;
      }
    }
    &:hover {
      .options {
        opacity: 1;
      }
    }
  }

  .team_member {
    display: inline-flex;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 176px;
    height: 42px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: var(--default-border-radius);
    cursor: pointer;

    .user_head {
      display: inline-block;
    }

    .team_username {
      flex: 1;
      text-align: left;
      margin-left: 8px;
      min-width: 0px;
      .name {
        margin-top: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 4px;
      }
      .username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        color: $grey_dark;
      }
    }
  }
}

.unconfigured_tab {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto;
}
