{% extends "TwakeCoreBundle:Mail:fr:all.html.twig" %}

{% block title %} Votre demande de nouveau mot de passe {% endblock %}

{% block secondtitle %} Votre demande de nouveau mot de passe  {% endblock %}

{% block body %}

    <b> Bonjour {{ username }},</b>
    <br>
    Vous avez demandé un nouveau mot de passe, voici le code d'activation dont vous avez besoin :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #057CD7; border: solid 1px #057CD7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #057CD7;">
        {{ code }}
    </div>
    </center>

{% endblock %}